<div class="BoxnameUser">
    <div class="leftuser"><img src="/static/img/brandlogo.png" width="51" height="17"></div>
    <div class="rightuser">
        <h3>Oussema Ben Salem</h3>
        <p>Viens de gagner 1.200<sup>DT</sup></p>
    </div>
</div>
