/**
 * Variables
 */
/**
 * Wrapper
 */
.combo-select .messages {
	color: #fe0000;
    display: none;
    font-size: 15px;
    position: absolute;
    top: 37px;
    width: 100%;
}
.combo-select.error .messages{
	display:block;	
}
.combo-select {
	
	/*max-width: 545px;*/
	margin-bottom: 15px;
	text-align:left;
	
}
.combo-select .combo-input {
	margin-bottom: 0;
}
/**
 * Input field
 */
.combo-input {
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	margin: 0;
	text-overflow: ellipsis;
	white-space: nowrap;
	border: none;
	width: 100%;
	 background-color: #efefef;
    background-image: none;
    border: medium none;
    border-radius: 0;
    box-shadow: none;
    color: #222222;
    display: block;
    font-size: 14px;
    height: 42px;
    line-height: 1.42857;
    padding: 6px 15px 6px 53px;
}
.combo-input:focus {
	outline: none;
}
/**
 * Arrow
 */
.combo-arrow {
	position: absolute;
	background:url(../img/icons/next_right.png) center no-repeat;
	right: 0;
	top: 0;
	height: 100%;
	cursor: pointer;
	text-align: center;
	font-size: 14px;
	width: 40px;
	color: #000000;
}
/*.combo-arrow:before {
	content: " ";
	border-left: 10px solid transparent;
	border-right: 10px solid transparent;
	border-top: 10px solid #000000;
	display: block;
	width: 0;
	height: 0;
	top: 0;
	right: 15px;
	bottom: 0;
	position: absolute;
	margin: auto 0;
}*/
/**
 * When opened
 */
.combo-open .combo-arrow {
	background:url(../img/icons/top_next_right.png) center no-repeat;
}
.combo-open .combo-arrow:before {
	border-top: none;
	border-bottom: 10px solid #000000;
}
/**
 * When focused
 */
.combo-focus {
	box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
	border-color: #51A7E8;
}
.combo-focus input {
	border-color: #51A7E8;
}
/**
 * Hide native select
 */
.combo-select select {
	position: absolute;
	z-index: 1;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	-webkit-appearance: none;
	opacity: 0;
}
 @media only screen and (min-width: 960px) {
 .combo-select select {
 left: -1px;
 top: -1px;
 width: 0;
 height: 0;
 margin: 0;
}
}
/**
 * Selected option
 */
.option-selected {
	background-color: rgba(148, 0, 38, 0.8);
	color: #fff;
}
/**
 * Hovered option
 */
.option-hover {
	background-color: rgba(148, 0, 38, 0.8);
	color: #fff !important;
}
/**
 * Option item
 */
.option-item {
	cursor: pointer;
}
.option-item:hover {
	background-color: rgba(148, 0, 38, 0.6);
	color: #fff;
}
.option-item:last-child {
	border-bottom: none;
}
/**
 * Disabled and optgroups
 */
.option-group {
	cursor: text;
	font-weight: 600;
	background: #e1e1e1;
	border: 1px #ccc solid;
	border-width: 1px 0;
}
.combo-input placeholder {
	color:#000000;
}
/**
 * Disabled
 */
.option-disabled {
	opacity: 1;
}
/**
 * Dropdown
 */
.combo-dropdown {
	position: absolute;
	z-index: 1;
	top: 100%;
	left: 0;
	min-width: 100%;
	max-width: 300px;
	max-height: 300px;
	margin: 0;
	padding: 0;
	display: none;
	overflow-y: auto;
	background: #d7d7d7 ;
	border-radius: 0;
	/*box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);*/
	box-sizing: border-box;
}
.combo-dropdown li {
	color: #000;
	font-size: 14px;
	list-style: outside none none;
	margin: 0;
	padding: 10px 1em;
}
/**
 * On Active
 */
.combo-open .combo-dropdown {
	display: block;
}
/**
 * Search marker
 */
.combo-marker {
	text-decoration: underline;
}
