@import url(http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,400,300,600,700);
@import url(http://fonts.googleapis.com/css?family=Noto+Sans);
@font-face {
	font-family: 'mic_32regular';
	src: url('../fonts/ufonts.com_mic_32regular-webfont.eot');
	src: url('../fonts/ufonts.com_mic_32regular-webfontd41d.eot?#iefix') format('embedded-opentype'), url('../fonts/ufonts.com_mic_32regular-webfont.woff') format('woff'), url('../fonts/ufonts.com_mic_32regular-webfont.html') format('truetype'), url('../fonts/ufonts.com_mic_32regular-webfont.svg#mic_32regularregular') format('svg');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'mic_32bold';
	src: url('../fonts/ufonts.com_mic_32bold-webfont.eot');
	src: url('../fonts/ufonts.com_mic_32bold-webfontd41d.eot?#iefix') format('embedded-opentype'), url('../fonts/ufonts.com_mic_32bold-webfont.woff') format('woff'), url('../fonts/ufonts.com_mic_32bold-webfont.html') format('truetype'), url('../fonts/ufonts.com_mic_32bold-webfont.svg#mic_32boldregular') format('svg');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'MyriadProRegular';
	src: url('../fonts/myriadpro-regular.eot');
	src: url('../fonts/myriadpro-regular.eot') format('embedded-opentype'), url('../fonts/myriadpro-regular.woff') format('woff'), url('../fonts/myriadpro-regular.html') format('truetype'), url('../fonts/myriadpro-regular.svg#MyriadProRegular') format('svg');
}
@font-face {
	font-family: 'MyriadProSemibold';
	src: url('../fonts/myriadpro-semibold.eot');
	src: url('../fonts/myriadpro-semibold.eot') format('embedded-opentype'), url('../fonts/myriadpro-semibold.woff') format('woff'), url('../fonts/myriadpro-semibold.html') format('truetype'), url('../fonts/myriadpro-semibold.svg#MyriadProSemibold') format('svg');
}
@font-face {
	font-family: 'open_sanssemibold';
	src: url('../fonts/opensans-semibold-webfont.eot');
	src: url('../fonts/opensans-semibold-webfontd41d.eot?#iefix') format('embedded-opentype'), url('../fonts/opensans-semibold-webfont-2.html') format('woff2'), url('../fonts/opensans-semibold-webfont.woff') format('woff'), url('../fonts/opensans-semibold-webfont.html') format('truetype'), url('../fonts/opensans-semibold-webfont.svg#open_sanssemibold') format('svg');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'open_sansregular';
	src: url('../fonts/opensans-regular-webfont.eot');
	src: url('../fonts/opensans-regular-webfontd41d.eot?#iefix') format('embedded-opentype'), url('../fonts/opensans-regular-webfont-2.html') format('woff2'), url('../fonts/opensans-regular-webfont.woff') format('woff'), url('../fonts/opensans-regular-webfont.html') format('truetype'), url('../fonts/opensans-regular-webfont.svg#open_sansregular') format('svg');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'open_sansbold';
	src: url('../fonts/opensans-bold-webfont.eot');
	src: url('../fonts/opensans-bold-webfontd41d.eot?#iefix') format('embedded-opentype'), url('../fonts/opensans-bold-webfont-2.html') format('woff2'), url('../fonts/opensans-bold-webfont.woff') format('woff'), url('../fonts/opensans-bold-webfont.html') format('truetype'), url('../fonts/opensans-bold-webfont.svg#open_sansbold') format('svg');
	font-weight: normal;
	font-style: normal;
}
* {
	padding: 0;
	margin: 0;
}
 [class^="icon24-"], [class*=" icon24-"] {
 margin: 0 auto 16px;
 background-image: url(../img/slider/share_icons.png);
 background-repeat: no-repeat;
 display: block;
 height: 30px;
 line-height: 30px;
 vertical-align: text-top;
 width: 24px;
}
.icon24-share {
	background-position: 0 0;
}
.icon24-share:hover {
	background-position: 0 -32px;
	transition: all 0.2s;
	-moz-transition: all 0.2s;
	-webkit-transition: all 0.2s;
	-o-transition: all 0.2s;
}
.icon24-email {
	background-position: -44px 0;
}
.icon24-email:hover {
	background-position: -44px -32px;
	transition: all 0.2s;
	-moz-transition: all 0.2s;
	-webkit-transition: all 0.2s;
	-o-transition: all 0.2s;
}
/*! Kleema v.1.0 - main.css
 *
 * @note :
 * @author :
 * @author URL :
 ---------------------------------------------------------------------------- */
/* ----------------------------
 *
 * Global
 *
 * --------------------------- */
/* Import External Stylesheet */
html {
	 height:100%
}
body {
	font-size: 14px;
	font-family: 'Open Sans', sans-serif;
	padding-top: 0px;
	padding-bottom: 0px;
	background: #FFF;
	color: #000000;
}
.navbar-fixed-top {
	z-index: 9999;
}
.navbar-fixed-top .logoHolder {
	padding: 5px 0 7px;
	position: relative;
}
.navbar-fixed-top .logoHolder > a img {
	height: auto;
	max-width: 120px;
}
.navbar-fixed-top .nav-pills > li > a {
	padding: 20px !important;
}
.navbar-fixed-top .mainMenuHolder {
	height: 62px;
	position: relative;
}
.navbar {
	-webkit-border-radius: 0px;
	-moz-border-radius: 0px;
	border-radius: 0px;
	display: block;
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 9999;
}
.navbar-inverse {
	background: rgba(79, 19, 35, 0.8);
 filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#CC4f1323, endColorstr=#CC4f1323);
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#CC4f1323, endColorstr=#CC4f1323)";
	border-color: transparent;
}
.logoHolder {
	position: relative;
	padding: 9px 0px 7px;
}
.logoHolder > a img {
	max-width: 200px;
	height: auto;
}
.mainMenuHolder {
	height: 75px;
	position: relative;
}
.mainMenu {
}
.nav-pills > li + li {
	margin: 0;
}
.nav-pills > li > a {
	-webkit-border-radius: 0px !important;
	-moz-border-radius: 0px !important;
	border-radius: 0px !important;
	padding: 38px 20px !important;
	font-size: 16px;
}
ul.nav li a.primary {
	background-color: rgba(181, 43, 78, .75) !important;
}
ul.nav li a.primary:hover {
}
ul.nav li a.info {
/*	margin-left: 82px;*/
}
.nav-pills > li.active > a, .nav-pills > li.active > a:hover, .nav-pills > li.active > a:focus {
	background-color: rgba(181, 43, 78, .75) !important;
}
.nav-pills > li > a:hover, .nav-pills > li > a:focus {
	background-color: rgba(181, 43, 78, .75) !important;
	color: #fff;
	outline: 0;
	text-decoration: none;
}
ul.nav li a.info {
	background: rgba(255, 255, 255, 0.75);
 filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#bfFFFFFF, endColorstr=#bfFFFFFF);
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#bfFFFFFF, endColorstr=#bfFFFFFF)";
}
ul.nav li a.info:hover {
}
.socialListHolder {
	/* width: 112px; */
	position: relative;
}
.loginFormHeader {
}
.loginFormHeader ul {
}
.loginFormHeader ul li {
}
.loginFormHeader ul li a {
	color: #FFF;
	font-size: 14px;
	padding: 5px 10px
}
.loginFormHeader ul li a:hover {
	color: #DDD;
}
.loginFormHeader ul li a.primary {
	border-radius: 3px;
	background-color: #a00028;
}
.loginFormHeader ul li a.primary:hover {
}
.divider-vertical {
	height: 20px;
	margin: 6px 0px;
	border-left: 1px solid #999;
}
.mainScreen {
}
.blocInfos {
	position: relative;
	padding: 40px 0 0;
	/*background:transparent url(../img/bgpink.jpg) 0 0 no-repeat;*/
	background: transparent url(../img/bg-block-infos.jpg);
	min-height: 55px;
}
.pub-skining .blocInfos .container {
	display: none;
}
.pub-skining .box-btn-toogle {
	display: block;
}
.pub-skining .content-page .container {
	margin-top: 340px;
}
.pub-skining .margtop {
	margin-top: 0 !important;
}
.pub-skining .content-page {
	background: url(../img/bg/bg-1.png) no-repeat;
	overflow: hidden;
}
.blocInfos h2 {
	color: #ffffff;
	text-transform: uppercase;
	font-size: 34px;
	margin:0 0 30px;
}
.blocInfos h3 {
	color: #ffffff;
	text-transform: uppercase;
	font-family: 'MyriadProSemibold';
	font-size: 26px;
	margin: 0 0 10px;
	padding: 25px 0 0;
}
.text-concept {
	font-size: 18px;
	color: #222222;
	text-align: right;
	font-weight: 600;
}
.creatCompte {
	background: rgba(54, 14, 26, .8);
	color: #ffffff;
	font-size: 20px;
	line-height: 50px;
	padding: 0 25px;
	display: inline-block;
	transition: all 0.2s;
	-moz-transition: all 0.2s;
	-webkit-transition: all 0.2s;
	-o-transition: all 0.2s;
	font-weight: normal;
	margin: 10px 0 0;
}
.creatCompte:hover {
	background: #a8d314 ;
	transition: all 0.2s;
	-moz-transition: all 0.2s;
	-webkit-transition: all 0.2s;
	-o-transition: all 0.2s;
	color: #ffffff;
}
.bgSep {
	width: 1px;
	height: 396px;
	position: absolute;
	left: 50%;
	bottom: 0px;
	z-index: 999;
	margin-left: -0.5px;
	background: transparent url(../img/separator.png) right bottom no-repeat;
}
.vuglob {
	padding-top: 25px;
}
.vueGlobale {
	padding : 0 20px 10px 0;
}
.leConcept {
	background: url("../img/separator.png") no-repeat 35px -35px;
    min-height: 325px;
    padding: 0 0 20px 50px;
}
.partleft .stats {
	margin: 15px 0 0;
}
.slogan {
}
.slogan h1 {
	margin: 0px;
	color: #FFF;
	font-size: 20px;
	font-weight: 600;
	text-align: center;
	line-height: 28px;
}
.slogan h2 {
	margin: 0px;
	color: #EFEFEF;
	font-size: 12px;
	font-weight: 600;
	text-align: center;
	line-height: 20px;
}
.bannercontainer {
	width: 100%;
	position: relative;
	padding: 0;
	z-index: 1;
}
.banner {
	width: 100%;
	position: relative;
}
#banner-overlay {
	width: 100%;
	height: 100%;
	background: transparent url(../img/pattern.png) repeat left top;
	background-size: 100% 100%;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 1;
}
.play {
	width: 110px;
	height: 106px;
	display: block;
	background: transparent url(../img/slider/btn_play.png) no-repeat 0 0;

}
.play:hover {
	background: transparent url(../img/slider/btn_play.png) no-repeat 0 -107px;

}
.sharebox {
	padding: 15px 0 0 20px;
	background: transparent url(../img/slider/separator_green.png) left center no-repeat;
}
.tp-bullets {
	background: transparent url(../img/slider/stroke.png) center bottom no-repeat;
}
.tp-bullets.hidebullets {
	opacity: 1;
	filter: alpha(opacity=100);
}
.tp-bullets.simplebullets.round .bullet {
	height: 41px;
	width: 41px;
	background-image: url(../img/slider/bullet.png);
	float: none;
	margin-bottom: 30px;
}
.tp-bullets.simplebullets.round .bullet.first {
	margin-top: 40px;
}
.tp-bullets.simplebullets.round .bullet.last {
	margin-bottom: 40px;
}
.tp-caption.largepinkbg {
	background-color: #b52b4e;
	font-size: 20px;
	line-height: 40px;
	-webkit-border-radius: 20px;
	-moz-border-radius: 20px;
	border-radius: 20px;
}
/* ----------------------------
 *
 * Chart + Stats
 *
 * --------------------------- */
.chartHolder {
	position: relative;
	width: 130px;
	margin: 0 auto
}
.chartHolderSmall {
	position: absolute;
	right: 10px;
	bottom: 7px;
	width: 48px;
	margin: 0 auto
}
.chart.red.scaleColor {
	color: #ffffff !important;
	background: #ffffff !important;
}
.chart {
	position: relative;
	display: table;
	width: 225px;
	height: 225px;
	margin-top: 0px;
	margin-bottom: 40px;
	text-align: center;
}
.chart-small {
	position: relative;
	display: inline-block;
	width: 48px;
	height: 48px;
	margin-top: 0px;
	margin-bottom: 0px;
	text-align: center;
}
.chart-medium {
	width: 110px;
	height: 110px;
	margin-bottom: 20px;
}
.chart-large {
	width: 130px;
	height: 130px;
	margin-bottom: 40px;
}
.chart canvas {
	position: absolute;
	top: 0;
	left: 0;
	opacity: 0.4;
	filter: alpha(opacity=40); /* For IE8 and earlier */
}
.chart-small canvas {
	position: absolute;
	top: 0;
	right: 0;
}
.chart .percent {
	font-family: 'Georgia', sans-serif;
	display: table-cell;
	z-index: 2;
	font-size: 18px;
	color: #ffffff;
	font-weight: 700;
	vertical-align: middle;
}
.percent sup {
	font-family: 'Georgia', sans-serif;
	font-weight: 600;
	font-size: 9px;
	position: relative;
	top: -4px;
}
.chart-small .percent {
	font-family: 'Open Sans', sans-serif;
	display: inline-block;
	line-height: 48px;
	z-index: 2;
	font-size: 12px;
	color: #ffffff;
	font-weight: 600;
}
.percent-small {
	line-height: 100px;
	font-size: 18px;
}
.percent-medium {
	line-height: 100px;
	font-size: 18px;
}
.large {
	line-height: 130px;
	font-size: 18px;
}
.chart label, .chart .percent span {
	font-weight: 300;
	color: #EFEFEF;
	font-family: Open Sans, sans-serif;
	text-align: center;
	font-size: 12px;
}
.chart.red .percent {
	color: #ffffff !important;
}
.chart.green .percent {
	color: #2ABC68 !important;
}
.chart.blue .percent {
	color: #2ABC68 !important;
}
.chart p {
	height: 20px;
	width: 101px;
	position: Absolute;
	bottom: 33px;
	left: 24px;
	font-size: 12px;
	color: #000;
	font-weight: 500;
}
.angular {
	margin-top: 100px;
}
.angular .chart {
	margin-top: 0;
}
.stats {
	margin: 2px 0 0;
}
.stats .fa-stack {
}
.stats .fa-stack-1x {
	color: #ffffff;
}
.stats .fa-circle {
	opacity: 0.7;
	filter: alpha(opacity=70); /* For IE8 and earlier */
}
.statsTitle {
	color: #ffffff;
	font-size: 20px;
	font-weight: 600;
	line-height: 20px;
	margin-bottom: 0;
	margin-top: 5px;
}
.statsSubTitle {
	color: #ffffff;
	font-size: 14px;
}
/* ----------------------------
 *
 * Panel
 *
 * --------------------------- */
.content-panel {
	display: block;
	position: relative;
}
.content-panel .panel-title {
	display: block;
	position: relative;
	background-color: transparent;
	border-radius: 3px;
	-moz-border-radius: 3px;
	padding: 12px 18px;
	color: #000;
	margin-bottom: 5px;
}
.content-panel .panel-title h2 {
	color: #000;
	font-size: 26px;
	font-family: 'MyriadProSemibold';
	font-weight: normal;
	margin-top: 0px;
	margin-bottom: 0px;
	text-transform: uppercase;
	text-align: center;
}
.content-panel .panel-title .right {
	position: absolute;
	top: 14px;
	right: 18px;
	text-align: right;
	line-height: 150%;
	font-size: 0;
}
.content-panel .panel-title .right a {
	display: inline-block;
	margin-left: 9px;
	color: rgba(255, 255, 255, 0.3);
	font-size: 14px;
	line-height: 150%;
	padding: 0 3px;
}
.content-panel .panel-title .right a.active, .content-panel .panel-title .right a:hover {
	color: #f0f0f0;
}
.content:after {
	display: block;
	clear: both;
	content: '';
}
/* ----------------------------
 *
 * Video Thumbnails
 *
 * --------------------------- */
.videoItem {
	display: inline-block;
	float: left;
	width: 33.3333%;
	background-color: #fff;
	position: relative;
	border-radius: 0px;
	-moz-border-radius: 0px;
	-webkit-border-radius: 0px;
	overflow: hidden;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
}
.videoItem:after {
}
#blocVideos .videoItem .boxPicture {
	width: 100%;
	max-height: 185px;
	background-color: #000;
	overflow: hidden;
}
#blocVideos .videoItem:nth-child(even) .boxPicture {
	width: 100%;
	background-color: #b52b4e;
	overflow: hidden;
}
#blocVideosTS .videoItem .boxPicture {
	width: 100%;
	max-height: 185px;
	background-color: #b52b4e;
	overflow: hidden;
}
#blocVideosTS .videoItem:nth-child(even) .boxPicture {
	width: 100%;
	background-color: #000;
	overflow: hidden;
}
.videoItem .videoItemContent {
	position: absolute;
	left: 10px;
	bottom: 7px;
}
.videoItem .videoItemContent > h3 {
	display: block;
	/*font-size: 14px;*/
	font-size: 20px;
	line-height: 100%;
	margin-top: 0px;
	margin-bottom: 0px;
	text-transform: uppercase;
}
.videoItemContent > h3 a {
	color: #fff
}
.videoItem .videoItemContent > .videoMeta {
	opacity: 1;
	filter: alpha(opacity=100);
	transition: all 0.2s;
	-moz-transition: all 0.2s;
	-webkit-transition: all 0.2s;
	-o-transition: all 0.2s;
}
.videoItem:hover .videoItemContent > .videoMeta {
	opacity: 1;
	filter: alpha(opacity=100);
}
.videoMeta {
	display: block;
	margin-bottom: 4px;
}
.videoMeta a {
	display: block;
	/* font-size:10px;*/
	font-size: 12px;
	color: #ffffff;
	text-decoration: none;
}
.videoMeta a:hover {
	color: #a00028;
	text-decoration: none;
}
/* ----------------------------
 *
 * img-hover-effect
 *
 * --------------------------- */
.img-hover-effect {
	display: inline-block;
	width: 100%;
	position: relative;
	overflow: hidden;
	background: #eee url(../img/video-load.gif) no-repeat center center;
	opacity: 1;
	filter: alpha(opacity=50);
}
#blocVideosTS .img-hover-effect, #blocVideos .img-hover-effect {
	opacity: 0.5;
	filter: alpha(opacity=50);
}
.img-hover-effect:before {
	display: block;
	content: '';
	position: absolute;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
	background: rgba(255, 255, 255, 0.3);
	z-index: 2;
	opacity: 0;
	filter: alpha(opacity=0);
	transition: all 0.2s;
	-moz-transition: all 0.2s;
	-webkit-transition: all 0.2s;
	-o-transition: all 0.2s;
}
.img-hover-effect:hover:before {
	opacity: 1;
	filter: alpha(opacity=100);
}
.img-hover-effect.loadingvideo .hoveringel, .img-hover-effect.loadingvideo:before {
	display: none!important;
}
.img-hover-effect .hoveringel {
	display: block;
	position: absolute!important;
	text-align: center;
	line-height: 100%;
	left: -30%;
	top: 30%;
	width: 100%;
	height: 100%;
	color: rgba(255, 255, 255, 0.9);
	/*text-shadow: 0 0 40px rgba(0,0,0,0.6);*/
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	opacity: 0;
	filter: alpha(opacity=0);
	transition: all 0.2s;
	-moz-transition: all 0.2s;
	-webkit-transition: all 0.2s;
	-o-transition: all 0.2s;
	-ms-transform: rotate(120deg);
	-webkit-transform: rotate(120deg);
	transform: rotate(120deg);
}
.img-hover-effect:hover .hoveringel {
	top: 0px;
	left: 0px;
	opacity: 1;
	filter: alpha(opacity=100);
	-ms-transform: rotate(0deg);
	-webkit-transform: rotate(0deg);
	transform: rotate(0deg);
}
.img-hover-effect .hoveringel i.fa {
	font-size: 10px!important;
	transition: all 0.2s;
	-moz-transition: all 0.2s;
	-webkit-transition: all 0.2s;
	-o-transition: all 0.2s;
}
.img-hover-effect:hover .hoveringel i.fa {
	font-size: inherit!important;
}
.img-hover-effect img {
	display: block;
}
/* ----------------------------
 *
 * video Details
 *
 * --------------------------- */
.btnClose {
	display: block;
	width: 22px;
	height: 29px;
	position: absolute;
	right: 10px;
	top: 10px;
}
.btnClose:hover {
	color: #FFF;
}
.videoDetailsHolder {
	position: relative;
	min-height: 640px;
}
.videoDetails {
	position: absolute;
	right: 10%;
	width: 38.2%;
	height: 640px;
	padding: 100px 15px 0px;
	background-color: rgba(0, 0, 0, 0.8)
}
.videoDetails h1 {
	margin: 0px 0px 0px 0px;
	padding: 0px 0px 0px 0px;
	font-family: 'mic_32regular';
	text-transform: uppercase;
	font-size: 38px;
	font-weight: bold;
	border: 0px;
	color: #FFF;
}
.videoDetails h2 {
	margin: 0px 0px 0px 0px;
	padding: 0px 0px 0px 0px;
	font-family: 'mic_32regular';
	font-size: 22px;
	font-weight: bold;
	color: #FFF;
}
.videoDetails h3 {
	margin: 0px 0px 0px 0px;
	padding: 0px 0px 0px 0px;
	font-family: 'mic_32regular';
	font-size: 18px;
	font-weight: bold;
	color: #FFF;
}
.btnPlayHolder {
}
.btnPlay {
	display: block;
	position: relative;
	margin: 0px auto;
	width: 70px;
	transition: background-color 0.5s ease;
}
.btnPlay:hover {
	color: #fff;
}
.btnShare {
	color: #999
}
.btnShare:hover {
	color: #ffd800 !important;
}
.btnSendFriend {
	color: #999
}
.btnSendFriend:hover {
	color: #37509b !important;
}
#myvid {
	width: 100%;
	height: 100%; /* actually taller than viewport */
}
video {
	background-color: black;
 background-image: /* our video */;
	background-position: center center;
	background-size: contain;
}
#clock {
	position:absolute;
	top:0;
	left:54%;
	z-index:1000;
	font-size: 80px;
	text-align: center;
	margin: 40px 0 25px;
	/* color: rgba(0, 0, 0, .6); */
	color: rgb(152, 36, 65);
	font-family: 'mic_32bold';
	-webkit-transition: opacity 0.5s ease;
	-moz-transition: opacity 0.5s ease;
	-ms-transition: opacity 0.5s ease;
	-o-transition: opacity 0.5s ease;
	transition: opacity 0.5s ease;
}
#clock  span {display:inline-block;}
#clock  span.dateStyle {
	display:block;
	font-size:20px;
	font-family:mic_32regular;
	margin-top:-20px;
}
.opacity0 {
	opacity: 0;
}
/* ----------------------------
 *
 * widget
 *
 * --------------------------- */
.widget {
	margin-bottom: 20px;
}
.widget .widget-title {
	display: block;
	position: relative;
	background: transparent;
	border-radius: 0px;
	-webkit-border-radius: 0px;
	-moz-border-radius: 0px;
	padding: 0px;
	margin-bottom: 10px;
}
.widget .widget-title h3 {
	font-size: 21px;
	font-family: 'MyriadProSemibold';
	font-weight: normal;
	margin-top: 0px;
	margin-bottom: 0px;
	color: #000;
	text-transform: uppercase;
}
.widget .widget-content {
	background-color: #FFF;
	padding: 0px;
	border-radius: 0px;
	-moz-border-radius: 0px;
}
.widget .widget-banner a {
	display: block;
	position: relative;
	margin: 0 auto;
	width: 300px;
}
/* ----------------------------
 *
 * Footer
 *
 * --------------------------- */

.footer {
	display: block;
	background: #000000;
	padding: 20px 0;
	margin-bottom: 0px;
	padding-bottom: 0px;
}
.footer .footerBox > h3 {
	position: relative;
	padding-bottom: 15px;
	font-size: 18px;
	font-weight: 600;
	color: #232323;
	line-height: 120%;
}
.footer .footerBox > h3:after {
	position: absolute;
	display: block;
	content: '';
	width: 100%;
	height: 1px;
	left: 0px;
	bottom: 0px;
	border-top: 1px dotted #aaa;
	border-bottom: 1px dotted #aaa;
}
.socialList li a {
	line-height: 28px;
	color: #fff;
	font-size: 12px;
}
.socialList li i {
	display: inline-block;
	float: left;
	font-size: 16px;
	color: #000;
	width: 26px;
	height: 26px;
	line-height: 28px;
	margin-right: 5px;
	opacity: 1;
	background-color: #808080;
	-webkit-transition: All 0.4s ease;
	-moz-transition: All 0.4s ease;
	-o-transition: All 0.4s ease;
	-webkit-border-radius: 50px;
	-moz-border-radius: 50px;
	border-radius: 50px;
	text-align: center;
}
.socialList li.facebook a {
	background-image: url(../img/social/social_network_facebook.png);
	background-position: 0 64px;
}
.socialList li.twitter a {
	background-image: url(../img/social/social_network_twitter.png);
	background-position: 0 64px;
}
.socialList li.vimeo a {
	background-image: url(../img/social/social_network_vimeo.png);
	background-position: 0 64px;
}
.socialList li.youtube a {
	background-image: url(../img/social/social_network_youtube.png);
	background-position: 0 64px;
}
.socialList li.pinterest a {
	background-image: url(../img/social/social_network_pinterest.png);
	background-position: 0 64px;
}
.socialList li.deviantart a {
	background-image: url(../img/social/social_network_deviantart.png);
	background-position: 0 64px;
}
.socialList li.flickr a {
	background-image: url(../img/social/social_network_flickr.png);
	background-position: 0 64px;
}
.socialList ul li {
	padding-right: 7px;
	float: left;
}
.socialList ul li:last-child {
	padding-right: 0;
}
.socialList ul li.Facebook a:hover {
	color: #3b5998;
}
.socialList ul li.Facebook a:hover i {
	background-color: #3b5998;
	color: #ffffff;
}
.socialList ul li.Twitter a:hover {
	color: #00b6f3;
}
.socialList ul li.Twitter a:hover i {
	background-color: #00b6f3;
	color: #ffffff;
}
.socialList ul li.Google a:hover {
	color: #DB4A39;
}
.socialList ul li.Google a:hover i {
	background-color: #DB4A39;
	color: #ffffff;
}
.footer .footerBox .copyright{
	display:none;
}
.videoBox {
	margin: 0 0 2px
}
.videoBox .videoBoxPicture {
	padding: 10px 0;
}
.videoBox img {
	-webkit-border-radius: 50px;
	-moz-border-radius: 50px;
	border-radius: 50px;
}
.videoBox .item-header {
}
.videoBox .videoBoxContent {
	padding: 5px;
}
.videoBox .videoBoxContent:hover, .videoBox .videoBoxContent.active {
	background: rgba(181, 43, 78, 0.5);
 filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#7fb52b4e, endColorstr=#7fb52b4e);
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#7fb52b4e, endColorstr=#7fb52b4e)";
}
.videoBox .videoBoxContent:hover .item-content h3 a, .videoBox .videoBoxContent.active .item-content h3 a, .videoBox .videoBoxContent:hover .videoMeta a, .videoBox .videoBoxContent.active .videoMeta a {
	color: #fff;
}
.videoBox .item-content h3 {
	font-size: 14px;
	margin: 0px;
}
.videoBox .item-content h3 a {
	color: #606366;
	font-size: 14px;
	text-decoration: none;
}
.videoBox .item-content h3 a:hover, .videoBox .item-content .videoMeta a:hover {
	color: #fff;
	text-decoration: none;
}
.videoBox .item-content .videoMeta a {
	color: #898e91;
	text-decoration: none;
}
.videoBox .item-content {
}
.marker {
	background-color: #373737;
	color: #fff;
	display: inline-block;
	padding: 2px 4px;
	font-size: 11px;
	line-height: 14px;
	font-family: Arial;
	font-weight: bold;
	margin-bottom: 4px;
}
.footerBox .small-text {
	font-size: 10px;
	font-weight: bold;
	color: #ffffff;
	text-transform: uppercase;
}
.footerBox .footerBox-content {
}
.footerBox .form-horizontal {
	position: relative;
	z-index: 1;
}
.footerBox label {
	color: #ffffff;
}
.footerBox .form-control {
	background: #333333 ;
	border: none;
	-webkit-border-radius: 0px;
	-moz-border-radius: 0px;
	border-radius: 0px;
	color: #ffffff;
}
.footerBox .btn.btn-validate {
	background: url(../img/arrow.png) center no-repeat;
	margin-right: 0px;
	height: 30px;
	position: absolute;
	width: 30px;
	cursor: pointer;
	z-index:99;
	overflow:hidden;
	right: -10px;
    text-indent: -99999px;
    top: 5px;
}
.footerBox .btn.btn-validate:hover {
	background: url(../img/arrow-hv.png) center no-repeat;
}
#email::-webkit-input-placeholder {
 color:    #ffffff;
}
 #email:-moz-placeholder {
 color:    #ffffff;
}
 #email::-moz-placeholder {
 color:    #ffffff;
}
 #email:-ms-input-placeholder {
 color:    #ffffff;
}
.menuFooter {
}
.menuFooter li {
	color: #ffffff;
	padding-left: 2px;
	padding-right: 2px;
}
.menuFooter li a {
	color: #ffffff;
	text-decoration: none;
	font-size: 16px;
	transition: all 0.4s ease 0s;
	-moz-transition: all 0.4s ease 0s;
	-webkit-transition: all 0.4s ease 0s;
	-o-transition: all 0.4s ease 0s;
}
.menuFooter li a:hover {
	color: #b52b4e;
	transition: all 0.4s ease 0s;
	-moz-transition: all 0.4s ease 0s;
	-webkit-transition: all 0.4s ease 0s;
	-o-transition: all 0.4s ease 0s;
}
a:hover, a:focus, a:active {
	color: #009dc8;
	outline: 0;
	text-decoration: none;
}
.copyright {
	color: #ffffff;
	font-size: 14px;
}
.copyright a {
	color: #ffffff;
	text-decoration: none;
	transition: all 0.4s ease 0s;
	-moz-transition: all 0.4s ease 0s;
	-webkit-transition: all 0.4s ease 0s;
	-o-transition: all 0.4s ease 0s;
}
.copyright a:hover {
	color: #b52b4e;
	transition: all 0.4s ease 0s;
	-moz-transition: all 0.4s ease 0s;
	-webkit-transition: all 0.4s ease 0s;
	-o-transition: all 0.4s ease 0s;
}
.footerBox {
	padding: 0 0 0 15px;
}
.footerBox input {
	height: 40px;
	padding: 0 15px;
}
/*-Ajout Hay
----------------------*/
.tooglenav {
	background: #a00028 url(' ../img/nav-bg-bar.png') no-repeat center center;
	font-size: 15px;
	line-height: 20px;
	margin: 2px 20px 0 0;
	width: 40px;
	height: 40px;
	overflow: hidden;
	text-indent: -9999px;
	cursor: pointer;
	display: none;
	position: absolute;
	top: 22px;
	right: 20px;
}
.block-communaute {
	background: #f1f1f1 url(' ../img/bg-block-infos.jpg') repeat-x top;
	padding: 30px 0 0;
}
.block-communaute h2 {
	color: #ffffff;
	font-size: 26px;
	font-weight: normal;
	margin-bottom: 10px;
	margin-top: 0;
	text-align: center;
	text-transform: uppercase;
	font-family: 'MyriadProSemibold';
}
.subtitle {
	font-size: 12px;
	font-family: 'MyriadProSemibold';
	font-weight: normal;
	text-align: center;
	color: #ffffff;
}
.block-rejoignez-nous {
	background: #ffffff;
	padding: 15px;
	margin: 10px 0 25px;
	overflow: hidden;
}
.top-rejoinez {
	overflow: hidden;
}
.rejoin-left {
	background: #f1f1f1;
	min-height: 262px;
	padding: 60px 120px 10px;
}
.top-rejoinez h2 {
	color: #ae2f53;
	font-size: 35px;
	font-weight: normal;
	margin-bottom: 20px;
	text-transform: uppercase;
	font-family: 'MyriadProRegular';
}
.nemb-box {
	color: #6e2c50;
	font-size: 25px;
	font-weight: normal;
	margin-bottom: 20px;
	text-transform: uppercase;
	font-family: 'MyriadProSemibold';
	line-height: 30px;
	text-align: center;
}
.bleu {
	color: #2a5b83 !important;
}
.rejoin-right {
	padding-right: 0;
}
.rejoin-right .social-list {
	list-style: outside none none;
	padding: 0;
	text-align: center;
}
.rejoin-right .social-list li {
	width: 50%;
	float: left;
}
.rejoin-right .social-list li a {
	color: #fff;
	font-size: 50px;
	display: block;
}
.rejoin-right .social-list li a:hover .social-icon {
	background: #a00028;
	transition: all 0.4s ease 0s;
	-moz-transition: all 0.4s ease 0s;
	-webkit-transition: all 0.4s ease 0s;
	-o-transition: all 0.4s ease 0s;
}
.rejoin-right .social-icon {
	display: block;
	height: 131px;
	line-height: 40px;
	position: relative;
	text-align: center;
	vertical-align: middle;
	line-height: 130px;
}
.social-icon.facebook {
	background: #3b5998;
}
.social-icon.twitter {
	background: #00b6f3;
}
.social-icon.youtube {
	background: #c8312b;
}
.social-icon.instagram {
	background: #2a5b83;
}
.social-icon .fa {
	left: 0;
	line-height: inherit;
	position: absolute;
	text-align: center;
	width: 100%;
}
.bottom-rejoinez {
	overflow: hidden;
	padding: 10px 0 0;
}
.boxfooter {
	margin: 20px 0 0;
	height: 430px;
}
.bottom-rejoinez .boxfooter:first-child {
	padding-left: 0;
}
.bottom-rejoinez .boxfooter:last-child {
	padding-right: 0;
}
.besoin-aide {
	background: #f1f1f1;
	padding: 25px 35px;
}
.besoin-aide h2 {
	color: #111111;
	font-size: 25px;
	font-weight: normal;
	margin-bottom: 10px;
	text-transform: uppercase;
	font-family: 'MyriadProSemibold';
	line-height: 30px;
	text-align: left;
}
.besoin-aide .subtitle {
	font-size: 15px;
	font-family: 'MyriadProSemibold';
	font-weight: normal;
	display: block;
	text-align: left;
	color: #999999;
	line-height: 18px;
}
.besoin-aide ul {
	list-style: none;
	margin: 75px 0 45px;
}
.besoin-aide ul li {
	margin: 5px 0;
	font-size: 21px;
	color: #672d65;
	text-transform: uppercase;
}
.besoin-aide ul li a {
	list-style: none;
	margin: 70px 0 40px;
	color: #672d65;
	font-family: 'MyriadProSemibold';
	transition: all 0.4s ease 0s;
	-moz-transition: all 0.4s ease 0s;
	-webkit-transition: all 0.4s ease 0s;
	-o-transition: all 0.4s ease 0s;
}
.besoin-aide ul li a:hover {
	color: #ae2f53;
	transition: all 0.4s ease 0s;
	-moz-transition: all 0.4s ease 0s;
	-webkit-transition: all 0.4s ease 0s;
	-o-transition: all 0.4s ease 0s;
}
.box-btn-toogle {
	overflow: hidden;
	text-align: center;
	top: 5px;
	position: absolute;
	width: 100%;
	display: none;
}
.toogle-Infos {
	border: 2px solid rgba(255, 255, 255, .5);
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	border-radius: 50%;
	height: 45px;
	width: 45px;
	display: inline-block;
	background: url(../img/up-row.png) no-repeat center center;
	cursor: pointer;
}
.toogle-Infos.up {
	background: url(../img/down-row.png) no-repeat center center;
}
.content-page {
	overflow: hidden;
}
.content-page .container {
	background: #ffffff;
}
.margtop {
	margin-top: 340px;
}
#blocVideos {
	overflow: hidden;
	padding: 25px 0 0;
}
#blocVideosTS {
	overflow: hidden;
	padding: 25px 0 0;
}
#sidebar {
	padding-top: 40px;
}
#winners {
	margin: 55px 0 40px;
	height: 315px;
	overflow: scroll;
}
.subtexte {
	font-weight: bold;
	font-size: 13px;
}
.video-page {
	background: url(../img/bg/bg-video.jpg) no-repeat 0 0 ;
	/*-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;*/
}
.blockvideo {
	overflow: hidden;
	padding: 0;
}
.blockvideo .container {
	max-width: 1143px;
}
.boxVideo {
	background-color: rgba(0, 0, 0, 0.5);
	padding: 140px 30px 0;
	float: right;
	height: 100%;
}
.boxVideo h2 {
	border: 0 none;
	color: rgba(255, 255, 255, .8);
	font-family: "mic_32regular";
	font-size: 40px;
	font-weight: lighter;
	margin: 0;
	padding: 0;
}
.up {
	text-transform: uppercase;
}
.boxVideo h3 {
	color: rgba(255, 255, 255, .8);
	font-family: "mic_32regular";
	font-size: 25px;
	font-weight: lighter;
	margin: 0 0 25px;
	padding: 0;
}
.block-num {
	padding-left: 0;
	padding-right: 0;
}
.block-num .boxStats .statsSubTitle {
	color: #ffffff;
}
.text-bottom {
	padding: 15px 5px;
	font-size: 18px;
	line-height: 22px;
	color: rgba(255, 255, 255, .8);
	font-family: "mic_32regular";
	font-weight: lighter;
	margin: 10px 0;
	background: url(../img/slider/separator-horiz.png) no-repeat center bottom;
}
.text-bottom p {
	padding: 0 0 10px;
}
.block-player {
	text-align: center;
	padding: 0 0 5px;
	background: url(../img/slider/separator-horiz.png) no-repeat center bottom;
	margin: 0 0 20px;
}
.block-player .play {
	background: transparent url("../img/slider/btn_play-page.png") no-repeat scroll 0 0;
	display: inline-block;
	height: 135px;
	width: 146px;
}
.block-player .play:hover {
	background: transparent url("../img/slider/hover_play-page.png") no-repeat scroll 0 0;
}
.boxpartage {
	overflow: hidden;
	padding: 25px 10px 20px;
}
.boxpartage li:first-child {
	padding-right: 50px;
}
.boxpartage li a {
	color: #ffffff;
	font-size: 18px;
	font-family: "mic_32regular";
}
.boxpartage li a:hover {
	color: #a2d014;
}
.boxpartage li a i {
	margin: 0 10px 0 0;
}
.center {
	text-align: center;
}
.no-boder {
	background: none;
	border: none;
}
.win-msg {
	font-size: 18px;
	font-family: "mic_32regular";
	display: block;
	margin: 20px 0;
	color: #ffffff;
	text-align: center;
}
.number-win {
	overflow: hidden;
	padding: 5px 0;
	text-align: center;
}
.number-win .unite {
	font-size: 100px;
	display: inline-block;
	line-height: 150px;
	font-family: Georgia, "Times New Roman", Times, serif;
	font-weight: normal;
	position: relative;
	color: #a6d214;
	margin: 0 10px 0 0;
}
.number-win .unite sup  {
	font-size: 0.12em;
	position: absolute;
	right: -30px;
	top: 53px;
	text-transform:uppercase;
}
.number-win .sup-dn {
	font-size: 0.15em;
	position: absolute;
	right: -15px;
	top: -20px;
}
.number-win .oops {
	font-size: 150px;
	display: inline-block;
	line-height: 150px;
	font-family: Georgia, "Times New Roman", Times, serif;
	font-weight: normal;
	position: relative;
	color: #9c1e3e;
	margin: 0 10px 0 0;
	text-shadow: 0 1px 1px #000000;
}

.number-win .counter {
	font-size: 100px;
	display: inline-block;
	line-height: 150px;
	font-family: "mic_32regular";
	font-weight: lighter;
	position: relative;
	color: rgba(255, 255, 255, .8);
	margin: 0 10px 0 0;
	text-shadow: 0 1px 1px #000000;
}

.box-dutton {
	margin: 20px 0 120px;
	overflow: hidden;
	padding: 30px 0;
	text-align: center;
}
.box-dutton a {
	display: inline-block;
	margin: 0 5px;
	line-height: 40px;
	padding: 0 35px;
	background: #a6344d;
	font-size: 16px;
	font-family: 'MyriadProSemibold';
	color: #ffffff;
	min-width: 142px;
	transition: all 0.2s;
	-moz-transition: all 0.2s;
	-webkit-transition: all 0.2s;
	-o-transition: all 0.2s;
}
.box-dutton a.cumule {
	background: #00a162;
}
.box-dutton a.suivant {
	min-width: 230px;
}
.box-dutton a:hover {
	background: rgba(255, 255, 255, 0.6);
	transition: all 0.2s;
	-moz-transition: all 0.2s;
	-webkit-transition: all 0.2s;
	-o-transition: all 0.2s;
}
.boxPlay {
	overflow: hidden;
	float: none;
	max-height: 640px;
	margin: 110px 0 70px;
	-webkit-box-shadow: 0 1px 35px rgba(151, 36, 65, .7);
	-moz-box-shadow: 0 1px 35px rgba(151, 36, 65, .7);
	-o-box-shadow: 0 1px 35px rgba(151, 36, 65, .7);
	box-shadow: 0 1px 35px rgba(151, 36, 65, .7);
	padding: 0;
}
.boxPlay img {
	width: 100%;
	height: auto;
}
.boxPlay iframe {
	width: 100%;
	height: 600px;
}
.partleft {
	padding: 25px 0 0;
}
.countdown {
	padding: 30px 0 45px;
	text-align: center;
}
.txtcoment {
	color: #ffffff;
	font-size: 21px;
	font-family: "mic_32regular";
}
.txtcoment span {
	font-size: 14px;
	display: block;
}
/*slider header*/
.maskslider {
	background: url(../img/slider/mask-bg-slide.png) repeat;
	width: 100%;
	height: 760px;
	position: absolute;
	z-index: 99;
	left: 0;
}
.BoxnameUser {
	background: rgba(138, 0, 38, .6);
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	color: #ffffff;
	position: absolute;
	right: 100px;
	bottom: 40px;
	-webkit-box-shadow: 0 1px 15px rgba(151, 36, 65, .7);
	-moz-box-shadow: 0 1px 15px rgba(151, 36, 65, .7);
	-o-box-shadow: 0 1px 15px rgba(151, 36, 65, .7);
	box-shadow: 0 1px 15px rgba(151, 36, 65, .7);
	z-index: 999;
	padding: 0 15px;
}
.BoxnameUser .rightuser {
	float: left;
	background: url(../img/slider/stroke.png) no-repeat left;
	padding: 15px 15px 0 15px;
}
.BoxnameUser .leftuser {
	float: left;
	line-height: 63px;
	padding: 0 15px 0 0;
	text-align: center;
}
.BoxnameUser .leftuser img {
	max-width: 65px;
	height: auto;
	display: inline-block !important;
}
.BoxnameUser .rightuser h3 {
	text-transform: uppercase;
	font-size: 18px;
	font-weight: normal;
	line-height: 18px;
	margin: 0;
}
.BoxnameUser .leftuser p {
	font-size: 14px;
	font-family: "mic_32regular";
	font-weight: normal;
	margin: 0;
	padding: 3px 0 0;
}
.flex-caption {
	background: rgba(0, 0, 0, 0.5) none repeat scroll 0 0;
	bottom: 0;
	color: #fff;
	font-size: 14px;
	left: 0;
	line-height: 18px;
	padding: 2%;
	text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.3);
	width: 100%;
}
.title-slider {
	background-color: #b52b4e;
	font-size: 22px;
	line-height: 40px;
	padding: 0 20px;
	color: #ffffff;
	-webkit-border-radius: 20px;
	-moz-border-radius: 20px;
	border-radius: 20px;
	position: absolute;
	right: 50px;
	z-index: 999;
	top: 0;
	right: 50px;
	display: none;
	white-space: nowrap
}
.flex-control-nav li:hover .title-slider, .flex-control-nav li a.flex-active .title-slider {
	display: block;
}
.infos-slider {
	position: absolute;
	left: 5%;
	bottom: 0;
	width: 682px;
	height: 295px;
	padding: 65px 0 0 90px;
	background: url(../img/slider/infos-bg-slide.png) no-repeat;
	z-index: 99;
}
.top-SlideInf {
	overflow: hidden;
	margin: 0 0 15px;
}
.infos-slider .sharebox {
	float: left;
}
.bottom-SlideInf {
	overflow: hidden;
	padding: 0 0 0 38px;
}
.boxleft-num {
	float: left;
	margin: 0 10px 0 0;
	color: #ffffff;
}
.boxleft-num h3 {
	color: #ffffff;
	font-size: 22px;
	text-transform: uppercase;
	margin: 0 0 2px;
	line-height: 22px;
}
.boxleft-num p {
	font-size: 17px;
	line-height: 22px;
}
.bottom-SlideInf .Stat-Small {
	float: left;
	padding: 5px 20px;
}
.Stat-Small .Statsmull .circle-text {
	line-height: 60px !important;
}
.form-horizontal .input-group {
	display: block;
}
.boxStats {
	overflow: hidden;
	padding: 10px 0;
}
.icosStats {
	background: rgba(0, 0, 0, .7);
	display: block;
	width: 40px;
	height: 40px;
	float: left;
	margin: 10px 10px 0 0;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	border-radius: 50%;
	-webkit-box-shadow: 0 3px 2px rgba(0, 0, 0, 0.7) inset;
	-moz-box-shadow: 0 3px 2px rgba(0, 0, 0, 0.7) inset;
	-o-box-shadow: 0 3px 2px rgba(0, 0, 0, 0.7) inset;
	box-shadow: 0 3px 2px rgba(0, 0, 0, 0.7) inset;
}
.icosStats.icos-money {
	background: rgba(0, 0, 0, .7) url(../img/icons/pictos-sprite.png) no-repeat 11px 13px;
}
.icosStats.icos-vues {
	background: rgba(0, 0, 0, .7) url(../img/icons/pictos-sprite.png) no-repeat 9px -58px;
}
.icosStats.icos-users {
	background: rgba(0, 0, 0, .7) url(../img/icons/pictos-sprite.png) no-repeat 9px -135px;
}
.icosStats.icos-cumuls {
	background: rgba(0, 0, 0, .7) url(../img/icons/pictos-sprite.png) no-repeat 9px -212px;
}
.boxStats .statsSubTitle {
	color: #222222;
	font-size: 14px;
	font-family: 'MyriadProSemibold';
}
.boxStats .statsTitle sup {
	text-transform: uppercase;
	font-size: 0.7em;
	top: -0.45em;
}
.blockStata-users {
	overflow: hidden;
	padding: 0 0 5px ;
}
.refillbox {
	padding: 0 0 0 20px;
}
.refillbox p {
	font-size: 13px;
	color: #ffffff;
	padding: 0 0 10px;
	margin: 0;
}
.refillbox .boxStats {
	padding: 0;
}
/*Skillbar
-------------------------------------*/
.baranim {
	overflow: hidden;
	padding: 40px 0 0;
}
.interval-bar {
	overflow: hidden;
	font-size: 12px;
	color: rgba(255, 255, 255, .3);
	text-transform: uppercase;
}
.interval-bar sup {
	font-size: 0.7em;
	text-transform: uppercase;
	top: -0.45em;
}
.interval-bar .min-interval {
	overflow: hidden;
	float: left;
}
.interval-bar .max-interval {
	overflow: hidden;
	float: right;
}
.skillbar {
	position: relative;
	display: block;
	margin-bottom: 5px;
	width: 100%;
	background: rgba(0, 0, 0, .7);
	height: 12px;
	-webkit-box-shadow: 0 3px 3px rgba(0, 0, 0, 0.7) inset;
	-moz-box-shadow: 0 3px 3px rgba(0, 0, 0, 0.7) inset;
	-o-box-shadow: 0 3px 3px rgba(0, 0, 0, 0.7) inset;
	box-shadow: 0 3px 3px rgba(0, 0, 0, 0.7) inset;
	border-radius: 6px;
	-moz-border-radius: 6px;
	-webkit-border-radius: 6px;
	-webkit-transition: 0.4s linear;
	-moz-transition: 0.4s linear;
	-ms-transition: 0.4s linear;
	-o-transition: 0.4s linear;
	transition: 0.4s linear;
	-webkit-transition-property: width, background-color;
	-moz-transition-property: width, background-color;
	-ms-transition-property: width, background-color;
	-o-transition-property: width, background-color;
	transition-property: width, background-color;
}
.skillbar-title {
	position: absolute;
	top: 0;
	left: 0;
	width: 110px;
	font-weight: bold;
	font-size: 13px;
	color: #ffffff;
	background: #6adcfa;
	-webkit-border-top-left-radius: 3px;
	-webkit-border-bottom-left-radius: 4px;
	-moz-border-radius-topleft: 3px;
	-moz-border-radius-bottomleft: 3px;
	border-top-left-radius: 3px;
	border-bottom-left-radius: 3px;
}
.skillbar-title span {
	display: block;
	background: rgba(0, 0, 0, 0.1);
	padding: 0 20px;
	height: 35px;
	line-height: 35px;
	-webkit-border-top-left-radius: 3px;
	-webkit-border-bottom-left-radius: 3px;
	-moz-border-radius-topleft: 3px;
	-moz-border-radius-bottomleft: 3px;
	border-top-left-radius: 3px;
	border-bottom-left-radius: 3px;
}
.skillbar-bar {
	height: 12px;
	width: 0px;
	background: #ded0d4;
	border-radius: 6px;
	-moz-border-radius: 6px;
	-webkit-border-radius: 6px;
}
.skill-bar-percent {
	position: absolute;
	right: 10px;
	top: 0;
	font-size: 11px;
	height: 12px;
	line-height: 12px;
	color: #ffffff;
	color: rgba(0, 0, 0, 0.4);
}

.refill_disabled {
	background: rgba(54, 14, 26, .8);
	color: #ffffff;
	font-size: 14px;
	line-height: 30px;
	padding: 0 10px;
	display: inline-block;
	transition: all 0.2s;
	-moz-transition: all 0.2s;
	-webkit-transition: all 0.2s;
	-o-transition: all 0.2s;
	font-weight: normal;
	margin: 5px 0 10px;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
}

.refill_disabled:hover {
  color: #ffffff;
}

.statistiq-block .refill_disabled {
	text-align: center;
	display: block;
	margin: 10px 5px 5px;
}

.statistiq-block .refill_disabled:hover {
  color: #ffffff;
}

.refill {
	background: rgba(54, 14, 26, .8);
	color: #ffffff;
	font-size: 14px;
	line-height: 30px;
	padding: 0 10px;
	display: inline-block;
	transition: all 0.2s;
	-moz-transition: all 0.2s;
	-webkit-transition: all 0.2s;
	-o-transition: all 0.2s;
	font-weight: normal;
	margin: 5px 0 10px;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
}

.refill:hover {
	 background: #a8d314;
    box-shadow: 0 0 4px 3px rgba(168, 211, 20, 0.2);
    color: #fff;
    text-shadow: 0 2px 2px rgba(0, 0, 0, 0.8);
	transition: all 0.2s;
	-moz-transition: all 0.2s;
	-webkit-transition: all 0.2s;
	-o-transition: all 0.2s;

}
.statChart {
	overflow: hidden;
	padding: 0;
}
.statChart .boxStats {
	float: left;
}
.statChart .boxStats:first-child {
	padding-right: 25px;
}
.Chartebox {
	margin: 0 15px;
	overflow: hidden;
}
.Chartebox canvas {
	max-height: 175px !important;
}
/*Login
---------------------------------*/
.blocksignin {
	overflow: hidden;
	padding: 0;
	background: url(../img/bg/bg-signin.jpg) no-repeat center 0;
}
.senregitrer .blocksignin, .One-more-step .blocksignin {
	background: url(../img/bg/bg-signin-2.jpg) no-repeat center 0;
}
.parrainage .blocksignin {
	background: url(../img/bg/bg-signin-3.jpg) no-repeat center 0;
}
.parrainage .connexion {
	margin-top: 450px;
	padding: 30px 50px 20px;
	margin-bottom: 90px;
}
.parrainage .socialbox {
	padding-left: 15px;
}
.parrainage .btn-custum {
	margin-top: 15px;
}
.senregitrer .connexion h2 {
	margin: 0 0 2px;
}
.senregitrer .connexion {
	margin-top: 250px;
	padding: 30px 50px 20px;
	margin-bottom: 45px;
}
.One-more-step .connexion {
	margin-top: 260px;
	padding: 30px 50px 20px;
	margin-bottom: 90px;
}
.One-more-step .socialbox {
	padding-left: 15px;
}
.One-more-step .title {
	margin: 6px 0 20px;
	text-align: center;
}
.block-overlay {
	background: url(../img/slider/mask-bg-slide.png);
}
.connexion {
	background: #ffffff url(../img/bg/bg-connexion.png) repeat;
	padding: 50px;
	-webkit-box-shadow: 0 1px 15px rgba(151, 36, 65, .7);
	-moz-box-shadow: 0 1px 15px rgba(151, 36, 65, .7);
	-o-box-shadow: 0 1px 15px rgba(151, 36, 65, .7);
	box-shadow: 0 1px 15px rgba(151, 36, 65, .7);
	float: none;
	margin-top: 315px;
	margin-bottom: 70px;
	position: relative;
}
.title {
	text-align: center;
	margin: 6px 0 35px;
}
.connexion h2 {
	text-align: center;
	font-family: "mic_32regular";
	font-size: 28px;
	color: #222222;
	margin: 0 0 20px;
	line-height: 30px;
	font-weight: 600;
}
.title p {
	font-size: 16px;
	color: #757575;
	line-height: 18px;
	font-family: 'MyriadProRegular';
}
.icon {
	background-color: #efefef;
	border-right: 1px solid #ffffff;
	color: #222222;
	display: block;
	padding: 0;
	text-align: center;
	width: 42px;
	position: absolute;
	left: 0;
	margin: 0;
	height: 42px;
	line-height: 42px;
}
.form-group {
	position: relative;
	margin-bottom: 10px;
}
.connexion .form-control {
	background-color: #efefef;
	background-image: none;
	border: none;
	border-radius: 0;
	box-shadow: none;
	color: #222222;
	display: block;
	font-size: 14px;
	height: 42px;
	line-height: 1.42857;
	padding: 6px 15px 6px 53px;
}
textarea.form-control {
    height: 200px !important;
}
.form-control:focus {
	border-color: #a10029;
	outline: 0;
	-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px rgba(161, 0, 41, .7);
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px rgba(161, 0, 41, .7)
}
.felicit-form{
	text-align:center;
}
.felicit-form .form-control {
	background-color: #efefef;
	background-image: none;
	border: none;
	border-radius: 0;
	box-shadow: none;
	color: #222222;
	display: block;
	font-size: 14px;
	height: 42px;
	line-height: 1.42857;
	padding: 6px 15px 6px 53px;
}
.felicit-form .btn-custum {
	 margin: 25px 0 80px;
    display: inline-block;
}
.felicit-form p {
	 color:#ffffff;
}
.felicit-form .custom-label {
    color: #ffffff;
}
.pwd {
	font-size: 20px;
}
.btn-custum {
	color: #ffffff;
	line-height: 40px;
	padding: 0 35px;
	background: #a10029;
	border-radius: 0;
	font-size: 16px;
	font-weight: bold;
	display: block;
	margin-top: 5px;
	margin-right: 10px;
	transition: all 0.2s;
	-moz-transition: all 0.2s;
	-webkit-transition: all 0.2s;
	-o-transition: all 0.2s;
}
.socialbox .btn-custum {
	width: 100%;
}
.btn-custum:hover {
	color: #ffffff;
	background: #561526;
	transition: all 0.2s;
	-moz-transition: all 0.2s;
	-webkit-transition: all 0.2s;
	-o-transition: all 0.2s;
}
.loginbox {
	position: relative;
	padding-right: 35px;
	border-right: 1px solid #dddddd;
	margin-bottom: 25px;
}
.loginbox img {
	max-width: 267px;
	height: auto;
	width: 100%;
}
.socialbox {
	position: relative;
	padding-left: 35px;
	margin-bottom: 25px;
}
.socialbox a {
	display: block;
	margin: 0 0 15px;
	text-align: center;
	color: #ffffff;
	text-decoration: none;
	line-height: 42px;
	position: relative;
	text-transform: uppercase;
	padding: 0 0 0 35px;
	font-size: 15px;
	font-family: 'MyriadProRegular';
	transition: all 0.2s;
	-moz-transition: all 0.2s;
	-webkit-transition: all 0.2s;
	-o-transition: all 0.2s;
}
.loginbox .ou {
	display: block;
	font-size: 15px;
	text-transform: uppercase;
	color: #999999;
	position: absolute;
	top: 30px;
	right: -15px;
	background: #ffffff;
	padding: 8px 2px;
}
.fbook {
	background: #3a589b;
}
.gplus {
	background: #d6492f;
}
.socialbox a:hover {
	color: #ffffff;
	background: #ab2e52;
	transition: all 0.2s;
	-moz-transition: all 0.2s;
	-webkit-transition: all 0.2s;
	-o-transition: all 0.2s;
}
.socialbox a .icon {
	background: inherit;
	border-right: 1px solid #ffffff;
	color: #ffffff;
	display: block;
	padding: 2px;
	text-align: center;
	width: 42px;
	position: absolute;
	left: 0;
	margin: 0;
	height: 42px;
	line-height: 42px;
	font-size: 30px;
}
.bottomlogin {
	text-align: center;
	margin: 0 0 8px;
	color: #757575;
}
.bottomlogin a {
	font-weight: bold;
	background: url(../img/icons/flech-right.png) no-repeat right;
	padding: 0 8px 0 0;
	display: inline-block;
	color: #757575;
}
.bottomlogin a:hover {
	color: #222222;
}
.genderbox {
	background: #efefef;
	display: block;
	overflow: hidden;
	color: #999999;
	padding: 0 0 0 50px;
}
.genderbox label {
	line-height: 42px;
	display: inline-block;
	margin: 0;
}
.choisexe {
	float: right;
	padding: 2px 0;
	overflow: hidden;
}
.choisexe span {
	height: 38px;
	width: 38px;
	background: rgba(0,151,221,.4);
	color: #666666;
	font-size: 9px;
	line-height: 42px;
	margin: 0 2px 0 0;
	display: block;
	float: left;
	position: relative;
	text-align: center;
}
.choisexe .male.opened {
	background: rgba(0,151,221,1);
	color:#ffffff;
}
.choisexe .femelle {
	background: rgba(216,0,183,.4);
}
.choisexe .femelle.opened{
	background: rgba(216,0,183,1);
	color:#ffffff;
}
.choisexe input[type="radio"] {
	height: 38px;
	width: 38px;
	opacity: 0;
	margin: 0;
	cursor: pointer;
	position: absolute;
	top: 0;
	left: 0;
}
.fa-gender {
	background: url(../img/icons/pictos-sprite.png) no-repeat 13px -277px;
	display: block;
	height: 42px;
	width: 42px;
}
.fa-name {
	background: url(../img/icons/pictos-sprite.png) no-repeat 13px -335px;
	display: block;
	height: 42px;
	width: 42px;
}
.fa-date {
	background: url(../img/icons/pictos-sprite.png) no-repeat 13px -465px;
	display: block;
	height: 42px;
	width: 42px;
}
.fa-region {
	background: url(../img/icons/pictos-sprite.png) no-repeat 13px -595px;
	display: block;
	height: 42px;
	width: 42px;
}
.fa-phones {
	background: url(../img/icons/pictos-sprite.png) no-repeat 15px -663px;
	display: block;
	height: 42px;
	width: 42px;
}
.fa-montant {
	background: url(../img/icons/pictos-sprite.png) no-repeat 12px -715px;
	display: block;
	height: 42px;
	width: 42px;
}
.fa-sujet {
	background:url(../img/icons/pictos-sprite.png) no-repeat 12px -773px;
	display:block;
	height:42px;
	width:42px;
}
.fa-messages {
	background:url(../img/icons/pictos-sprite.png) no-repeat 12px -837px;
	display:block;
	height:42px;
	width:42px;
}
.mesge {
	height:200px;
}
.innerdiv {
    padding: 0 15px;
}
.form-sent {
	left: 0;
	text-align: center;
	width: 100%;
	padding: 0 110px;
}
.form-sent .alert {
	color: #ffffff;
	padding: 20px;
	font-size: 18px;
}
.form-sent .alert-warning {
	background: rgba(148, 0, 38, .6);
	background-repeat: repeat-x;
	border: none;
	box-shadow: none;
	text-shadow: none;
}

.form-sent .alert-message {
	background: rgba(19, 97, 21, 0.6);
	background-repeat: repeat-x;
	border: none;
	box-shadow: none;
	text-shadow: none;
}

.captcha {
	background: #efefef;
}
.checked-option {
	text-align: left;
	padding: 8px 0 5px;
}
.custom-label {
	cursor: pointer;
	display: inline-block;
	margin : 0;
	color: #a10029;
	font-size: 11px;
	font-weight: normal;
	line-height: 11px;
}
.custom-radio, .custom-check {
	background: url("../img/icons/customRadioCheck.png") no-repeat scroll 0 0;
	display: inline-block;
	height: 20px;
	margin: 0 3px 0 0;
	position: relative;
	top: -0.05em;
	vertical-align: middle;
	width: 22px;
}
.custom-check {
	height: 20px;
	width: 18px;
}
.custom-radio {
	background-position: 0 -24px;
	height: 23px;
	width: 21px;
}
.custom-check.focus {
	background-position: -24px 0;
}
.custom-radio.focus {
	background-position: -25px -20px;
}
.custom-check.checked {
	background-position: -49px 0;
}
.custom-radio.checked {
	background-position: -54px -23px;
}
.custom-check.checked.focus {
	background-position: -74px 0;
}
.custom-radio.checked.focus {
	background-position: -80px -23px;
}

.felicit-form .custom-check {
	background: url("../img/icons/customRadioCheck.png") no-repeat scroll 0 -51px;
}
.felicit-form .custom-check.focus {
	background-position: -24px -51px;
}

.felicit-form .custom-check.checked {
	background-position: -49px -51px;
}

.felicit-form .custom-check.checked.focus {
	background-position: -74px -51px;
}
/*---social List--------*/
.bottomlogin .social-list {
	list-style: none;
	padding: 0;
	text-align: center;
}
.bottomlogin .social-list li {
	margin: 0 20px;
	display: inline-block;
}
.bottomlogin .social-list li a {
	font-size: 21px;
	color: #fff;
	background: none;
	padding: 0;
}
.bottomlogin .social-list li a:hover {
	color: #ffffff;
}
.bottomlogin .social-list li a:hover .social-icon {
	background: #a10029;
}
.bottomlogin .social-icon {
	position: relative;
	display: inline-block;
	width: 43px;
	height: 43px;
	line-height: 43px;
	vertical-align: middle;
	border: none;
	border-radius: 50%;
	text-align: center;
}
.bottomlogin .social-icon .fa {
	line-height: inherit;
	position: absolute;
	text-align: center;
	left: 0;
	width: 100%;
}
.bottomlogin .social-icon.twitter {
	background: #598dca;
}
.bottomlogin .social-icon.gogplus {
	background: #d6492f;
	font-size: 40px;
	line-height: 53px;
}
.separate {
	background: url(../img/bg/separ-bg.png) repeat-x 0 11px;
	padding: 0;
	text-align: center;
	margin: 0 15px 15px;
}
.separate span {
	background: #ffffff;
	color: #999999;
	display: inline-block;
	font-size: 15px;
	padding: 0 8px;
	text-transform: uppercase;
}
.imageUpload {
	text-align: center;
	position: relative;
}
.imageUpload img {
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	border-radius: 50%;
	border: 4px solid #e0e0e0;
	max-width: 120px;
  max-height: 120px;
}
.imageUpload h4 {
	font-size: 16px;
	color: #cccccc;
	font-family: 'MyriadProSemibold';
	margin: 10px 0 15px;
}
.imageUpload .addPhotos {
	width: 50px;
	height: 50px;
	line-height: 50px;
	text-align: center;
	color: #a10029;
	font-size: 35px;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	border-radius: 50%;
	background: #ffffff;
	-webkit-box-shadow: 0 1px 5px rgba(0, 0, 0, .7);
	-moz-box-shadow: 0 1px 5px rgba(0, 06, 05, .7);
	-o-box-shadow: 0 1px 5px rgba(0, 0, 0, .7);
	box-shadow: 0 1px 5px rgba(0, 0, 0, .7);
	position: absolute;
	right: 85px;
	bottom: 30px;
}
.imageUpload .addPhotos:hover {
	color: #ffffff;
	background: #a10029;
	transition: all 0.2s;
	-moz-transition: all 0.2s;
	-webkit-transition: all 0.2s;
	-o-transition: all 0.2s;
}
.dasboard {
	background: #f0f3f6;
}
.submenu-fixed {
	position: fixed !important;
	width: 100%;
	top: 63px;
	left: 0;
	z-index: 999;
	padding: 15px 0 0 !important;
}
.block-submenu {
	background: url(../img/bg/bg-submenu.png) repeat;
	min-height: 55px;
	padding: 150px 0 0;
	position: relative;
	text-align: center;
}
.block-submenu ul {
	display: inline-block;
	list-style: none;
	margin: 0 0 -5px;
}
.block-submenu ul li {
	float: left;
	margin: 0 62px;
	text-align: center;
	font-size: 16px;
	padding: 0 0 26px;
	font-family: 'MyriadProRegular';
}
.submenu-fixed ul li {
	padding: 0 0 15px !important;
}
.padding-fix {
	padding-top: 285px !important;
}
.block-submenu ul li:hover, .block-submenu ul li.current {
	background: url(../img/icons/bg-lin-subnav.png) no-repeat center bottom;
}
.block-submenu ul li a, .block-submenu ul li span {
	display: block;
	color: rgba(0, 0, 0, .6)
}
.block-submenu ul li:hover a, .block-submenu ul li:hover span, .block-submenu ul li.current a, .block-submenu ul li.current span {
	color: rgba(255, 255, 255, .8)
}
.block-submenu ul li i {
	display: inline-block;
	width: 40px;
	height: 40px;
}
.block-submenu ul li .VueG {
	background: url(../img/icons/pictos-dash-icon.png) no-repeat 4px 0;
}
.block-submenu ul li:hover .VueG, .block-submenu ul li.current .VueG {
	background: url(../img/icons/pictos-dash-icon.png) no-repeat 4px -111px;
}
.block-submenu ul li .transfert {
	background: url(../img/icons/pictos-dash-icon.png) no-repeat -75px 0;
}
.block-submenu ul li:hover .transfert, .block-submenu ul li.current .transfert {
	background: url(../img/icons/pictos-dash-icon.png) no-repeat -75px -111px;
}
.block-submenu ul li .history {
	background: url(../img/icons/pictos-dash-icon.png) no-repeat -160px 0;
}
.block-submenu ul li:hover .history, .block-submenu ul li.current .history {
	background: url(../img/icons/pictos-dash-icon.png) no-repeat -160px -111px;
}
.block-submenu ul li .parametre {
	background: url(../img/icons/pictos-dash-icon.png) no-repeat -218px 0;
}
.block-submenu ul li:hover .parametre, .block-submenu ul li.current .parametre {
	background: url(../img/icons/pictos-dash-icon.png) no-repeat -218px -111px;
}
.pageContent {
	padding:15px 0 25px;
}
.pageContent h3 {
	color:#a10029 ;
}
.dashboardpage {
	background: #f0f3f6;
	overflow: hidden;
	padding: 30px 0 65px;
}
.statistiq-block {
	overflow: hidden;
	background: #ffffff url(../img/bg/bg-connexion.png) repeat;
	padding: 30px 15px;
	margin: 30px 0 75px;
	-webkit-box-shadow: 0 1px 5px rgba(136, 156, 176, 0.1);
	-moz-box-shadow: 0 1px 5px rgba(136, 156, 176, 0.1);
	-o-box-shadow: 0 1px 5px rgba(136, 156, 176, 0.1);
	box-shadow: 0 1px 5px rgba(136, 156, 176, 0.1);
}
.statistiq-block .refillbox p {
	color: #222222;
	font-size: 16px;
	font-family: 'MyriadProRegular';
	line-height: 20px;
}
.statistiq-block .skillbar-bar {
	background: #b54a6a;
}
.statistiq-block .skillbar {
	background: #c7c7c7;
}
.statistiq-block .statsTitle {
	color: #af2951;
}
.statistiq-block .icosStats.icos-cumuls {
	background-color: #a9234b;
}
.statistiq-block .interval-bar {
	color: #222222;
}
.statistiq-block .refill {
	text-align: center;
	display: block;
	margin: 10px 5px 5px;
}
.statistiq-block .baranim {
	padding: 20px 0 0;
}
.statistic-User {
	padding: 0 15px 0 0;
}
.statistic-User img {
	width: 100%;
	height: auto;
	max-width: 810px;
}
.statistic-User h3 {
	font-size: 21px;
	color: #4c5e70;
	text-transform: uppercase;
	font-family: 'open_sansbold';
	margin: 0 0 5px;
	line-height: 23px;
	font-weight: normal;
}
.statistic-User .subtitle {
	color: #4c5e70;
	font-size: 18px;
	font-family: 'MyriadProRegular';
	display: block;
}
.statistiq-block .boxStats {
	padding: 25px 0 0;
}
.figure-stat {
	overflow: hidden;
	margin: 30px 0 0;
}
.week-box {
	color: #4f697a;
	display: block;
	text-align: right;
	font-size: 14px;
	font-family: 'open_sanssemibold';
	margin: 0 0 90px;
}
.week-box a {
	color: #4f697a;
	background: url(../img/icons/raow-week.png) no-repeat right 5px;
	padding: 0 20px 0 0;
	letter-spacing: 1px;
	text-transform: uppercase;
}
.block-separe {
	color: #4c5e70;
}
.block-separe h4 {
	margin: 0 0 5px;
	line-height: 20px;
	font-size: 18px;
	font-family: 'open_sansbold';
}
.block-separe .subtitle {
	font-family: 'open_sansregular';
	font-size: 14px;
	color: #7b8da0;
}
.blockGlobals {
	margin: 25px 0 20px;
	border-top: 2px solid #dae1e8;
}
.boxGlobals {
	overflow: hidden;
	background: #ffffff url(../img/bg/bg-connexion.png) repeat;
	padding: 25px 20px 20px;
	min-height: 560px;
	margin: 43px 0 0;
	-webkit-box-shadow: 0 1px 5px rgba(136, 156, 176, 0.1);
	-moz-box-shadow: 0 1px 5px rgba(136, 156, 176, 0.1);
	-o-box-shadow: 0 1px 5px rgba(136, 156, 176, 0.1);
	box-shadow: 0 1px 5px rgba(136, 156, 176, 0.1);
}
.boxGlobals h3 {
	font-size: 21px;
	color: #4c5e70;
	font-family: 'open_sansbold';
	margin: 0 0 5px;
	line-height: 23px;
	font-weight: normal;
}
.boxGlobals .imageUpload {
	padding: 90px 0;
}
.imageUpload h4 {
	color: #4c5e70;
	font-family: 'open_sansbold';
	font-size: 18px;
	margin: 23px 0 5px;
}
.boxGlobals .subtitle {
	font-family: 'open_sansregular';
	font-size: 13px;
	color: #7b8da0;
}
.boxGlobals .vuglob {
	text-align: center;
	padding-top: 0;
}
.boxGlobals .Statvuglob {
	display: inline-block;
}
.bottomStat {
	overflow: hidden;
	padding: 5px 10px 0 15px;
}
.bottomStat .statsTitle {
	color: #b52e56;
}
.bottomStat .icosStats {
	background-color: #b63058;
}
.prix-recherge {
	font-size: 32px;
	font-family: 'open_sanssemibold';
	color: #50697a;
	text-align: center;
	padding: 55px 0;
}
.prix-recherge sup {
	font-size: 65%;
}
.courbe-recherge {
	overflow: hidden;
	margin: 0 0 30px;
}
.export {
	font-size: 12px;
	color: #a1b1c2;
	text-decoration: underline;
}
.export:hover {
	color: #50697a;
}
.dashboardpage .connexion {
	background: #ffffff url("../img/bg/bg-connexion.png") repeat;
	margin-bottom: 10px;
	margin-top: 50px;
	padding: 40px 30px 50px;
	-webkit-box-shadow: 0 1px 5px rgba(136, 156, 176, 0.1);
	-moz-box-shadow: 0 1px 5px rgba(136, 156, 176, 0.1);
	-o-box-shadow: 0 1px 5px rgba(136, 156, 176, 0.1);
	box-shadow: 0 1px 5px rgba(136, 156, 176, 0.1);
}
.dashboardpage .connexion .socialbox {
	margin-bottom: 0;
	padding: 0 35px;
}
.logo-or {
	text-align: center;
	margin: 0 0 10px;
}
.phone-slide {
	position: relative;
	margin: 15px 55px;
	text-align: center;
}
.numchrge {
	font-family: Georgia, "Times New Roman", Times, serif;
	font-size: 26px;
	color: #c9c9c9;
}
.dashboardpage .form-sent {
	padding: 0 20px;
	position: static;
	text-align: center;
	width: auto;
	margin: -25px 0 0;
}
.dashboardpage .form-sent .alert {
	display: inline-block;
	padding-left: 120px;
	padding-right: 120px;
	-webkit-box-shadow: 0 1px 7px rgba(0, 0, 0, 0.4);
	-moz-box-shadow: 0 1px 7px rgba(0, 0, 0, 0.4);
	-o-box-shadow: 0 1px 7px rgba(0, 0, 0, 0.4);
	box-shadow: 0 1px 7px rgba(0, 0, 0, 0.4);
}
.top-transfert {
	text-align: center;
}
.top-transfert p {
	color: #4c5e70;
	font-family: 'open_sansregular';
	font-size: 16px;
	line-height: 24px;
}
.boxCredit {
	color: #222222;
	font-size: 28px;
	font-family: 'MyriadProSemibold';
	padding: 0 0 35px;
}
.boxCredit .creditNum {
	display: block;
	font-size: 68px;
	font-family: Georgia, "Times New Roman", Times, serif;
}
.creditNum sub, .creditNum sup {
	font-size: 40%;
}
.creditNum span {
	font-size: 36px;
}
.block-history {
	border-top: 2px solid #dae1e8;
	margin: 25px 0 0;
	padding: 30px 0 0;
}
#hystoryBox {
	height: 800px;
    overflow: scroll;
}
.historyBox {
	background: #ffffff;
	padding: 28px 25px 24px;
	-webkit-box-shadow: 0 1px 5px rgba(136, 156, 176, 0.1);
	-moz-box-shadow: 0 1px 5px rgba(136, 156, 176, 0.1);
	-o-box-shadow: 0 1px 5px rgba(136, 156, 176, 0.1);
	box-shadow: 0 1px 5px rgba(136, 156, 176, 0.1);
	margin: 5px 0;
	overflow: hidden;
	font-family: 'open_sansregular';
	color: #222222;
}
.historyBox .icoHys {
	width: 50px;
	height: 50px;
	float: left;
	display: block;
}
.historyBox .charge {
	background: url(../img/icons/pictos-dash-icon.png) no-repeat -292px 3px;
}
.historyBox .gain {
	background: url(../img/icons/pictos-dash-icon.png) no-repeat -368px 3px;
}
.historyBox .tirrage {
	background: url(../img/icons/pictos-dash-icon.png) no-repeat -439px 3px;
}
.historyBox .txt-hystory {
	float: left;
	margin: 2px 0 0 30px;
}
.historyBox h4 {
	color: #222222;
	font-family: 'open_sansbold';
	font-size: 18px;
	margin: 0 0 5px;
}
.historyBox p {
	color: #222222;
	font-size: 14px;
	margin: 0;
}
.right-history {
	float: right;
	overflow: hidden;
	padding: 10px 0 0;
}
.date-history {
	float: left;
	padding: 5px 35px;
	border-right: 2px solid #dae1e8;
	font-size: 13px;
	display: block;
}
.heur-history {
	background: url(../img/icons/hologe-icon.png) no-repeat left 6px;
	float: left;
	padding: 5px 29px;
	margin: 0 0 0 30px;
	font-family: 'open_sanssemibold';
	font-size: 14px;
	display: block;
}
.block-parametre {
	border-top: 2px solid #dae1e8;
	margin: 25px 0 0;
	padding: 50px 0 0;
}
.block-parametre .form-control {
	background-color: #ffffff;
	background-image: none;
	border: none;
	border-radius: 0;
	-webkit-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.4);
	-moz-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.4);
	-o-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.4);
	box-shadow: 0 1px 5px rgba(0, 0, 0, 0.4);
	color: #222222;
	display: block;
	font-size: 14px;
	height: 42px;
	line-height: 1.42857;
	padding: 6px 15px 6px 53px;
}
.block-parametre .form-control:focus {
	border-color: #a10029;
	outline: 0;
	-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px rgba(161, 0, 41, .7);
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px rgba(161, 0, 41, .7)
}
.block-parametre .form-group {
	margin-bottom: 20px;
}
.block-parametre .icon {
	background-color: #ffffff;
	border-right: 1px solid #c0c2c5;
}
.clear {
	clear: both;
}
.block-parametre .loginbox {
	border: none;
	margin-top: 35px;
}
.block-parametre .socialbox {
	margin-top: 35px;
}
.submit-parmeter {
	text-align: right;
	padding: 30px 250px 30px 0;
}
.submit-parmeter .btn-custum {
	display: inline-block;
	padding: 0 100px;
}
.block-parametre .imageUpload img {
	max-width: 255px;
	max-height: 255px;
	width: 100%;
}
.block-parametre .imageUpload .addPhotos {
	bottom: 5px;
	height: 60px;
	line-height: 60px;
	width: 60px;
}
.boxprametre {
	overflow: hidden;
	margin: 0 0 50px;
}
.plustel {
	color: #b32d55 !important;
	display: block !important;
	font-family: "open_sansregular" !important;
	font-size: 24px !important;
	height: 30px;
	line-height: 30px !important;
	margin: 0 !important;
	padding: 0 !important;
	position: absolute !important;
	right: 5px;
	text-align: center !important;
	top: 7px;
	width: 30px;
}
.plustel:hover {
	color: #ffffff !important;
}
.parmeteruser {
	padding: 40px 0 0;
}
.parmeteruser ul li {
	list-style: none;
	float: left;
	width: 50%;
	overflow: hidden;
	margin: 10px 0;
}
.parmeteruser ul li i {
	height: 42px;
	line-height: 42px;
	margin: 0 15px 0 0;
	width: 42px;
	text-align: center;
	float: left;
	font-size: 20px;
}
.parmeteruser ul li span {
	font-family: "open_sansregular";
	float: left;
	margin: 10px 0 0;
	color: #666666;
	font-size: 16px;
}
.geofont {
	font-family: Georgia, "Times New Roman", Times, serif !important;
}
.modifier {
	color: #b32d55;
	font-size: 12px;
	font-family: "open_sansregular";
	text-decoration: none;
	float: right;
	margin: 10px 0 0;
}
.modifier:hover {
	color: #222222;
}
.contactpage {
	background:#f0f3f6 ;
}
.contactpage .connexion {
	margin-top: 40px;
	padding-bottom:40px;
}
/*------FAQ---*/
.pageinterne {
	background:#f0f3f6;
}
.block-pagetitle {
	background: url(../img/bg/bg-submenu.png) repeat;
	min-height: 55px;
	padding: 115px 0 10px;
	position: relative;
}
.accordion {
	padding:35px 15px;
}
.block-pagetitle h2 {
	color:#ffffff;
	font-size:40px;
}
.accordion .title-acc {
	background: #3c3c3c;
	padding: 12px 50px 12px 20px;
	margin: 0 0 5px;
	cursor: pointer;
	overflow: hidden;
	font-family: 'roboto_condensedbold';
	font-size: 15px;
	font-weight: normal;
	position: relative;
	color: #ffffff;
}
.accordion .title-acc:hover {
	background-color: #000;
}
.accordion .title-acc.active .arrow-acc {
	background-position: center -47px;
}
.accordion .title-acc .arrow-acc {
	background: #baff56 url(../img/icons/arrow-square.png) no-repeat center 19px;
	width: 45px;
	height: 45px;
	display: block;
	margin: 0 0 0 25px;
	position: absolute;
	right: 0;
	top: 0;
}
.texte-left-part .accordion .title-acc .arrow-acc {
	background-color: #88c140;
}
.accordion .content-acc {
	background: #f1f1f1;
	margin: 0;
	padding: 10px 15px 20px;
}

/*** Style page countdown ***/
body#countdown {
	 margin:0;
    padding:0;
    height:100%;
    width:100%;
    -webkit-font-smoothing:antialiased;
    -webkit-text-size-adjust:100%
}
#countdown .block-overlay{position:relative;z-index:100;width:100%;min-height:1100px;height:100%;}

.pattern {
    /* background-image:url(../img/bg/pattern.png); */
    background-image:url(../img/slider/mask-bg-slide.png);
    background-repeat: repeat;
    background-attachment:scroll;
    width:100%;
    height:100%;
    position:absolute;
    top:0;
    left:0
}



/* BIG VIDEO BACKGROUND
================================================== */
.big-background {
    z-index:550;
    text-align:center;
    height:100%;
    min-height:100%;
    position:relative;
    overflow:hidden
}

.big-background.big-background-default-image  {background:none;}
.big-background .big-background-container {
    width:200px;
    max-width:100%;
    display:inline-block;
    position:absolute;
    top:80%;
    left:30%;
    -webkit-transform:translate(-50%,-50%);
    -moz-transform:translate(-50%,-50%);
    -ms-transform:translate(-50%,-50%);
    -o-transform:translate(-50%,-50%);
    transform:translate(-50%,-50%)
}
.big-background .big-background-container-bottom {
    width:300px;
    max-width:100%;
    display:inline-block;
    position:absolute;
    top:95%;
    left:50%;
    -webkit-transform:translate(-50%,-50%);
    -moz-transform:translate(-50%,-50%);
    -ms-transform:translate(-50%,-50%);
    -o-transform:translate(-50%,-50%);
    transform:translate(-50%,-50%)
}

a.big-background-btn {
    font-family:'Lato',sans-serif;
    font-size:13px;
    text-transform:uppercase;
    text-decoration:none;
    color:#fff;
    background:rgba(152, 36, 65,0.50);
    border:2px solid #fff;
    padding:10px 14px;
    cursor:pointer;
    letter-spacing:2px;
    text-align:center;
    display:block;
    -webkit-transition:.4s background ease;
    -moz-transition:.4s background ease;
    -o-transition:.4s background ease;
    transition:.4s background ease;
	margin-bottom:5px;
}
.socialBox a.big-background-btn {background:transparent;display:inline-block;}
.big-background-btn:hover {
    background:rgba(255,255,255,0.50);
	color:#000;
}
.big-background-btn:hover i:hover {
    color:#A94442;
}
.darkBlue {color:#3B5998;}
.blueCyon {color:#60A9DC;}
#getting-started {position:absolute;left:0;z-index:1000;}
/* ----------------------------
 *;
 * Template Header - screen-sm
 *
 * --------------------------- */
/* Custom, iPhone Retina */
@media only screen and (min-width : 320px) {
.logoHolder > a {
	display: block;
	position: relative;
	margin: 0 auto;
	width: 200px;
}
.logoHolder > a img {
	max-width: 200px;
	height: auto;
}
}

/* Extra Small Devices, Phones */
@media only screen and (min-width : 480px) {
.logoHolder > a {
	display: inline;
	position: relative;
	margin: 0 auto;
	max-width: 200px;
	height: auto;
}
.logoHolder > a img {
	max-width: 200px;
	height: auto;
}

}

/* Small Devices, Tablets */
@media only screen and (max-width : 767px) {
.slogan h1 {
	margin: 0px;
	color: #FFF;
	font-size: 16px;
	font-weight: 300;
	text-align: center;
	line-height: 20px;
}
.slogan h2 {
	margin: 0px;
	color: #EFEFEF;
	font-size: 11px;
	font-weight: 300;
	text-align: center;
	line-height: 16px;
}
}
/* Small Devices, Tablets */
@media only screen and (min-width : 768px) {
}

/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {
.container>.navbar-header, .container-fluid>.navbar-header, .container>.navbar-collapse, .container-fluid>.navbar-collapse {
	margin-right: 0px;
	margin-left: 0px;
	padding: 10px 0px;
}
}


/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px) {
}


/*==========  Non-Mobile First Method  ==========*/

/* Large Devices, Wide Screens */
@media only screen and (max-width : 1200px) {
.nav-pills > li > a {
	padding: 38px 10px !important;
}
ul.nav li a.info {
	margin-left: 60px;
}
.navbar-fixed-top .nav-pills > li > a {
	padding: 20px 10px !important;
}
.socialbox a {
	font-size: 13px;
}
	 .One-more-step .connexion {
	margin-top: 140px;
	padding: 30px 25px 20px;
	margin-bottom: 40px;
}
.parrainage .connexion {
    margin-top: 140px;
    padding: 30px 25px 20px;
    margin-bottom: 40px;
}
.boxprametre {
    margin: 0;

}
}
 @media only screen and (max-width :1199px) {
	.dashboardpage .connexion {
    padding: 40px 10px 50px;
	}
 }
 @media only screen and (max-width :1024px) {
.leConcept {
	padding: 0 0 20px 47px;
	background: url("../img/separator.png") no-repeat scroll 50px center;
}
.socialbox a {
	font-size: 13px;
}

}

/* Medium Devices, Desktops */
@media only screen and (max-width : 992px) {
.tooglenav {
	display: block;
}
.nav-pills {
	background: rgba(79, 19, 35, 0.8);
	width: 100%;
	position: absolute;
	top: 80px;
	display: none;
	z-index: 9999;
}
.nav-pills > li {
	float: none;
}
.nav-pills > li > a {
	padding: 10px 10px !important;
}
.mainMenuHolder {
	height: 5px;
	position: relative;
}
.mainMenu {
	position: relative;
	top: -10px;
}
.logoHolder {
	padding: 5px 0px 0;
}
.logoHolder > a img {
	max-width: 150px;
	height: auto;
}
ul.nav li a.info {
	margin-left: 0;
}
.flexslider .slides img {
	height: 500px !important;
	width: auto !important;
}
.socialbox a {
    font-size: 10px;
}
.parmeteruser ul li {
	width: 100%;
}
.block-submenu ul li {
	margin: 0 50px;
}
.connexion {
    margin-top: 115px;
    margin-bottom: 40px;
	padding: 25px;

}
.senregitrer .connexion {
    margin-top: 200px;
    padding: 25px;
    margin-bottom: 40px;
}
.contactpage .connexion {
    margin-top: 35px;

}
.btn-custum {
    padding: 0 5px;
}
.One-more-step .connexion {
	margin-top: 120px;
	padding: 30px 25px 20px;
	margin-bottom: 40px;
}
.block-submenu {
	padding: 100px 0 0;
}
.block-pagetitle {
    padding: 70px 0 10px;

}


}

/* Small Devices, Tablets */
@media only screen and (max-width : 768px) {
.boxVideo {
	min-height: 200px;
}
.boxPlay {
	margin-left: 15px;
	margin-right: 15px;
}
.flex-control-nav {
	display: none;
}
.copyright {
	margin-bottom: 25px;
}
.footer {
	padding: 20px 0;
}
.footer .row {
	margin-left: 0;
	margin-right: 0;
}

.Chartebox canvas {
	max-height: 100% !important;
}
.leConcept {
	background: none;
	width: 100%;
}
.boxStats {
	padding: 10px;
}
.vueGlobale {
	padding: 0 20px 20px;
	width: 100%;
}
.leConcept {
	padding: 0 15px 20px 10px;
}
.blocInfos h2 {
	text-align: left;
}
.BoxnameUser {
	display: none;
}

.btn-custum {
	padding: 0;
	font-size: 14px;
}
.One-more-step .connexion {
	margin-top: 100px;
	padding: 20px 15px;
	margin-bottom: 50px;
}
.imageUpload .addPhotos {
	right: 60px;
}
.parrainage .connexion {
	padding: 20px 15px;
}
.loginbox .btn-custum {
	padding: 0 15px;
}
.modifier {
	margin: 10px 20px 0;
}

.block-submenu ul li {
	margin: 0 30px;
}
.boxGlobals {
	min-height: 50px;
}
.parrainage .connexion {
    margin-top: 110px;

}
}
@media only screen and (max-width : 767px) {
.socialbox a {
	line-height: 42px;
}
.socialbox {
	padding-left: 15px;
}
.loginbox {
	padding-right: 15px;
	border-right: none;
	border-bottom: 1px solid #dddddd;
	padding-bottom: 35px;
}
.loginbox .ou {
	top: 172px;
	right: 50%;
	padding: 3px 5px;
}
.btn-custum {
	padding: 0 10px;
	font-size: 16px;
}
.imageUpload .addPhotos {
	right: 42%;
	bottom: 30px;
	margin-right: -20px;
}
.parrainage .connexion {
	padding: 20px 50px;
}
.socialbox a {
	font-size: 15px;
}
.block-parametre .row {
	margin-left: 0;
	margin-right: 0;
}
.block-separe {
	padding: 0 15px;
}
.block-parametre .socialbox {
	margin-top: 0;
}
.block-parametre .loginbox {
	border: none;
	padding-bottom: 0;
}
.refillbox {
	padding: 30px 0 0;
}
.week-box {
	margin: 0 0 35px;
}
.boxGlobals .imageUpload {
	padding: 45px 0;
}
.footer .row .col-sm-8 .copyright{
	display:none;
}
.footer .footerBox .copyright{
	display:block;
	margin:25px 0 15px;
	text-align:center;
}
.boxVideo {
	padding: 110px 30px 0;
}
}
@media only screen and (max-width : 640px) {
.rejoin-right {
	padding-left: 0;
	margin: 20px 0 0;
}
.navbar {
	margin-bottom: 0
}
.submit-parmeter {
	text-align: center;
	padding: 20px 0;
}
}
@media only screen and (max-width : 580px) {
.block-submenu ul li {
	margin: 0 20px;
}
.heur-history {
	margin: 0 0 0 15px;
}
.date-history {
	padding: 5px 15px;
}
}
@media only screen and (max-width : 500px) {
.block-submenu ul li {
	float: none;
	margin: 0;
}
.block-submenu ul li:hover {
	background: none;
}
.block-submenu {
	padding: 55px 0 0;
	position: fixed;
	width: 50px;
	top: 75px;
	left: 0;
	z-index: 999;
	/*height: 100%;*/
	display:none;
}
.dashboardpage {

    padding: 120px 0 35px;
}
.block-history {
    padding: 30px 15px 0;
}
.block-submenu ul li span {
	display: none;
}
.block-submenu .container {
	padding-left: 5px;
	padding-right: 5px;
}
.block-submenu ul li.current {
	background: none;
}
.subClose {
	background: url(../img/icons/close-ico.png) no-repeat;
	height: 26px;
	width: 26px;
	padding: 10px 0;
	display: block;
	margin: -35px auto 25px;
}
.subShow {
	background: #a00028 url(../img/icons/raow-sumenu.png) no-repeat center center;
	font-size: 15px;
	line-height: 20px;
	margin: 2px 20px 0 0;
	width: 40px;
	height: 40px;
	overflow: hidden;
	cursor: pointer;
	display: none;
	position: fixed;
	top: 75px;
	left: 5px;
	z-index: 999;
}
}
/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px) {
.videoItem {
	width: 100%;
}
#blocVideos .videoItem .boxPicture {
	max-height: none;
	height: auto;
}
#blocVideosTS .videoItem .boxPicture {
	max-height: none;
	height: auto;
}
.form-horizontal .input-group {
	display: block !important
}
.infos-slider {
	left: 2%;
	padding: 55px 0 0 5px;
}

.boxVideo h2 {
	font-size: 30px;
}
.boxVideo h3 {
	font-size: 18px;
}
.text-bottom {
	font-size: 16px;
}
.box-dutton a {
	display: block;
	margin: 0 5px 10px;
}
.blocInfos h2 {
	font-size: 25px;
}
#clock {
  font-size: 39px;
    left: 10%;
    margin-top: 0;
}
#countdown .block-overlay {min-height:480px;}
.big-background.big-background-default-image {
    background:url(../img/bg_countdown.jpg);
    background-repeat:no-repeat;
    background-position:center center;
    background-size:cover;
    width:100%;
    height:100%;
    z-index:0;
    backface-visibility:hidden
}
iframe#bgvid {
    position: fixed;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: 1100px;
    z-index: -100;
    -ms-transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
    background: url(polina.html) no-repeat;
    background-size: cover;
.big-background .big-background-container{
	width:150px;
	top:85%;
}

a.big-background-btn {
    font-size:10px;
    padding:6px 10px;
    cursor:pointer;
    letter-spacing:1px;
}

.box-dutton a.suivant {
	min-width: 100px;
}
.tooglenav {
	margin: 2px 0;
}
.flexslider .slides img {
	height: 400px !important;
}
.form-sent {
	padding: 0;
}
.title {
	padding: 0 15px;
}
.title h2 {
	font-size: 20px;
}
.parrainage .connexion {
	padding: 20px 15px;
	margin-top: 135px;
}
.connexion {
	padding: 20px 25px;
	margin-top: 115px;
}
.dashboardpage .form-sent .alert {
	padding-left: 20px;
	padding-right: 20px;
}
.rejoin-left {
    background: #f1f1f1;
    min-height: 262px;
    padding: 40px 20px 10px;
}
.boxPlay iframe {
	height: 350px;
}

}
@media only screen and (max-width : 400px) {
.historyBox h4 {
	font-size: 15px;
}
.historyBox .txt-hystory {
	margin: 2px 0 0 10px;
}
.historyBox {
	padding: 15px 10px;
}
.block-pagetitle h2 {
    font-size: 30px;
}

}
@media only screen and (max-width : 380px) {

.boxleft-num p {
	font-size: 14px;
	line-height: 20px;
}
.bottom-SlideInf {
	padding: 0;
}
.infos-slider {
	left: 2px;
}
.connexion {
	padding: 20px 15px;
}
.senregitrer .connexion {
	margin-top: 150px;
	padding: 20px 15px;
	margin-bottom: 50px;
}
.contactpage .connexion {
    margin-top: 35px;

}
.socialbox a {
	font-size: 14px;
}
.imageUpload .addPhotos {
	right: 38%;
	bottom: 25px;
}
.dashboardpage .connexion {
	padding: 40px 0 50px;
}
.dashboardpage .container > .row {
	margin-left: 0;
	margin-right: 0;
}
.numchrge {
	font-size: 18px;
}
.submit-parmeter .btn-custum {
	padding: 0 75px;
}
.top-rejoinez h2 {
    font-size: 25px;
}
.nemb-box {
    font-size: 20px;
    line-height: 25px;

}
.besoin-aide {
    background: #f1f1f1;
    padding: 25px 15px;
}
.besoin-aide ul {
    margin: 35px 0 15px;
}
.boxfooter {
   padding:0;
   height: auto;
}
.besoin-aide ul li {
    font-size: 18px;
}
.block-communaute h2 {
    font-size: 22px;
    margin-bottom: 5px;
}
.content-panel .panel-title h2 {
    font-size: 22px;
}
}
/* Custom, iPhone Retina */
@media only screen and (max-width : 330px) {
.historyBox h4 {
	margin: 10px 0 5px;
}
.modifier {
	margin: 25px 20px 0;
}
}
.animV {
	transition: -webkit-transform .3s ease-in, -ms-transform .3s ease-in, transform .3s ease-in, opacity .3s ease-in, color .3s linear, background-color .3s linear;
}
.animH {
	transition: -webkit-transform .3s ease-in, -ms-transform .3s ease-in, transform .3s ease-in, opacity .3s ease-in, color .3s linear, background-color .3s linear;
}
.animV.dft {
	-webkit-transform: translateY(20px);
	-ms-transform: translateY(20px);
	transform: translateY(20px);
	opacity: 0;
	filter: alpha(opacity=0);
	transition: none;
}
.animH.rtl {
	-webkit-transform: translateX(20px);
	-ms-transform: translateX(20px);
	transform: translateX(20px);
	opacity: 0;
	filter: alpha(opacity=0);
	transition: none;
}
.animH.ltr {
	-webkit-transform: translateX(-20px);
	-ms-transform: translateX(-20px);
	transform: translateX(-20px);
	opacity: 0;
	filter: alpha(opacity=0);
	transition: none;
}
.animV.pos2 {
	-webkit-transform: translateY(0px);
	-ms-transform: translateY(0px);
	transform: translateY(0px);
	opacity: 1;
	filter: alpha(opacity=100);
}
.animV.pos1 {
	-webkit-transform: translateY(-20px);
	-ms-transform: translateY(-20px);
	transform: translateY(-20px);
	opacity: 0;
	filter: alpha(opacity=0);
}

.file-upload {
    display: none;
}
