/* ----------------------------
 *
 * Helper Class
 *
 * --------------------------- */
/* Colors */
.red{color:#a00028}
.gray{color:#222222}
.white{color:#fff}
/*
 * bold
 */
.bold {
  font-weight: 700;
}
/* 
 * semi bold
 */
.semibold {
  font-weight: 600;
}
/* 
 * Thin
 */
.thin {
  font-weight: 300;
}
.ellipsis {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
/* 
 * white 
 */
.text-white {
  color: #ffffff !important;
}
/* 
 * accent 
 */
.text-accent {
  color: #006699 !important;
}
a.text-accent:hover {
  color: #005580 !important;
}
/* 
 * default 
 */
.text-default {
  color: #777777 !important;
}
a.text-default:hover {
  color: #5e5e5e !important;
}
/* 
 * muted 
 */
.text-muted {
  color: #a2a2a2 !important;
}
a.text-muted:hover {
  color: #bbbbbb !important;
}
/* 
 * primary 
 */
.text-primary {
  color: #a00028 !important;
}
a.text-primary:hover {
  color: #009dc8 !important;
}
/* 
 * success 
 */
.text-success {
  color: #91c854 !important;
}
a.text-success:hover {
  color: #85c241 !important;
}
/* 
 * info 
 */
.text-info {
  color: #63d3e9 !important;
}
a.text-info:hover {
  color: #4dcde6 !important;
}
/* 
 * warning 
 */
.text-warning {
  color: #ffd66a !important;
}
a.text-warning:hover {
  color: #ffcf51 !important;
}
/* 
 * danger 
 */
.text-danger {
  color: #ed5466 !important;
}
a.text-danger:hover {
  color: #eb3d51 !important;
}
/* 
 * teal 
 */
.text-teal {
  color: #6bccb4 !important;
}
a.text-teal:hover {
  color: #58c5aa !important;
}
/* Long Shadow text
-------------------------------*/
.longshadow {
  text-shadow: #e2e2e2 1px 1px, #e2e2e2 2px 2px, #e2e2e2 3px 3px, #e3e3e3 4px 4px, #e5e5e5 5px 5px, #e7e7e7 6px 6px, #e8e8e8 7px 7px, #eaeaea 8px 8px, #ececec 9px 9px, #eeeeee 10px 10px;
}
/* Font Size
-------------------------------*/
.fsize10 {
  font-size: 10px;
}
.fsize16 {
  font-size: 16px;
}
.fsize18 {
  font-size: 18px;
}
.fsize24 {
  font-size: 24px;
}
.fsize32 {
  font-size: 32px;
}
.fsize48 {
  font-size: 48px;
}
.fsize64 {
  font-size: 64px;
}
.fsize80 {
  font-size: 80px;
}
.fsize96 {
  font-size: 96px;
}
.fsize112 {
  font-size: 112px;
}
.fsize128 {
  font-size: 128px;
}
/* Margin */
.ma15 {
  margin: 15px !important;
}
.ma10 {
  margin: 10px !important;
}
.ma5 {
  margin: 5px !important;
}
.nm {
  margin: 0px !important;
}
.ma-15 {
  margin: -15px !important;
}
.ma-10 {
  margin: -10px !important;
}
.ma-5 {
  margin: -5px !important;
}
.mt40 {
  margin-top: 40px !important;
}
.mt20 {
  margin-top: 20px !important;
}
.mt15 {
  margin-top: 15px !important;
}
.mt10 {
  margin-top: 10px !important;
}
.mt5 {
  margin-top: 5px !important;
}
.mt0 {
  margin-top: 0px !important;
}
.mt-15 {
  margin-top: -15px !important;
}
.mt-10 {
  margin-top: -10px !important;
}
.mt-5 {
  margin-top: -5px !important;
}
.mr15 {
  margin-right: 15px !important;
}
.mr10 {
  margin-right: 10px !important;
}
.mr5 {
  margin-right: 5px !important;
}
.mr0 {
  margin-right: 0px !important;
}
.mr-15 {
  margin-right: -15px !important;
}
.mr-10 {
  margin-right: -10px !important;
}
.mr-5 {
  margin-right: -5px !important;
}
.mb40 {
  margin-bottom: 40px !important;
}
.mb20 {
  margin-bottom: 20px !important;
}
.mb15 {
  margin-bottom: 15px !important;
}
.mb10 {
  margin-bottom: 10px !important;
}
.mb5 {
  margin-bottom: 5px !important;
}
.mb0 {
  margin-bottom: 0px !important;
}
.mb-15 {
  margin-bottom: -15px !important;
}
.mb-10 {
  margin-bottom: -10px !important;
}
.mb-5 {
  margin-bottom: -5px !important;
}
.ml15 {
  margin-left: 15px !important;
}
.ml10 {
  margin-left: 10px !important;
}
.ml5 {
  margin-left: 5px !important;
}
.ml0 {
  margin-left: 0px !important;
}
.ml-15 {
  margin-left: -15px !important;
}
.ml-10 {
  margin-left: -10px !important;
}
.ml-5 {
  margin-left: -5px !important;
}
/* Padding */
.pa15 {
  padding: 15px !important;
}
.pa10 {
  padding: 10px !important;
}
.pa5 {
  padding: 5px !important;
}
.np {
  padding: 0px !important;
}
.pt15 {
  padding-top: 15px !important;
}
.pt10 {
  padding-top: 10px !important;
}
.pt5 {
  padding-top: 5px !important;
}
.pt0 {
  padding-top: 0px !important;
}
.pr15 {
  padding-right: 15px !important;
}
.pr10 {
  padding-right: 10px !important;
}
.pr5 {
  padding-right: 5px !important;
}
.pr0 {
  padding-right: 0px !important;
}
.pb15 {
  padding-bottom: 15px !important;
}
.pb10 {
  padding-bottom: 10px !important;
}
.pb5 {
  padding-bottom: 5px !important;
}
.pb0 {
  padding-bottom: 0px !important;
}
.pl15 {
  padding-left: 15px !important;
}
.pl10 {
  padding-left: 10px !important;
}
.pl5 {
  padding-left: 5px !important;
}
.pl0 {
  padding-left: 0px !important;
}
/* Vertical align */
.valign-top {
  vertical-align: top !important;
}
.valign-middle {
  vertical-align: middle !important;
}
.valign-bottom {
  vertical-align: bottom !important;
}
/* Misc */
.bradius0 {
  border-radius: 0px !important;
}
.bdr0 {
  border-width: 0px !important;
}
.noshadow {
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
}
.dis-none {
  display: none;
}
.overflow-hidden {
  overflow: hidden;
}
.float-none {
  float: none !important;
}
/* ----------------------------
 *
 * Button & Link
 *
 * --------------------------- */
/* anchor reset */
a {
    color: #a00028;
    text-decoration: none;
}
a:hover,
a:focus,
a:active {
    color: #009dc8;
    outline: 0;
    text-decoration: none;
}
/* ----------------------------
 *
 * Nav
 *
 * --------------------------- */
.nav > li h1,
.nav > li h2,
.nav > li h3,
.nav > li h4,
.nav > li h5,
.nav > li h6 {
  margin: 0px;
}
.nav > li > a {
  position: relative;
  display: block;
  padding:5px 10px
}
.nav > li > a:hover,
.nav > li > a:focus,
.nav .open > a,
.nav .open > a:hover,
.nav .open > a:focus {
  background-color: transparent;
  border-color: transparent;
}

/* Pills */
.nav-pills{

}
.nav-pills > li > a {
  border-radius: 3px;
  color: #fff;
  text-decoration: none;
}
.nav-pills > li.active > a,
.nav-pills > li.active > a:hover,
.nav-pills > li.active > a:focus {
  background-color: #a00028;
  
}
.nav-pills > li > a:hover,
.nav-pills > li > a:focus {
  background-color: #a00028;
  color: #fff;
  outline: 0;
  text-decoration: none;
}


img.aspect-px {
  /*background-color: #ccc;*/
  background-size: cover;
  background-position: center;
  width: 100%;
  height: auto;
}

.form-control-inline {
    min-width: 0;
    width: auto;
    display: inline;
}

/* ----------------------------
 *
 * List Group
 *
 * --------------------------- */
.list-group-header {
  font-weight: 600;
  padding: 10px 15px;
  color: #777777;
  font-size: 14px;
}
.list-group-item {
  border: 1px solid #cfd9db;
}
a.list-group-item.active,
a.list-group-item.active:hover,
a.list-group-item.active:focus {
  background-color: #00b1e1;
  border-color: #00a5d2;
}
a.list-group-item:hover,
a.list-group-item:focus {
  background-color: #f7f7f7;
  color: #777777;
}

.list-group-item.active, .list-group-item.active:hover, .list-group-item.active:focus {
text-shadow: 0 -1px 0 #a00028;
background-image: -webkit-linear-gradient(top,#a00028 0,#a00028 100%);
background-image: linear-gradient(to bottom,#a00028 0,#a00028 100%);
background-repeat: repeat-x;
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#a00028', endColorstr='#a00028', GradientType=0);
border-color: #a00028;
}
.list-group-item.active a, .list-group-item.active:hover a, .list-group-item.active:focus a {
color: #fff;
}

/* panel footer  
 -------------------------------*/
.panel-footer {
  overflow: auto;
  background-color: #fff;
  border-top: 1px solid #cfd9db;
  border-bottom-right-radius: 3px;
  border-bottom-left-radius: 3px;
}
.panel-body .panel-footer {
  margin: 15px -15px -15px -15px;
}
.panel-footer + .panel-body {
  border-top: 1px solid #cfd9db;
}