{% load i18n        %}
{% load staticfiles %}

<!DOCTYPE html>
<html class="no-js">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<title>{% block title %}{% endblock %}</title>
	<meta name="description" content="">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	{% block css %}
		<link rel="stylesheet" href="{% static 'js/plugins/perfect-scrollbar/perfect-scrollbar.css' %}">
		<link rel="stylesheet" href="{% static 'css/bootstrap.min.css'                              %}">
		<link rel="stylesheet" href="{% static 'css/bootstrap-theme.min.css'                        %}">
		<link rel="stylesheet" href="{% static 'css/uielement.css'                                  %}">
		<link rel="stylesheet" href="{% static 'css/main.css'                                       %}">
		<link rel="stylesheet" href="{% static 'css/font-awesome.min.css'                           %}">
		<link rel="stylesheet" href="{% static 'css/combo.select.css'                               %}">
		<link rel="stylesheet" href="{% static 'css/flexslider.css'                                 %}">
		<link rel="stylesheet" href="{% static 'css/customscrollbar.css'                            %}">
		<link rel="stylesheet" href="{% static 'css/bootstrap-notify.css'                           %}">
		<link rel="stylesheet" href="{% static 'css/jquery.circliful.css'                           %}">
	{% endblock %}

	{% block header_js %}
		<script src="{% static 'js/vendor/modernizr-2.6.2-respond-1.1.0.min.js' %}"></script>
	{% endblock %}

	<script>
		var login_url        = "{% url 'account_login' %}";
		var csrf_token       = '{{ csrf_token }}';
		var is_authenticated = {{request.user.is_authenticated|yesno:"true,false" }};
		window.fbAsyncInit = function() {
			FB.init({
				appId  : '{{ config.FACEBOOK_APP_ID }}',
				xfbml  : true,
				version: 'v2.7'
			});
		};

		(function(d, s, id){
			var js, fjs = d.getElementsByTagName(s)[0];
			if (d.getElementById(id)) {return;}
			js = d.createElement(s); js.id = id;
			js.src = "//connect.facebook.net/fr_FR/sdk.js";
			fjs.parentNode.insertBefore(js, fjs);
		}(document, 'script', 'facebook-jssdk'));
	</script>
</head>

<body class="{% block bodyclass %}{% endblock %}">
	<div id="fb-root"></div>
	<!--[if lt IE 7]>
		<p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
	<![endif]-->
	<header>
		<div class="navbar navbar-inverse " role="navigation">
			<div class="container">
				<div class="row">
					<div class="col-md-3 col-xs-3 ">
						<div class="logoHolder">
							<a href="{% url 'home' %}">
								<img src="/static/img/logo.png" alt=""/>
							</a>
						</div>
					</div>
					<div class="col-md-9 col-xs-9 ">
						<div class="mainMenuHolder">
							<div class="mainMenu ">
								<a href="#" class="tooglenav"></a>
								<ul class="nav nav-pills">
									<li><a href="{% url 'home'        %}" id="home_link"       >Accueil  </a></li>
									<li><a href="{% url 'share'       %}" id="share_link"      >Partager </a></li>
									<li><a href="{% url 'sponsorship' %}" id="sponsorship_link">Parrainez</a></li>
									<li><a href="{% url 'faq'         %}" id="faq_link"        >FAQ      </a></li>
									<li><a href="{% url 'contact'     %}" id="contact_link"    >Contact  </a></li>
									{% if user.is_authenticated %}
									<li class=""><a href="{% url 'dashboard'      %}" class="info">Profil </a></li>
									<li class=""><a href="{% url 'account_logout' %}" class="primary">Déconnexion</a></li>
									{% else %}
									<li class=""><a href="{% url 'account_signup' %}" class="info">S'inscrire</a></li>
									<li class=""><a href="{% url 'account_login'  %}" class="primary">Connexion</a></li>
									{% endif %}
								</ul>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</header>
	{% block content %}{% endblock content %}
	<footer class="footer">
		<div class="container">
			<div class="row">
				<div class="col-xs-12 col-sm-8">
					<ul class="menuFooter list-inline">
						<li><a href="{% url 'home' %}">Accueil </a></li>
						<li>|</li>
						<li><a href="{% url 'terms_and_conditions' %}"> Conditions générales </a></li>
						<li>|</li>
						<li><a href="{% url 'faq' %}"> FAQ </a></li>
						<li>|</li>
						<li><a href="{% url 'contact' %}">Contact</a></li>
					</ul>
					<div class="copyright">
						<p>© 2013 - Tous droits réservés. <a href="http://www.kleemablech.com/"> KleemaBlech.com </a><br>
							Powered By <a href="http://www.hscom.tn">HSCOM</a></p>
					</div>
				</div>
				<div class="col-xs-12 col-sm-4">
					<div class="socialListHolder bdr0 mb15">
						<div class="socialList pull-left">
							<ul class="list-unstyled">
								<li class="Facebook" title="Facebook">
									<a href="#" target="_blank">
										<i class="fa fa-facebook"></i>
										<div id="footer_facebook_followers_count" style="display:inline"></div> Fan
									</a>
								</li>
								<li class="Twitter" title="Twitter">
									<a href="javascript:void(0)" target="_blank">
										<i class="fa fa-twitter"></i>
										<div id="footer_twitter_followers_count" style="display:inline"></div> Follower
									</a>
								</li>
							</ul>
						</div>
						<div class="clearfix"></div>
					</div>
					<div class="footerBox">
						<div class="footerBox-content">
							<form class="form-horizontal" role="form" id="news_letter_form" method="POST" action="{% url 'news_letter_emails' %}">
								{% csrf_token %}
								<div class="form-group">
									<div class="input-group">
										<input type="email" class="form-control input-sm" id="email" name="email" placeholder="Insérer votre adresse mail">
									</div>
								</div>
								<button type="submit" class="btn btn-validate">OK</button>
							</form>
						</div>
						<div class="copyright">
							<p>© 2013 - Tous droit réservés.
								<a href="http://www.kleemablech.com/"> KleemaBlech.com </a>
								<br>
								Powered By Push Agency
							</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</footer>

	{% block js %}
		<script src="https://js.pusher.com/3.1/pusher.min.js"></script>
		<script>
			var user_logged = {{ user.is_authenticated|yesno:"true,false" }};

			var monthly_wins_stats_url       = "{% url 'monthly_wins_stats'       %}";
			var monthly_views_stats_url      = "{% url 'monthly_views_stats'      %}";
			var monthly_refills_stats_url    = "{% url 'monthly_refills_stats'    %}";
			var twitter_followers_check_url  = "{% url 'twitter_followers_count'  %}";
			var facebook_followers_check_url = "{% url 'facebook_followers_count' %}";
		</script>
		<script src="{% url 'javascript-catalog' %}"></script>

		<script src="{% static 'js/vendor/jquery-1.11.1.min.js' %}"></script>
		<script src="{% static 'js/vendor/bootstrap.min.js'     %}"></script>
		<script src="{% static 'js/jquery.circliful.js'         %}"></script>
		<script src="{% static 'js/bootstrap-datepicker.js'     %}"></script>
		<script src="{% static 'js/bootstrap-datepicker.fr.js'  %}"></script>
		<script src="{% static 'js/jquery.combo.select.js'      %}"></script>
		<script src="{% static 'js/customscrollbar.min.js'      %}"></script>
		<script src="{% static 'js/jquery.flexslider.js'        %}"></script>
		<script src="{% static 'js/Chart.js'                    %}"></script>
		<script src="{% static 'js/checkbox.js'                 %}"></script>
		<script src="{% static 'js/bootstrap-notify.js'         %}"></script>
		<script src="{% static 'js/validator.js'                %}"></script>

		<script src="{% static 'js/utils.js' %}"></script>
		<script src="{% static 'js/main.js'  %}"></script>
	{% endblock %}
	{% block extra_js %}{% endblock %}
</body>

</html>
