{% extends "base.html" %}

{% load i18n          %}
{% load static        %}
{% load recaptcha2    %}
{% load widget_tweaks %}

{% block title %}{% trans "Contact" %}{% endblock %}

{% block header_js %}
	{{ block.super }}
	{% recaptcha_init 'fr' %}
{% endblock %}

{% block content %}
	<div class="block-pagetitle">
		<div class="container">
			<h2>Contactez-nous</h2>
		</div>
	</div>

	<div class="contactpage">
		<div class="container">
			<div class="col-sm-8 col-sm-offset-2 connexion">
				<div class="row">
					<div class="title">
						<h2>Pour toutes vos questions ou demande d'informations</h2>
						<p>Veuillez remplir le formulaire ci-après.</p>
					</div>
					<form id="contact_form" role="form" action="{% url 'contact' %}" method="post" data-toggle="validator">
						{% csrf_token %}
						<div class="col-sm-6 col-xs-12 ">
							<div class="form-group">
								<label class="icon" for="name"><i class="fa fa-name"></i></label>
								{% render_field form.name class="form-control" placeholder="Nom & prénom" required="true"%}
								<div class="help-block with-errors"></div>
							</div>
						</div>
						<div class="col-sm-6 col-xs-12 ">
							<div class="form-group">
								<label class="icon" for="name"><i class="fa fa-envelope"></i></label>
								{% render_field form.email class="form-control" placeholder="E-mail" type="email" required="true"%}
								<div class="help-block with-errors"></div>
							</div>
						</div>
						<div class="clear"></div>
						<div class="innerdiv">
							<div class="form-group">
								<label class="icon " for="subject"><i class="fa fa-subject "></i></label>
								{% render_field form.subject class="form-control" required="true" %}
								<div class="help-block with-errors"></div>
							</div>
							<div class="form-group">
								<label class="icon mesge" for="date"><i class="fa fa-messages"></i></label>
								{% render_field form.message class="form-control" placeholder="Message" required="true" %}
								<div class="help-block with-errors"></div>
							</div>
						</div>
						<div class="clear"></div>
						<div class="col-sm-6 col-xs-12 ">
							<div class="captcha form-group">
								<div name="captcha"></div>
								{% render_field form.captcha required="true" %}
								<div class="help-block with-errors"></div>
							</div>
						</div>
						<div class="col-sm-6 col-xs-12 ">
							<div class="checked-option">
								<label >
									<input type="checkbox" value="2" required="true">
									J'ai lu et accepté les conditions générales d'utilisation du site Kleemablech.com
								</label>
							</div>
							<button class="btn btn-custum " type="submit">Envoyer mon message</button>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
	<div class='notifications center-bottom' align="center"></div>
{% endblock %}

{% block extra_js %}
	<script src="{% static 'js/contact.js' %}"></script>
{% endblock %}
