{% extends "pages/profile_base.html" %}

{% load i18n         %}
{% load static       %}
{% load front_extras %}

{% block content %}
	{% with 'dashboard' as current_tab %}
		{{block.super}}
	{% endwith %}
{% endblock content %}

{% block title %}{% trans "Dashboard" %}{% endblock %}

{% block profile_tab %}
	<section class="dashboardpage">
		<div class="container">
			<div class="row">
				<div class="statistiq-block">
					<div class=" col-sm-9 col-xs-12 statistic-User">
						<h3>Statistique de {{ user.first_name }}
						</h3>
						<span class="subtitle">Suivi des gains : {{ user_total_wins }}
							<sup>dt</sup> déjà gagnés
						</span>
						<div id="wins_chart_container"></div>
					</div>
					<div class="col-sm-3 col-xs-12 refillbox">
						<span class="week-box">
							<a href="#">Cette semaine</a>
						</span>
						<p>Le montant minimum pour effectuer une recharge est de 1 <sup>DT</sup>.
						</p>
						{% if user_cumulation_remainings > 0 %}
							<p>Il vous reste encore {{ user_cumulation_remainings }} mil à cumuler.</p>
						{% else %}
							<p>Félicitations, vous avez atteint le montant de kleemet minimal pour effectuer une recharge gratuite!
							</p>
						{% endif %}
						<div class="baranim">
							<div data-percent="{{ user_cumulation_remainings_percentage }}%" class="skillbar clearfix ">
								<div class="skillbar-bar">
								</div>
							</div>
							<div class="interval-bar">
								<span class="min-interval">0<sup>dt</sup>
								</span>
								<span
									class="max-interval">1<sup>dt</sup>
								</span>
							</div>
						</div>
						<div class="boxStats">
							<span class="icosStats icos-cumuls">
							</span>
							<div class="pt5 ">
								<div class="statsTitle">{{ user_total_cumulated_credit }}
								</div>
								<div class="statsSubTitle"> Recharges cumulées.
								</div>
								{% if user_cumulation_remainings > 0 %}
									<a href="#" class="refill_disabled"> Recharger</a>
							</div>
						{% else %}
							<a href="{% url 'transfert' %}" class="refill"> Recharger</a>
						</div>
					{% endif %}
					</div>
				</div>
			</div>
			<div class="block-separe">
				<h4 class="up"> Vue Globale de Kleema Blech
				</h4>
				<span class="subtitle">
				</span>
			</div>
			<div class="blockGlobals">
				<div class="row">
					<div class=" col-md-4 col-xs-12">
						<div class="boxGlobals">
							<h3>Vue Globale</h3>
							<span class="subtitle">Kleema Blech</span>
							<div class=" vuglob">
								<div class="Statvuglob" data-dimension="245" data-text="{{ total_winable_amount }} dt"
									 data-info="encore à gagner" data-width="28" data-fontsize="40" data-percent="70" data-fgcolor="rgba(54,14,26,.8)"
									 data-bgcolor="rgba(199,92,124,.2)">
								</div>
							</div>
							<div class="bottomStat">
								<div class="boxStats">
									<span class="icosStats icos-money">
									</span>
									<div class="mr10 pt5 pull-left">
										<div class="statsTitle">{{ total_amount_sum }}<sup>dt</sup>
										</div>
										<div class="statsSubTitle">De recharges à gagner !</div>
									</div>
								</div>
								<div class="boxStats">
									<span class="icosStats icos-vues">
									</span>
									<div class="mr10 pt5 pull-left">
										<div class="statsTitle">{{ campaigns_total_views }}</div>
										<div class="statsSubTitle"> Vidéos gagnantes.</div>
									</div>
								</div>
								<div class="boxStats">
									<span class="icosStats icos-users">
									</span>
									<div class="mr10 pt5 pull-left">
										<div class="statsTitle">{{ winners_total }}</div>
										<div class="statsSubTitle"> Gagnants déjà !</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class=" globalVue col-md-4 col-xs-12">
						<div class="boxGlobals">
							<div class="imageUpload">
								<img width="128" height="128" src="{{ user.picture.url }}">
								<h4>{{ user.first_name }} {{ user.last_name }}</h4>
								<span class="subtitle">{{ user.region }}, Tunisie</span>
							</div>
							<div class="bottomStat">
								<div class="boxStats">
									<span class="icosStats icos-money">
									</span>
									<div class="mr10 pt5 pull-left">
										<div class="statsTitle">{{ user_total_refill }}
											<sup>dt
											</sup>
										</div>
										<div class="statsSubTitle">De recharge envoyées.</div>
									</div>
								</div>
								<div class="boxStats">
									<span class="icosStats icos-vues">
									</span>
									<div class="mr10 pt5 pull-left">
										<div class="statsTitle">{{ user_total_campaigns_views }}
										</div>
										<div class="statsSubTitle"> Pub regardées.
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class=" col-md-4 col-xs-12">
						<div class="boxGlobals">
							<h3>Recharge Totale</h3>
							<span class="subtitle">En dinars tunisien</span>
							<div class="prix-recherge">{{ user_total_refill|floatformat:3 }}
								<sup>DT
								</sup>
							</div>
							<div class="courbe-recherge">
								<canvas id="canvas-week" height="175" width="300"></canvas>
							</div>
							<a href="#" class="export">Export PDF</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
{% endblock %}


{% block extra_js %}
	<script>
		var chart_data       = [{% for data in data_source%}{{ data|get_item:"amount"}},{% endfor %}];
		var chart_categories = [{% for data in data_source%}'{{ data|get_item:"month"}}',{% endfor %}];
	</script>
	<script src="{% static 'js/highcharts/highcharts.js'        %}"></script>
	<script src="{% static 'js/highcharts/themes/grid-light.js' %}"></script>
	<script src="{% static 'js/dashboard.js'                    %}"></script>
{% endblock %}
