{% extends "base.html" %}

{% load i18n          %}
{% load static        %}
{% load widget_tweaks %}

{% block title %}{% trans 'FAQ' %}{% endblock %}

{% block content %}
	<div class="block-pagetitle">
		<div class="container">
			<h2>F.A.Q</h2>
		</div>
	</div>
	<section class="pageinterne">
		<div class="container">
			<div class="row">
				<div class="accordion">
					{% for topic in topics %}
						<div id="topic_{{ topic.id }}">
							<h3>{{ topic.text|safe }}</h3>
							{% for question in topic.questions.all %}
								<div class="title-acc">{{ question.text|safe }}<span class="arrow-acc"></span></div>
								<div class="content-acc">
									{{ question.answer|safe }}
								</div>
							{% endfor %}
						</div>
					{% endfor %}
				</div>
			</div>
		</div>
	</section>
{% endblock content %}

{% block extra_js %}
	<script src="{% static 'js/faq.js' %}"></script>
{% endblock %}
