{% extends "base.html" %}

{% load i18n   %}
{% load static %}

{% block title %}{% trans 'Video' %}{% endblock %}

{% block bodyclass %}video-page{% endblock %}

{% block css %}
	{{ block.super }}
	<style>
		body{
			background: url({{ campaign.image.url }}) no-repeat 0 0!important;
			background-size: cover!important;
		}
	</style>
{% endblock %}

{% block content %}
	<div class=" blockvideo">
		<div class="container">
			<div class="row">
				<div class="col-md-6 col-sm-8 col-xs-12 boxVideo">
					<h2 class="center up">Félicitations</h2>
					<span class="win-msg">Vous venez de gagner</span>
					<div class="number-win">
						<span class="unite">{{ win_amount|floatformat:3 }}
							<sup>dt</sup>
						</span>
					</div>
					<div class="text-bottom no-boder">
						<p>Vous venez d’entrer dans un tirage au sort pour gagner une recharge de 10 dinars à la fin de la compagne.</p>
						<p>Partager vos résultats et parrainer vos amis pour augmenter vos chances de gagner la cagnote de la fin de la compagne.</p>
					</div>
					<div class="box-dutton">
						<a href="/">Accueil</a>
						<a href="{% url 'transfert' %}" class="cumule">Recharger</a>
					</div>
					<div class="boxpartage">
						<ul class="list-inline">
							<li>
								<a class="btnShare" href="#">
									<i class="fa fa-share-alt"></i> Partager
								</a>
							</li>
							<li>
								<a class="btnSendFriend" href="#">
									<i class="fa fa-envelope"></i> Envoyer à un ami
								</a>
							</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>
{% endblock content %}
