{% extends "pages/profile_base.html" %}

{% load i18n          %}
{% load static        %}
{% load cropping      %}
{% load widget_tweaks %}

{% block content %}
	{% with 'history' as current_tab %}
		{{block.super}}
	{% endwith %}
{% endblock content %}

{% block title %}{% trans "History" %}{% endblock %}

{% block profile_tab %}
	<section class="dashboardpage">
		<div class="container">
			<div class="container">
				<div class="row">
					<div class="block-separe">
						<h4> Historique des opérations </h4>
						<span class="soustitle">Vous pouvez suivre l'historique de toutes vos recharge</span>
					</div>
					<div id="hystoryBox" class="block-history">
						{% for operation in operations %}
							<div class="historyBox">
								{% if operation.type == "refill" %}
									<i class="icoHys charge"></i>
								{% elif operation.type == "win" or operation.type == "sponsorship" %}
									<i class="icoHys gain"></i>
								{% elif operation.type == "draw" %}
									<i class="icoHys tirrage"></i>
								{% endif %}
							<div class="txt-hystory">
								<h4>{% trans operation.type %}</h4>
								{% if operation.type == "refill" %}
									<p>{% trans 'You have transfered' %} {{ operation.amount }}<sup>dt</sup></p>
								{% elif operation.type == "win" or operation.type == "draw"  or operation.type == "sponsorship" %}
									<p>{% trans 'You have won' %} {{ operation.amount }}<sup>dt</sup></p>
								{% endif %}
							</div>
							<div class="right-history">
								<span class="date-history">{{ operation.date.date }} </span> <span class="heur-history">{{ operation.date.time }}</span>
							</div>
						</div>
					{% endfor %}
					</div>
				</div>
			</div>
		</div>
	</section>
	<div class='notifications center-bottom' align="center"></div>
{% endblock %}

{% block extra_js %}
	<script src="{% static 'js/vendor/bootstrap.min.js' %}"></script>
	<script src="{% static 'js/bootstrap-notify.js'     %}"></script>
	<script src="{% static 'js/validator.js'            %}"></script>
{% endblock %}
