{% extends "base.html" %}

{% load i18n         %}
{% load staticfiles  %}
{% load cropping     %}
{% load front_extras %}
{% load social_share %}

{% block title %}{% trans "Kleemablech" %}{% endblock title%}

{% block css %}
	{{ block.super }}
	<style>
		#sharing_networks img {
			margin: 5px !important;
			width: 30px !important;
			height: 30px;
		}
	</style>
{% endblock %}

{% block content %}
	<section class="slider">
		<div class="flexslider">
			<ul class="slides">
				{% for campaign in campaigns %}
					<li>
						<div class="maskslider">
						</div>
						<img src="{{ campaign.image.url }}" class="img-responsive" width="1920" height="760"/>
						<div class="infos-slider">
							<div class="top-SlideInf">
								<div class="pull-left">
									<a href="{% url 'video_informations' campaign.id %}" class="play"></a>
								</div>
								<div class=" sharebox">
									<a ng-href="" data-toggle="popover" data-placement="bottom" id="video_social_sharing">
										<i class="icon24-share"></i>
									</a>
									<div id="share_video_popover_content" style="display: none; float: right;">
										<table id="sharing_networks" border="0" style="width:100%">
											{% url 'video_informations' campaign.id as video_link %}
											<tr>
												<td>{% post_to_facebook video_link "<img src='/static/images/facebook.svg'>" %}</td>
											</tr>
											<tr>
												<td>{% post_to_twitter "kleemablech: {{campaign.title}}" video_link  "<img src='/static/images/twitter.svg'>"%}</td>
											</tr>
											<tr>
												<td>{% post_to_gplus video_link "<img src='/static/images/googleplus.svg'>" %}</td>
											</tr>
										</table>
									</div>
									<a href="{% url 'sponsorship' %}">
										<i class="icon24-email"></i>
									</a>
								</div>
							</div>
							<div class="bottom-SlideInf">
								<div class="boxleft-num">
									<h3>{{ campaign.brand }}</h3>
									<p>{{ campaign.title }}
										<br>
										<span>{{ campaign.total_amount_sum }} TND de recharges à gagner</span>
									</p>
								</div>
								<div class="Stat-Small">
									<div class="Statsmull" data-dimension="63"
										 data-text="{{ campaign.winable_percentage }}%" data-info=""
										 data-width="6"
										 data-fontsize="14" data-percent="{{ campaign.winable_percentage }}"
										 data-fgcolor="#ffffff"
										 data-bgcolor="rgba(255,255,255,.4)">
									</div>
								</div>
							</div>
						</div>
					</li>
				{% endfor %}
			</ul>
			<ul class="flex-control-nav ">
				{% for campaign in campaigns %}
				<li>
					<a href="#{{ forloop.counter }}">
						<span class="title-slider">{{ campaign.brand|upper }}</span>
					</a>
				</li>
				{% endfor %}
			</ul>
		</div>
	</section>
	<div class="blocInfos">
		<div class="box-btn-toogle">
			<div class="toogle-Infos">
			</div>
		</div>
		<div class="container">
			<div class="row">
				<div class="col-xs-12 col-sm-12">
					<div class="row">
						<div class="col-xs-12 col-sm-5 vueGlobale">
							<h2>Vue Globale</h2>
							<div class="row">
								<div class="col-xs-12 col-sm-6 partleft">
									<div class="boxStats">
										<span class="icosStats icos-money"></span>
										<div class="mr10 pt5 pull-left">
											<div class="statsTitle">{{ total_amount_sum }}
												<sup>dt</sup>
											</div>
											<div class="statsSubTitle">De recharges à gagner !
											</div>
										</div>
									</div>
									<div class="boxStats">
										<span class="icosStats icos-vues">
										</span>
										<div class="mr10 pt5 pull-left">
											<div class="statsTitle">{{ wining_videos }}</div>
											<div class="statsSubTitle"> Vidéo{{ wining_videos|pluralize }}
												gagnante{{ wining_videos|pluralize }}
											</div>
										</div>
									</div>
									<div class="boxStats">
										<span class="icosStats icos-users">
										</span>
										<div class="mr10 pt5 pull-left">
											<div class="statsTitle">{{ winners_total }}</div>
											<div class="statsSubTitle"> Gagnants déjà !</div>
										</div>
									</div>
								</div>
								<div class="col-xs-12 col-sm-6 vuglob">
									<div class="Statvuglob" data-dimension="245"
										 data-text="{{ total_winable_amount }} dt"
										 data-info="encore à gagner" data-width="28"
										 data-fontsize="40"
										 data-percent="{{ winable_percentage }}"
										 data-fgcolor="rgba(54,14,26,.8)"
										 data-bgcolor="rgba(255,255,255,.2)">
									</div>
								</div>
							</div>
						</div>
						<div class="col-xs-12 col-sm-7 leConcept">
							{% if user.is_authenticated %}
								<h2 class="text-right ">Stats de {{ user.first_name }}</h2>
								<div class="blockStata-users">
									<div class="col-xs-12 col-sm-8 courbestats">

										<div class="Chartebox">
											<canvas id="canvas" height="211" width="362" style="width: 362px; height: 211px;">
											</canvas>
										</div>
										<div class="statChart">
											<div class="boxStats">
												<span class="icosStats icos-money"></span>
												<div class="mr10 pt5 pull-left">
													<div class="statsTitle">{{ user_total_refill|floatformat:3 }}
														<sup>dt</sup>
													</div>
													<div class="statsSubTitle">De recharge reçue.</div>
												</div>
											</div>
											<div class="boxStats">
												<span class="icosStats icos-vues"></span>
												<div class="mr10 pt5 pull-left">
													<div class="statsTitle">{{ user_total_campaigns_views }}</div>
													<div class="statsSubTitle"> Pub regardées.</div>
												</div>
											</div>
										</div>
									</div>

									<div class="col-xs-12 col-sm-4 refillbox">
										<p>Le montant minimum pour effectuer une recharge est de 1
											<sup>DT</sup>.
										</p>
										{% if user_cumulation_remainings > 0 %}
											<p>Il vous reste encore {{ user_cumulation_remainings }} mil à cumuler.</p>
										{% else %}
											<p>Félicitations, vous avez atteint le montant de kleemet minimal pour effectuer une recharge gratuite!</p>
										{% endif %}

										<div class="baranim">
											<div class="skillbar clearfix " data-percent="{{ user_cumulation_remainings_percentage }}%">
												<div class="skillbar-bar"
													 style="width: {{ user_cumulation_remainings_percentage }}%;">
												</div>
											</div>
											<div class="interval-bar">
												<span class="min-interval">0
													<sup>dt</sup>
												</span>
												<span class="max-interval">1
													<sup>dt</sup>
												</span>
											</div>
										</div>
										<div class="boxStats">
											<span class="icosStats icos-cumuls">
											</span>
											<div class="pt5 pull-left">
												<div class="statsTitle">{{ user_total_cumulated_credit }}</div>
												<div class="statsSubTitle"> Recharges cumulées.</div>
												{% if user_cumulation_remainings > 0 %}
													<a class="refill_disabled" href=""> Recharger</a>
												{% else %}
													<a class="refill" href="{% url 'transfert' %}"> Recharger</a>
												{% endif %}
											</div>
										</div>
									</div>
								</div>
							{% else %}
								<h2 class="text-right mb40">Le concept</h2>
								<h3 class="text-right">Gagner des recharges
									<br/>
									Par vos marques préférées
								</h3>
								<div class="text-concept">
									<p>
										Recharger votre téléphone gratuitement :
										<br/>Découvrez les derniers produits et
										offres, cumulez des recharges ou rechargez instantanément votre téléphone gratuitement !
									</p>
									<a href="{% url 'account_signup' %}" class="creatCompte"> Créer un compte</a>
								</div>
							{% endif %}
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="content-page">
		<div class="container ">
			<div class="row">
				<div id="primaryContent" class="col-sm-9">
					{% if subsidized_videos %}
						<div id="blocVideos" class="content-panel">
							<div class="panel-title">
								<h2>Encore plus de Pub par ici !</h2>
							</div>
							<div class="panel-content text-center mb10 subtexte">
								Ne ratez pas l’occasion, découvrez encore plus de produits et d’offres et faites augmenter
								vote solde en cumulant davantage de recharges ou touchez simplement au jackpot pour une
								recharge instantanée.
							</div>
							<div class="panel-block">
								{% with subsidized_videos_length=subsidized_videos|length %}
									{% for i in 6|get_range %}
										{% with counter=forloop.counter0|modulo:subsidized_videos_length %}
											{% with video=subsidized_videos|index:counter %}
												<div class="videoItem">
													<div class="boxPicture">
														<a href="{% url 'video_informations' video.id %}" class="img-hover-effect loadingvideo">
															<img src="/media/{{ video.image }}" class="aspect-px"
																 rel="http://placehold.it/640x640"
																 alt=""/>
														</a>
													</div>
													<div class="videoItemContent">
														<h3>
															<a href="javascript:void(0)">{{ video.brand }}</a>
														</h3>
														<span class="videoMeta">
															<a href="javascript:void(0)">{{ video.title }}</a>
															<a href="#">Paye 0.250
																<sup>dt</sup> - {{ video.total_amount }}<sup>dt</sup> en jeu
															</a>
														</span>
													</div>
													<div class="chartHolderSmall">
														<div class="Statsmull" data-dimension="54"
															 data-text="{{ video.winable_percentage }}%" data-info=""
															 data-width="5" data-fontsize="12" data-percent="{{ video.winable_percentage }}"
															 data-fgcolor="#ffffff" data-bgcolor="rgba(255,255,255,.4)">
														</div>
													</div>
												</div>
											{% endwith %}
										{% endwith %}
									{% endfor %}
								{% endwith %}
							</div>
						</div>
					{% endif %}
					<div class="clearfix">
					</div>
					{% if drawing_videos %}
						<div id="blocVideosTS" class="content-panel ">
							<div class="panel-title">
								<h2>Et ce n'est pas fini !</h2>
								<div class="right video-set-layout"></div>
							</div>
							<div class="panel-content text-center mb10 subtexte">
								Tentez le jackpot !
								Découvrez plus de pubs par ici et tentez de gagner au moins 5 dinars de recharge par
								heure par pub.
							</div>
							<div class="panel-block">
								{% with drawing_videos_length=drawing_videos|length %}
									{% for i in 6|get_range %}
										{% with counter=forloop.counter0|modulo:drawing_videos_length %}
											{% with video=drawing_videos|index:counter %}
												<div class="videoItem">
													<div class="boxPicture">
														<a href="{% url 'video_informations' video.id %}" class="img-hover-effect loadingvideo">
															<img src="/media/{{ video.image }}" alt="" width="270"
																 height="200" class="aspect-px" rel="http://placehold.it/640x640"/>
														</a>
													</div>
													<div class="videoItemContent">
														<h3>
															<a href="#">{{ video.brand }}</a>
														</h3>
														<span class="videoMeta">
															<a href="#">{{ video.title }}</a>
														</span>
													</div>
												</div>
											{% endwith %}
										{% endwith %}
									{% endfor %}
								{% endwith %}
							</div>
						</div>
					{% endif %}
				</div>
				<div id="sidebar" class="col-sm-3">
					<div class="widget">
						<div class="widget-title">
							<h3>derniers gagnants</h3>
						</div>
						<div id="winners" class="blocWinners">
							<div class="row">
								{% for win in last_wins %}
								<div class="col-xs-6 col-sm-12">
									<div class="videoBox ">
										<div class="row">
											<div class="col-sm-3 mb10 pt10">
												<img src="{% cropped_thumbnail win.user 'cropping' %}" class="img-responsive" alt=""/>
											</div>
											<div class="col-sm-9">
												<div class="videoBoxContent">
													<div class="item-content pull-left">
														<h3><a>{{ win.user.get_full_name }}</a></h3>
														<h3><a>il y a {{ win.date|timesince }}</a></h3>
														<span class="videoMeta">
															<a>
																<i class="fa fa-map-marker"></i>{{ win.user.region }}, Tunisie
															</a>
														</span>
													</div>
													<div class="item-content pull-right">
														<span class="videoMeta"><a>{{ win.amount }}<sup>dt</sup></a></span>
													</div>
													<div class="clearfix"></div>
												</div>
											</div>
										</div>
									</div>
								</div>
								{% endfor %}
							</div>
						</div>
					</div>

					<div class="widget">
						<div class="widget-content">
							<img src="/static/assets/ads.jpg" class="img-responsive" alt=""/>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- /container -->
	<div class="clearfix mb15">
	</div>

	<!-- COMMUNAUTÉ -->

	<div class="block-communaute">
		<div class="container">
			<h2>UNE COMMUNAUTÉ</h2>
			<span class="subtitle">Toujours là pour moi</span>

			<!-- REJOIGNEZ-NOUS  -->
			<div class="block-rejoignez-nous">
				<div class="top-rejoinez">
					<div class="col-md-9 col-sm-9 col-xs-12 rejoin-left">
						<h2>REJOIGNEZ-NOUS !</h2>
						<div class="col-md-6 col-sm-6 col-xs-12 nemb-box ">
							<div id="facebook_followers_count"></div>
							<br>
							MEMBRES
						</div>
						<div class="col-md-6 col-sm-6 col-xs-12 nemb-box bleu ">
							<div id="twitter_followers_count"></div>
							<br>
							Folowers
						</div>
					</div>
					<div class="col-md-3 col-sm-3 col-xs-12 rejoin-right">
						<ul class="social-list">
							<li>
								<a target="_blank" href="{{ config.SOCIAL_SHARING_FACEBOOK }}">
									<span class="social-icon facebook"><i class="fa fa-facebook"></i></span>
								</a>
							</li>
							<li>
								<a target="_blank" href="{{ config.SOCIAL_SHARING_TWITTER }}">
									<span class="social-icon twitter"><i class="fa fa-twitter"></i></span>
								</a>
							</li>
							<li>
								<a target="_blank" href="{{ config.SOCIAL_SHARING_YOUTUBE }}">
									<span class="social-icon youtube"><i class="fa fa-youtube"></i></span>
								</a>
							</li>
							<li>
								<a target="_blank" href="{{ config.SOCIAL_SHARING_GOOGLE }}">
									<span class="social-icon instagram"><i class="fa fa-instagram"></i></span>
								</a>
							</li>
						</ul>
					</div>
				</div>
				<div class="bottom-rejoinez">
					<div class="col-md-4 col-sm-6 col-xs-12 boxfooter">
						<div class="besoin-aide">
							<h2>BESOIN D'AIDE ?</h2>
							<span class="subtitle">Posez votre question sur la Communauté KleemaBlech :</span>
							<ul>
								{% for featured_topic in featured_topics %}
								<li>
									<a href="{% url 'faq' %}#topic_{{ featured_topic.topic.id }}">{{ featured_topic.text }}</a>
								</li>
								{% endfor %}
							</ul>
						</div>
					</div>
					<div class="col-md-4 col-sm-6 col-xs-12 boxfooter ">
						<div class="fb-page" data-href="{{ config.SOCIAL_SHARING_FACEBOOK }}"
							 data-tabs="timeline" data-small-header="false" data-adapt-container-width="true"
							 data-hide-cover="false" data-show-facepile="true">
						</div>
					</div>
					<div class="col-md-4 col-sm-6 col-xs-12 boxfooter ">
						<a class="twitter-timeline" href="{{ config.SOCIAL_SHARING_TWITTER }}">Tweets de @Kleema_Blech</a>
						<script>!function (d, s, id) {
							var js, fjs = d.getElementsByTagName(s)[0], p = /^http:/.test(d.location) ? 'http' : 'https';
							if (!d.getElementById(id)) {
								js = d.createElement(s);
								js.id = id;
								js.src = p + "://platform.twitter.com/widgets.js";
								fjs.parentNode.insertBefore(js, fjs);
							}
							}(document, "script", "twitter-wjs");
						</script>
					</div>
				</div>
			</div>
			<!-- /REJOIGNEZ-NOUS  -->
		</div>
	</div>
	<!-- /COMMUNAUTÉ -->
	<div class='notifications center-bottom' align="center"></div>
	<script id="winner_template" type="x-tmpl-mustache">
		<div class="col-xs-6 col-sm-12">
			<div class="videoBox ">
				<div class="row">
					<div class="col-sm-3 mb10 pt10">
						<img src="[[ winner_picture ]]" class="img-responsive" alt=""/>
					</div>
					<div class="col-sm-9">
						<div class="videoBoxContent">
							<div class="item-content pull-left">
								<h3><a>[[ winner_name ]]</a></h3>
								<span class="videoMeta">
									<a>
										<i class="fa fa-map-marker"></i>[[ winner_region ]], Tunisie
									</a>
								</span>
							</div>
							<div class="item-content pull-right">
								<span class="videoMeta"><a>[[ win_amount ]]<sup>dt</sup></a></span>
							</div>
							<div class="clearfix"></div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</script>
{% endblock content %}

{% block extra_js %}
	<script>
		var pusher_key = "{{ config.PUSHER_KEY }}";
	</script>
	<script src="{% static 'js/mustache.min.js' %}"></script>
	<script src="{% static 'js/home.js'         %}"></script>
{% endblock %}
