{% extends "pages/profile_base.html" %}

{% load i18n          %}
{% load static        %}
{% load cropping      %}
{% load widget_tweaks %}

{% block content %}
	{% with 'parameters' as current_tab %}
	{{block.super}}
	{% endwith %}
{% endblock content %}

{% block title %}{% trans "Parametres" %}{% endblock %}

{% block css %}
{{block.super}}
<style>
	.file-upload {
		display: none;
	}
	#cropping_form > :not(.jcrop-image) {
		display: none;
	}
	.jcrop-image {
		margin: auto;
	}
</style>
{% endblock %}

{% block profile_tab %}
<div class="modal fade" role="dialog" id="cropping_modal" style="top: calc(50% - 200px) !important;">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
				<h4 class="modal-title" >Image de profil</h4>
			</div>
			<div class="modal-body"></div>
			<div class="modal-footer">
				<button type="button" class="btn btn-primary">Enregistrer</button>
			</div>
		</div>
	</div>
</div>

<section class="dashboardpage">
	<div class="container">
		<div class="row">
			<div class="block-separe">
				<h4> Bonjour {{ user.username }} </h4>
				<span class="subtitle">Vous pouvez gérer vos informations personnelles</span>
				<a href="#" class="modifier" id="update_parameters">modifier</a>
			</div>

			<div class="block-parametre" id="read_only_parameters">
				<div class="boxprametre">
					<div class="col-sm-4 col-xs-12">
						<div class="imageUpload">
							<img id="profile-pic" class="profile-pic" src="{% cropped_thumbnail user 'cropping' %}" width="255" height="255">
							{% render_field form.picture class+="file-upload" style="display: none;" %}
						</div>
					</div>
					<div class="col-sm-8 col-xs-12 parmeteruser">
						<ul>
							<li> <i class="fa fa-gender"></i> <span>{{ form.gender.value }}</span> </li>
							<li> <i class="fa fa-name"></i> <span>{{ form.first_name.value }}</span> </li>
							<li> <i class="fa fa-lock "></i> <span> *******************</span> </li>
							<li> <i class="fa fa-date"></i> <span>{{ form.birthday.value }}</span> </li>
							<li> <i class="fa fa-envelope"></i> <span>{{ form.email.value }}</span> </li>
							<li> <i class="fa fa-name"></i> <span>{{ form.last_name.value }}</span> </li>
							<li> <i class="fa fa-region"></i> <span>{{ form.region.value }}</span> </li>
							<li> <i class="fa fa-phones"></i> <span class="geofont">{{ user.phonenumber_set.first }}</span>
						</ul>
					</div>
				</div>
			</div>

			<div class="block-parametre" id="updatable_parameters" style="display:none">
				<div class="row">
					<form id="user_parameters_form" role="form" action="{% url 'parameters' %}" method="POST" data-toggle="validator">
						{% csrf_token %}
						<div class="boxprametre">
							<div class="col-sm-4 col-xs-12">
								<div class="imageUpload">
									<img id="profile-pic" class="profile-pic" src="{% cropped_thumbnail user 'cropping' %}" width="255" height="255">
									<a class="addPhotos" href="#">+</a>
									{% render_field form.picture class+="file-upload" style="display: none;" %}
								</div>
							</div>

							<div class="col-sm-4 col-xs-12">
								<div class="form-group">
									<label class="icon" for="gender">
										<i class="fa fa-gender"></i>
									</label>
									{% render_field form.gender class="form-control no-combo-select" required="true" %}
									<div class="help-block with-errors"></div>
								</div>
							</div>

							<div class="col-sm-4 col-xs-12">
								<div class="form-group">
									<label class="icon" for="first_name">
										<i class="fa fa-name"></i>
									</label>
									{% render_field form.first_name class="form-control" placeholder="prenom" required="true" %}
									<div class="help-block with-errors"></div>
								</div>
							</div>

							<div class="col-sm-4 col-xs-12">
								<div class="form-group">
									<label class="icon" for="password">
										<i class="fa fa-lock"></i>
									</label>
									{% render_field form.password class="form-control" placeholder="••••••••••••" %}
									<div class="help-block with-errors"></div>
								</div>
							</div>

							<div class="col-sm-4 col-xs-12">
								<div class="form-group">
									<label class="icon" for="birthday">
										<i class="fa fa-date"></i>
									</label>
									{% render_field form.birthday class="form-control" placeholder="date de naissance" required="true" data-provide="datepicker" data-date-format="dd/mm/yyyy" data-date-language="fr" %}
									<div class="help-block with-errors"></div>
								</div>
							</div>

							<div class="col-sm-4 col-xs-12">
								<div class="form-group">
									<label class="icon" for="email">
										<i class="fa fa-envelope"></i>
									</label>
									{% render_field form.email type="email" class="form-control" required="true" %}
									<div class="help-block with-errors"></div>
								</div>
							</div>

							<div class="col-sm-4 col-xs-12">
								<div class="form-group">
									<label class="icon" for="last_name">
										<i class="fa fa-name"></i>
									</label>
									{% render_field form.last_name class="form-control" placeholder="nom" required="true" %}
									<div class="help-block with-errors"></div>
								</div>
							</div>

							<div class="col-sm-4 col-xs-12">
								<div class="form-group">
									<label class="icon" for="region">
										<i class="fa fa-region"></i>
									</label>
									{% render_field form.region class="form-control no-combo-select" class="form-control" required="true" %}
									<div class="help-block with-errors"></div>
								</div>
							</div>

							<div class="col-sm-4 col-xs-12">
								<div class="form-group">
									<label class="icon" for="region">
										<i class="fa fa-phones"></i>
									</label>
									<select id="phone_numbers_list" class="form-control no-combo-select" id="phones" name="phones" required="true">
										{% for phone_number in user.phonenumber_set.all %}
										<option>{{ phone_number.number }}</option>
										{% endfor %}
									</select>
								</div>
							</div>
						</div>
						<button class="btn btn-custum pull-right" type="submit">Enregistrer</button>
						<a class="btn btn-custum pull-right" data-toggle="modal" data-target="#edit_phones">Ajouter un numéro</a>
					</form>
				</div>
			</div>
		</div>
	</div>
</section>

<div id="edit_phones" class="modal fade" role="dialog" style="top: calc(50% - 200px) !important;">
	<div class="modal-dialog">
		<div class="modal-content">
			<form id="new_phone_form" data-async data-target="#edit-phones"
				  method="post" action="{% url 'phone_numbers' %}" data-toggle="validator">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal">&times;</button>
					<h4 class="modal-title">Ajouter un numèro de téléphone</h4>
				</div>
				<div class="modal-body">
					{% csrf_token %}
					<div class="form-group has-feedback">
						<label class="control-label" for="number"></label>
						<input class="form-control" id="number" name="number" type="text" required="true">
						<i class="glyphicon glyphicon-phone form-control-feedback"></i>
						<div class="help-block with-errors"></div>
					</div>
				</div>
				<div class="modal-footer">
					<button type="submit" class="btn btn-primary">Ajouter</button>
					<button type="button" class="btn btn-default" data-dismiss="modal">Annuler</button>
				</div>
			</form>
		</div>
	</div>
</div>
<div class='notifications center-bottom' align="center"></div>
{% endblock %}

{% block extra_js %}
{{ form.media }}
	<script src="{% static 'js/parameters.js' %}"></script>
	<script>
		var picture_upload_url = "{% url 'picture_upload' %}";
	</script>
{% endblock %}
