{% extends "base.html" %}

{% load i18n   %}
{% load static %}

{% block title %}{% trans "Privacy Policy" %}{% endblock %}

{% block content %}
	<div class="block-pagetitle">
		<div class="container">
			<h2>Privacy Policy</h2>
		</div>
	</div>

	<div class="container">
		<div id="readme" class="readme blob instapaper_body">
			<article class="markdown-body entry-content" itemprop="text">
				<h1>
					<a id="user-content-privacy-policy" class="anchor" href="#privacy-policy" aria-hidden="true">
						<svg aria-hidden="true" class="octicon octicon-link" height="16" version="1.1" viewBox="0 0 16 16" width="16">
							<path d="M4 9h1v1H4c-1.5 0-3-1.69-3-3.5S2.55 3 4 3h4c1.45 0 3 1.69 3 3.5 0 1.41-.91 2.72-2 3.25V8.59c.58-.45 1-1.27 1-2.09C10 5.22 8.98 4 8 4H4c-.98 0-2 1.22-2 2.5S3 9 4 9zm9-3h-1v1h1c1 0 2 1.22 2 2.5S13.98 12 13 12H9c-.98 0-2-1.22-2-2.5 0-.83.42-1.64 1-2.09V6.25c-1.09.53-2 1.84-2 3.25C6 11.31 7.55 13 9 13h4c1.45 0 3-1.69 3-3.5S14.5 6 13 6z">
							</path>
						</svg>
					</a>Privacy Policy
				</h1>

				<p>We hate legalese, so we've tried to make this policy readable. If you've got any questions, feel free to
					<a href="mailto:admin@kleemablech.com">ask us
					</a>, and we'll do our best to answer.
				</p>

				<p>This privacy statement ("Privacy Policy") covers all websites (such as
					<a href="http://dev.kleemablech.com/">dev.kleemablech.com
					</a>) owned and operated by kleemablech ("Kleemablech", "we", "us", "our") and
					all associated services, collectively referred to as "the Service".
				</p>

				<p>We use information you share with us for our internal business purposes. We do not sell
					your information. This notice tells you what information we collect, how we use it,
					and steps we take to protect and secure it.
				</p>

				<h2>
					<a id="user-content-1-information-we-collect" class="anchor" href="#1-information-we-collect" aria-hidden="true">
						<svg aria-hidden="true" class="octicon octicon-link" height="16" version="1.1" viewBox="0 0 16 16" width="16">
							<path d="M4 9h1v1H4c-1.5 0-3-1.69-3-3.5S2.55 3 4 3h4c1.45 0 3 1.69 3 3.5 0 1.41-.91 2.72-2 3.25V8.59c.58-.45 1-1.27 1-2.09C10 5.22 8.98 4 8 4H4c-.98 0-2 1.22-2 2.5S3 9 4 9zm9-3h-1v1h1c1 0 2 1.22 2 2.5S13.98 12 13 12H9c-.98 0-2-1.22-2-2.5 0-.83.42-1.64 1-2.09V6.25c-1.09.53-2 1.84-2 3.25C6 11.31 7.55 13 9 13h4c1.45 0 3-1.69 3-3.5S14.5 6 13 6z">
							</path>
						</svg>
					</a>1. Information we collect
				</h2>

				<h3>
					<a id="user-content-11-non-personal-data" class="anchor" href="#11-non-personal-data" aria-hidden="true">
						<svg aria-hidden="true" class="octicon octicon-link" height="16" version="1.1" viewBox="0 0 16 16" width="16">
							<path d="M4 9h1v1H4c-1.5 0-3-1.69-3-3.5S2.55 3 4 3h4c1.45 0 3 1.69 3 3.5 0 1.41-.91 2.72-2 3.25V8.59c.58-.45 1-1.27 1-2.09C10 5.22 8.98 4 8 4H4c-.98 0-2 1.22-2 2.5S3 9 4 9zm9-3h-1v1h1c1 0 2 1.22 2 2.5S13.98 12 13 12H9c-.98 0-2-1.22-2-2.5 0-.83.42-1.64 1-2.09V6.25c-1.09.53-2 1.84-2 3.25C6 11.31 7.55 13 9 13h4c1.45 0 3-1.69 3-3.5S14.5 6 13 6z">
							</path>
						</svg>
					</a>1.1 Non-Personal Data
				</h3>

				<p>Like most website operators, we collect Non-Personal Data such as browser type,
					language preference, referring site, and the date and time of each visitor request.
				</p>

				<p>We collect this to understand how our visitors and members use our service, and use
					it to make decisions about how to change and adapt the service.
				</p>

				<p>From time to time, we may release Non-Personal Data in aggregate form (for instance, by
					publishing trends in site usage) to explain our reasoning in making decisions. We will
					not release individual information, only aggregate information.
				</p>

				<h3>
					<a id="user-content-12-personal-data" class="anchor" href="#12-personal-data" aria-hidden="true">
						<svg aria-hidden="true" class="octicon octicon-link" height="16" version="1.1" viewBox="0 0 16 16" width="16">
							<path d="M4 9h1v1H4c-1.5 0-3-1.69-3-3.5S2.55 3 4 3h4c1.45 0 3 1.69 3 3.5 0 1.41-.91 2.72-2 3.25V8.59c.58-.45 1-1.27 1-2.09C10 5.22 8.98 4 8 4H4c-.98 0-2 1.22-2 2.5S3 9 4 9zm9-3h-1v1h1c1 0 2 1.22 2 2.5S13.98 12 13 12H9c-.98 0-2-1.22-2-2.5 0-.83.42-1.64 1-2.09V6.25c-1.09.53-2 1.84-2 3.25C6 11.31 7.55 13 9 13h4c1.45 0 3-1.69 3-3.5S14.5 6 13 6z">
							</path>
						</svg>
					</a>1.2 Personal Data
				</h3>

				<p>Personal Data is anything which can be used to identify or contact you, such as your legal name,
					email address, IP address, or physical location.
				</p>

				<h4>
					<a id="user-content-121-automatically-collected-personal-data" class="anchor" href="#121-automatically-collected-personal-data" aria-hidden="true">
						<svg aria-hidden="true" class="octicon octicon-link" height="16" version="1.1" viewBox="0 0 16 16" width="16">
							<path d="M4 9h1v1H4c-1.5 0-3-1.69-3-3.5S2.55 3 4 3h4c1.45 0 3 1.69 3 3.5 0 1.41-.91 2.72-2 3.25V8.59c.58-.45 1-1.27 1-2.09C10 5.22 8.98 4 8 4H4c-.98 0-2 1.22-2 2.5S3 9 4 9zm9-3h-1v1h1c1 0 2 1.22 2 2.5S13.98 12 13 12H9c-.98 0-2-1.22-2-2.5 0-.83.42-1.64 1-2.09V6.25c-1.09.53-2 1.84-2 3.25C6 11.31 7.55 13 9 13h4c1.45 0 3-1.69 3-3.5S14.5 6 13 6z">
							</path>
						</svg>
					</a>1.2.1 Automatically collected Personal Data
				</h4>

				<p>We automatically collect some Personal Data, such as IP address, provided by your browser
					and your computer whenever you visit our website.
				</p>

				<p>We collect this information for several purposes:
				</p>

				<ul>
					<li>To diagnose and repair network issues with your use of the site;
					</li>
					<li>To estimate the number of users accessing the service from specific geographic regions;
					</li>
					<li>To help prevent fraud and abuse.
					</li>
				</ul>

				<h4>
					<a id="user-content-122-email-address" class="anchor" href="#122-email-address" aria-hidden="true">
						<svg aria-hidden="true" class="octicon octicon-link" height="16" version="1.1" viewBox="0 0 16 16" width="16">
							<path d="M4 9h1v1H4c-1.5 0-3-1.69-3-3.5S2.55 3 4 3h4c1.45 0 3 1.69 3 3.5 0 1.41-.91 2.72-2 3.25V8.59c.58-.45 1-1.27 1-2.09C10 5.22 8.98 4 8 4H4c-.98 0-2 1.22-2 2.5S3 9 4 9zm9-3h-1v1h1c1 0 2 1.22 2 2.5S13.98 12 13 12H9c-.98 0-2-1.22-2-2.5 0-.83.42-1.64 1-2.09V6.25c-1.09.53-2 1.84-2 3.25C6 11.31 7.55 13 9 13h4c1.45 0 3-1.69 3-3.5S14.5 6 13 6z">
							</path>
						</svg>
					</a>1.2.2 Email address
				</h4>

				<p>In order to register for the service, you must give us your email address. We will use your email address
					to send confirmation of certain actions, such as when you change your password. We will contact you when
					it's necessary to complete a transaction that you've initiated, or if there's a critical or
					administrative issue affecting your use of the service.
				</p>

				<p>Once you have created your account, you can choose to subscribe to certain events and have notifications
					of those events sent to you via email. You will be able to change your mind and opt out of
					receiving notifications via email at any time.
				</p>

				<p>We will never sell or provide your email address to any third party for marketing purposes,
					or for any other reason except as set out below.
				</p>

				<h4>
					<a id="user-content-123-optional-personal-data-you-provide-to-us" class="anchor" href="#123-optional-personal-data-you-provide-to-us" aria-hidden="true">
						<svg aria-hidden="true" class="octicon octicon-link" height="16" version="1.1" viewBox="0 0 16 16" width="16">
							<path d="M4 9h1v1H4c-1.5 0-3-1.69-3-3.5S2.55 3 4 3h4c1.45 0 3 1.69 3 3.5 0 1.41-.91 2.72-2 3.25V8.59c.58-.45 1-1.27 1-2.09C10 5.22 8.98 4 8 4H4c-.98 0-2 1.22-2 2.5S3 9 4 9zm9-3h-1v1h1c1 0 2 1.22 2 2.5S13.98 12 13 12H9c-.98 0-2-1.22-2-2.5 0-.83.42-1.64 1-2.09V6.25c-1.09.53-2 1.84-2 3.25C6 11.31 7.55 13 9 13h4c1.45 0 3-1.69 3-3.5S14.5 6 13 6z">
							</path>
						</svg>
					</a>1.2.3 Optional Personal Data you provide to us
				</h4>

				<p>As you use the service, you have the option to provide more Personal Data, through your profile and other
					activity on the site. Providing this information is strictly optional.
				</p>

				<p>You have the option to provide us with your location.  You may provide this at whatever level of detail you wish,
					for instance you may provide your street address or your country of residence or nothing at all.  We use this location
					to provide you with relevant content.
				</p>

				<p>Many of your activities on the Service may allow you to post Personal Data or to directly
					or indirectly disclose Personal Data about yourself.  For instance, you may disclose Personal
					Data in a post or comment on the site, by uploading a picture, by linking to another website
					you use, or by recording your gardening activity in detail.  All of these activities are optional.
					You should use due caution when disclosing Personal Data through your activity on the Service.
				</p>

				<p>We will show the information you provide, including any Personal Data it may contain, to
					others viewing the site, in accordance with the privacy options you've selected.
				</p>

				<p>Some of the information you provide is categorised as Structured Data, which is defined
					more fully in our Terms of Service.  We make Structured Data freely available under a Creative
					Commons Attribution ShareAlike (CC-BY-SA) 3.0 Unported license for use by third parties,
					in accordance with the privacy options you've selected.
				</p>

				<p>We may also use any Personal Data you provide, in aggregate, to make decisions about how
					to change and adapt the service. From time to time, we may release information in aggregate
					form (for instance, by publishing trends in site usage) to explain our reasoning in making decisions.
					We will not release individual information, only aggregate information.
				</p>

				<h4>
					<a id="user-content-124-financial-information-and-transactions" class="anchor" href="#124-financial-information-and-transactions" aria-hidden="true">
						<svg aria-hidden="true" class="octicon octicon-link" height="16" version="1.1" viewBox="0 0 16 16" width="16">
							<path d="M4 9h1v1H4c-1.5 0-3-1.69-3-3.5S2.55 3 4 3h4c1.45 0 3 1.69 3 3.5 0 1.41-.91 2.72-2 3.25V8.59c.58-.45 1-1.27 1-2.09C10 5.22 8.98 4 8 4H4c-.98 0-2 1.22-2 2.5S3 9 4 9zm9-3h-1v1h1c1 0 2 1.22 2 2.5S13.98 12 13 12H9c-.98 0-2-1.22-2-2.5 0-.83.42-1.64 1-2.09V6.25c-1.09.53-2 1.84-2 3.25C6 11.31 7.55 13 9 13h4c1.45 0 3-1.69 3-3.5S14.5 6 13 6z">
							</path>
						</svg>
					</a>1.2.4 Financial information and transactions
				</h4>

				<p>You can engage in financial transactions with Growstuff to purchase a paid account. These
					transactions are optional. If you choose to purchase a paid account, you will be asked to
					provide financial information to complete the transaction.
				</p>

				<p>Credit cards: If you pay by credit card, we need you to provide your credit card number, your
					full name as it appears on the card, your address as it appears on the card statement, and the
					CVN or Card Verification Number. This information is required so we can authorize and charge your
					credit card. Your financial information is protected by industry-standard encryption methods. It is
					never stored on our servers: we pass it immediately along to our processor for the sole purpose of
					completing the authorized transaction.
				</p>

				<p>In all cases, Growstuff collects this personal and financial information only as necessary
					or appropriate for the completion of the single requested transaction. Any additional non-financial
					Personal Data you disclose during these transactions will be governed by the "Disclosure of Personal Data"
					provisions below.
				</p>

				<h2>
					<a id="user-content-2-disclosure-of-personal-data" class="anchor" href="#2-disclosure-of-personal-data" aria-hidden="true">
						<svg aria-hidden="true" class="octicon octicon-link" height="16" version="1.1" viewBox="0 0 16 16" width="16">
							<path d="M4 9h1v1H4c-1.5 0-3-1.69-3-3.5S2.55 3 4 3h4c1.45 0 3 1.69 3 3.5 0 1.41-.91 2.72-2 3.25V8.59c.58-.45 1-1.27 1-2.09C10 5.22 8.98 4 8 4H4c-.98 0-2 1.22-2 2.5S3 9 4 9zm9-3h-1v1h1c1 0 2 1.22 2 2.5S13.98 12 13 12H9c-.98 0-2-1.22-2-2.5 0-.83.42-1.64 1-2.09V6.25c-1.09.53-2 1.84-2 3.25C6 11.31 7.55 13 9 13h4c1.45 0 3-1.69 3-3.5S14.5 6 13 6z">
							</path>
						</svg>
					</a>2. Disclosure of Personal Data
				</h2>

				<p>We disclose Personal Data, including optional personal information you have provided but which
					is not normally available to other site users, only to those of our employees, contractors, and
					volunteers who (i) need to know that information in order to operate the service and (ii) have agreed
					not to disclose it to others. Circumstances in which this is necessary include, but are not limited to:
					troubleshooting and diagnosing technical problems, investigating possible Terms of Service violations
					, and legal compliance issues.
				</p>

				<p>We contract with third-party vendors to provide some site features. We will only share personal information
					with third-party vendors to the extent that is necessary for them to provide these site features. We require
					our third-party vendors to provide the same level of privacy protection that we do, and they do not have
					the right to share or use personal information for any purpose other than for an authorized transaction.
				</p>

				<p>We may disclose Personal Data or potentially personally-identifying data when that release is required
					by law or by court order, or when we believe in good faith that disclosure is reasonably necessary
					to protect the safety or rights of us, third parties, or the public at large.
				</p>

				<p>We reserve the right to transfer your Personal Data to a third party in the event of a sale, merger,
					liquidation, receivership or transfer of all or substantially all of the assets of our company provided
					that the third party agrees to adhere to the terms of the Growstuff Privacy Policy and provided
					that the third party only uses your Personal Data for the purposes that you provided it to us. You
					will be notified in the event of any such transfer and you will be afforded an opportunity to opt-out.
				</p>

				<h2>
					<a id="user-content-3-cookies" class="anchor" href="#3-cookies" aria-hidden="true">
						<svg aria-hidden="true" class="octicon octicon-link" height="16" version="1.1" viewBox="0 0 16 16" width="16">
							<path d="M4 9h1v1H4c-1.5 0-3-1.69-3-3.5S2.55 3 4 3h4c1.45 0 3 1.69 3 3.5 0 1.41-.91 2.72-2 3.25V8.59c.58-.45 1-1.27 1-2.09C10 5.22 8.98 4 8 4H4c-.98 0-2 1.22-2 2.5S3 9 4 9zm9-3h-1v1h1c1 0 2 1.22 2 2.5S13.98 12 13 12H9c-.98 0-2-1.22-2-2.5 0-.83.42-1.64 1-2.09V6.25c-1.09.53-2 1.84-2 3.25C6 11.31 7.55 13 9 13h4c1.45 0 3-1.69 3-3.5S14.5 6 13 6z">
							</path>
						</svg>
					</a>3. Cookies
				</h2>

				<p>A cookie is a string of information that a website stores on a visitor's computer, and that the
					visitor's browser provides to the website each time the visitor returns. We use cookies to help
					us identify and track visitors, their usage of the website, and their website access preferences.
					We also use cookies to govern logging into your account.
				</p>

				<p>Visitors who do not wish to have cookies placed on their computers should set their browsers to
					refuse cookies before using the site, with the drawback that certain features of the site may
					not function properly without the aid of cookies.
				</p>

				<h2>
					<a id="user-content-4-confidentiality-and-security" class="anchor" href="#4-confidentiality-and-security" aria-hidden="true">
						<svg aria-hidden="true" class="octicon octicon-link" height="16" version="1.1" viewBox="0 0 16 16" width="16">
							<path d="M4 9h1v1H4c-1.5 0-3-1.69-3-3.5S2.55 3 4 3h4c1.45 0 3 1.69 3 3.5 0 1.41-.91 2.72-2 3.25V8.59c.58-.45 1-1.27 1-2.09C10 5.22 8.98 4 8 4H4c-.98 0-2 1.22-2 2.5S3 9 4 9zm9-3h-1v1h1c1 0 2 1.22 2 2.5S13.98 12 13 12H9c-.98 0-2-1.22-2-2.5 0-.83.42-1.64 1-2.09V6.25c-1.09.53-2 1.84-2 3.25C6 11.31 7.55 13 9 13h4c1.45 0 3-1.69 3-3.5S14.5 6 13 6z">
							</path>
						</svg>
					</a>4. Confidentiality and security
				</h2>

				<p>No data transmisson over the Internet can ever be guaranteed to be 100% secure. You use this
					service at your own risk. However, we will take all reasonable steps (including appropriate
					technical and organisational measures) to protect your Personal Data.
				</p>

				<p>Your account information is password-protected. We recommend that you choose a strong and secure
					password. We use industry-standard encryption to protect your password on our servers.
				</p>

				<p>If we learn of a system security breach, we will notify you electronically so you can
					take appropriate steps to protect yourself.
				</p>

				<h2>
					<a id="user-content-5-deleting-your-information" class="anchor" href="#5-deleting-your-information" aria-hidden="true">
						<svg aria-hidden="true" class="octicon octicon-link" height="16" version="1.1" viewBox="0 0 16 16" width="16">
							<path d="M4 9h1v1H4c-1.5 0-3-1.69-3-3.5S2.55 3 4 3h4c1.45 0 3 1.69 3 3.5 0 1.41-.91 2.72-2 3.25V8.59c.58-.45 1-1.27 1-2.09C10 5.22 8.98 4 8 4H4c-.98 0-2 1.22-2 2.5S3 9 4 9zm9-3h-1v1h1c1 0 2 1.22 2 2.5S13.98 12 13 12H9c-.98 0-2-1.22-2-2.5 0-.83.42-1.64 1-2.09V6.25c-1.09.53-2 1.84-2 3.25C6 11.31 7.55 13 9 13h4c1.45 0 3-1.69 3-3.5S14.5 6 13 6z">
							</path>
						</svg>
					</a>5. Deleting your information
				</h2>

				<p>You can change or delete any optional information that you've provided us at any time.
					If you change or delete any optional information you've provided, the change will take place
					immediately on the Service.  However, caching or references to the data, including in third
					party applications based on the Service, may mean that formerly available data remains available
					for some time.
				</p>

				<p>As part of the day to day operation of the Service, we will make regular copies of the
					data contained in the databases for backup purposes. These backups can potentially contain
					deleted data for several weeks or months. These backups will also be governed by the rules
					for Disclosure of Personal Data.
				</p>

				<h2>
					<a id="user-content-7-contacting-us" class="anchor" href="#7-contacting-us" aria-hidden="true">
						<svg aria-hidden="true" class="octicon octicon-link" height="16" version="1.1" viewBox="0 0 16 16" width="16">
							<path d="M4 9h1v1H4c-1.5 0-3-1.69-3-3.5S2.55 3 4 3h4c1.45 0 3 1.69 3 3.5 0 1.41-.91 2.72-2 3.25V8.59c.58-.45 1-1.27 1-2.09C10 5.22 8.98 4 8 4H4c-.98 0-2 1.22-2 2.5S3 9 4 9zm9-3h-1v1h1c1 0 2 1.22 2 2.5S13.98 12 13 12H9c-.98 0-2-1.22-2-2.5 0-.83.42-1.64 1-2.09V6.25c-1.09.53-2 1.84-2 3.25C6 11.31 7.55 13 9 13h4c1.45 0 3-1.69 3-3.5S14.5 6 13 6z">
							</path>
						</svg>
					</a>6. Contacting us
				</h2>

				<p>If you have questions about this policy, you can contact us at
					<a href="mailto:admin@kleemablech.com">admin@kleemablech.com
					</a>.
				</p>

				<h2>
					<a id="user-content-8-creative-commons" class="anchor" href="#8-creative-commons" aria-hidden="true">
						<svg aria-hidden="true" class="octicon octicon-link" height="16" version="1.1" viewBox="0 0 16 16" width="16">
							<path d="M4 9h1v1H4c-1.5 0-3-1.69-3-3.5S2.55 3 4 3h4c1.45 0 3 1.69 3 3.5 0 1.41-.91 2.72-2 3.25V8.59c.58-.45 1-1.27 1-2.09C10 5.22 8.98 4 8 4H4c-.98 0-2 1.22-2 2.5S3 9 4 9zm9-3h-1v1h1c1 0 2 1.22 2 2.5S13.98 12 13 12H9c-.98 0-2-1.22-2-2.5 0-.83.42-1.64 1-2.09V6.25c-1.09.53-2 1.84-2 3.25C6 11.31 7.55 13 9 13h4c1.45 0 3-1.69 3-3.5S14.5 6 13 6z">
							</path>
						</svg>
					</a>7. Creative Commons
				</h2>

				<p>This privacy policy is based on one developed by Automattic (
					<a href="http://automattic.com/privacy/">http://automattic.com/privacy/
					</a>) and amended by Dreamwidth (
					<a href="http://dreamwidth.org/legal/privacy">http://dreamwidth.org/legal/privacy
					</a>) and is licensed under a
					<a href="http://creativecommons.org/licenses/by-sa/2.5/">Creative Commons Attribution-ShareAlike 2.5 License
					</a>.
				</p>
			</article>
		</div>
	</div>
{% endblock %}
