{% extends "base.html" %}

{% load i18n   %}
{% load static %}

{% block title %}User: {{ object.username }}{% endblock %}

{% block content %}
	<a href="#" class="subShow"></a>
	<div class="block-submenu">
		<div class="container">
			<a href="#" class="subClose"></a>
			<ul>
				<li {% if current_tab == 'dashboard' %}class="current"{% endif %}>
					<a href="{% url 'dashboard' %}">
						<i class="VueG"></i>
						<span>Vue Globale</span>
					</a>
				</li>
				<li {% if current_tab == 'transfert' %}class="current"{% endif %}>
					<a href="{% url 'transfert' %}">
						<i class="transfert"></i>
						<span>Transfert</span>
					</a>
				</li>
				<li {% if current_tab == 'history' %}class="current"{% endif %}>
					<a href="{% url 'history' %}">
						<i class="history"></i>
						<span>Historique</span>
					</a>
				</li>
				<li {% if current_tab == 'parameters' %}class="current"{% endif %}>
					<a href="{% url 'parameters' %}">
						<i class="parametre"></i>
						<span>Paramètres</span>
					</a>
				</li>
			</ul>
		</div>
	</div>
	{% block profile_tab %}
	{% endblock %}
	<div class="clearfix"></div>
{% endblock content %}
