{% extends "base.html" %}

{% load i18n          %}
{% load static        %}
{% load widget_tweaks %}

{% block title %}{% trans 'Share with your friends !' %}{% endblock %}

{% block bodyclass %}parrainage{% endblock %}

{% block content %}
	<div class="blocksignin">
		<div class="block-overlay">
			<div class="container">
				<div class="col-md-offset-4 col-sm-offset-1 col-md-4 col-sm-10 col-xs-12 connexion">
					<div class="row">
						<div class="title">
							<h2>Parrainner un(e) ami(e)</h2>
							<p>Il vous reste {{ remaining_sponsorships }}/{{ authorized_sponsorships }} demande(s) de parrainage</p>
						</div>
						<form role="form" id="sponsorship_form" action="{% url 'sponsorship' %}" method="POST" data-toggle="validator">
							{% csrf_token %}
							<div class="col-sm-12 col-xs-12 socialbox">
								<div class="form-group">
									<label class="icon" for="name"><i class="fa fa-name"></i></label>
									{% render_field form.guest_name class="form-control" placeholder="Nom de votre ami(e)" required="true"%}
									<div class="help-block with-errors"></div>
								</div>
								<div class="form-group">
									<label class="icon" for="name"><i class="fa fa-envelope"></i></label>
									{% render_field form.guest_email class="form-control" placeholder="E-mail" type="email" required="true"%}
									<div class="help-block with-errors"></div>
								</div>
								<button class="btn btn-custum " type="submit">Parrainer</button>
							</div>
						</form>
						<div class="clearfix"></div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class='notifications center-bottom' align="center"></div>
{% endblock content %}

{% block extra_js %}
	<script src="{% static 'js/sponsorship.js' %}"></script>
{% endblock %}
