{% extends "base.html" %}

{% load i18n               %}
{% load static             %}
{% load widget_tweaks      %}
{% load cropping thumbnail %}

{% block title %}{% trans "Step2" %}{% endblock title%}

{% block bodyclass %}One-more-step{% endblock %}

{% block css %}
	{{ block.super }}
	<style>
		#cropping_form > :not(.jcrop-image) {
			display: none;
		}
		.jcrop-image {
			margin: auto;
		}
		#profile_picture_selected {
			position: absolute;
			z-index : 0;
		}
	</style>
{% endblock %}

{% block content %}
	<div class="modal fade" role="dialog" id="cropping_modal" style="top: calc(50% - 200px) !important;">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
					<h4 class="modal-title" >Image de profil</h4>
				</div>
				<div class="modal-body"></div>
				<div class="modal-footer">
					<button type="button" class="btn btn-primary">Enregistrer</button>
				</div>
			</div>
		</div>
	</div>

	<div class="blocksignin">
		<div class="block-overlay">
			<div class="container">
				<div class="col-md-offset-4 col-sm-offset-1 col-md-4 col-sm-10 col-xs-12 connexion">
					<div class="row">
						<div class="title">
							<h2>One more step ;)</h2>
							<p>Veuillez uploader votre photo !</p>
						</div>
						<form id="signup_step2_form" role="form" action="{% url 'signup_step2' %}"
							  method="post" enctype="multipart/form-data" data-toggle="validator" >
							  {% csrf_token %}
							  <div class="imageUpload">
								  <img id="profile-pic" class="profile-pic" src="{% static 'img/photos-user.jpg' %}" width="128" height="128"/>
								  <a href="#" class="addPhotos">+</a>
								  {% render_field form.picture class='file-upload' style="display: none;" %}
								  <h4>{{ user.first_name }} {{ user.last_name }}</h4>
								  <input id="profile_picture_selected" type="checkbox" required="true">
							  </div>
							  <div class="col-sm-12 col-xs-12 socialbox">
								  <div class="form-group">
									  <label class="icon" for="phone"><i class="fa fa-phones"></i></label>
									  {% render_field form.phone data-remote='/check_phone_number' placeholder='Numéro du mobile' class='form-control' required='true'%}
									  <div class="help-block with-errors"></div>
								  </div>
								  <div class="checked-option">
									  <label>
										  <input type="checkbox" value="2" required="true">
										  J'ai lu et accepté les conditions générales d'utilisation du site Kleemablech.com</label>
								  </div>
								  <button class="btn btn-custum " type="submit">Valider</button>
							  </div>
						</form>
						<div class="clearfix"></div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class='notifications center-bottom' align="center"></div>
{% endblock content %}

{% block extra_js %}
	{{ form.media }}
	<script src="{% static 'js/signup_step2.js' %}"></script>
	<script>
		var picture_upload_url = "{% url 'picture_upload' %}";
	</script>
{% endblock %}
