{% extends "pages/profile_base.html" %}

{% load i18n          %}
{% load static        %}
{% load widget_tweaks %}

{% block content %}
	{% with 'transfert' as current_tab %}
		{{block.super}}
	{% endwith %}
{% endblock content %}

{% block title %}{% trans "Transfert" %}{% endblock title %}

{% block css %}
	{{block.super}}
	<link rel="stylesheet" href="{% static 'css/bootstrap-notify.css'%}">
{% endblock %}

{% block profile_tab %}
<section class="dashboardpage">
	<div class="container">
		<div class="row">
			<div class="top-transfert">
				<div class="boxCredit">
					Votre solde est
					<span class="creditNum">
						{{ credit_dinars }}<sup>dt</sup>
						<span>{{ credit_millimes }}</span>
					</span>
				</div>
				<p>
					Vous pouvez choisir le montant à transférer, le montant doit être supérieur ou égale à 1 dinar.
					<br>
					Le transfert prendra 24h pour être effectué.
				</p>
			</div>
			<div class="col-md-offset-4 col-sm-offset-1 col-md-4 col-sm-10 col-xs-12 connexion">
				<div class="row">
					<div class="title">
						<p>Veuillez choisir le numéro et le montant à transférer</p>
					</div>
					<div class="phone-slide">
						<ul class="slides">
							{% for phone in user.phonenumber_set.all %}
								<li>
									<div class="logo-or">
										{% if phone.operator == "ooredoo" %}
											<img src="{% static 'images/ooredoo.png' %}">
										{% elif phone.operator == "orange" %}
											<img src="{% static 'images/orange.png' %}">
										{% elif phone.operator == "tunisie_telecom" %}
											<img src="{% static 'images/tunisie_telecom.png' %}">
										{% endif %}
									</div>
									<div class="numchrge">{{ phone.number }}</div>
								</li>
							{% endfor %}
						</ul>
					</div>
					<form role="form" id="transfert_form" action="{% url 'transfert' %}" method="post" data-toggle="validator">
						{% csrf_token %}
						{{ form.number }}
						<div class="col-sm-12 col-xs-12 socialbox">
							<div class="form-group">
								<label class="icon" for="montant">
									<i class="fa fa-montant"></i>
								</label>
								{% blocktrans asvar error_msg %}
									Please select a numerical value between 1 and {{total_credit}}
								{% endblocktrans %}
								{% render_field form.amount placeholder="Montant à recharger" class="form-control" required="true" type="number" min="1" max=total_credit data-error=error_msg %}
								<div class="help-block with-errors"></div>
							</div>
							<button class="btn btn-custum " type="submit">Valider</button>
						</div>
					</form>
					<div class="clearfix"></div>
				</div>
			</div>
		</div>
	</div>
</section>
<div class="clearfix"></div>
<div class='notifications center-bottom' align="center"></div>
{% endblock %}

{% block extra_js %}
	<script src="{% static 'js/transfert.js' %}"></script>
{% endblock %}
