{% extends "base.html" %}

{% load i18n   %}
{% load static %}

{% block title %}{% trans 'Video' %}{% endblock %}

{% block bodyclass %}video-page{% endblock %}

{% block css %}
	{{ block.super }}
	<style>
		body{
			background: url({{ campaign.image.url }}) no-repeat 0 0!important;
			background-size: cover!important;
		}
	</style>
{% endblock %}

{% block content %}
	<div class=" blockvideo">
		<div class="container">
			<div class="row">
				<div class="col-md-6 col-sm-8 col-xs-12 boxVideo">
					<h2 class="center">{{ "Félicitations"|upper }}</h2>
					<span class="win-msg"></span>
					<div class="number-win">
						<span class="counter">
							<div id="counter"></div>
						</span>
					</div>
					{% if not already_viewed %}
					<div class="text-bottom no-boder">
						<p>Veuillez confirmer votre gain en cliquant sur le bouton "Suivant".</p>
					</div>
					<div class="box-dutton">
						<form action="" method="POST">
							{% csrf_token %}
							<input type="hidden" id="verification_code" name="verification_code" value="{{ verification_code }}"/>
							<button class="btn btn-custum" type="submit" style="margin: 0 auto;">Suivant</button>
						</form>
					</div>
					{% else %}
					<div class="text-bottom no-boder">
						<p>{% blocktrans %}Thanks for watching this video{% endblocktrans %}</p>
					</div>
					<div class="box-dutton">
						<a href="{% url 'home' %}" class="btn btn-custum" type="submit" style="margin: 0 auto;">Suivant</a>
					</div>
					{% endif %}
					<div class="boxpartage">
						<ul class="list-inline">
							<li>
								<a class="btnShare" href="#"><i class="fa fa-share-alt"></i>Partager</a>
							</li>
							<li>
								<a class="btnSendFriend" href="#"><i class="fa fa-envelope"></i>Envoyer à un ami</a>
							</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>
{% endblock content %}

{% block extra_js %}
	<script>
		var home_url          = "{% url 'home'          %}";
		var already_viewed    = {{ already_viewed|yesno:'true,false' }};
		var video_timeout_url = "{% url 'video_timeout' %}";
	</script>
	<script src="{% static 'js/video_counter.js'                      %}"></script>
	<script src="{% static 'js/plugins/countdown/jquery.countdown.js' %}"></script>
{% endblock %}
