{% extends "base.html" %}

{% load i18n   %}
{% load static %}

{% block title %}{% trans 'Video' %}{% endblock %}

{% block bodyclass %}video-page{% endblock %}

{% block css %}
	{{ block.super }}
	<style>
		body{
			background: url({{ campaign.image.url }}) no-repeat 0 0!important;
			background-size: cover!important;
		}
	</style>
{% endblock %}

{% block content %}
	<div class=" blockvideo">
		<div class="container">
			<div class="row">
				<div class="col-sm-12 boxPlay">
					<div id="player"></div>
				</div>
			</div>
		</div>
	</div>
{% endblock content %}

{% block extra_js %}
	<script>
		var video_width       = {{ video_width }};
		var video_height      = {{ video_height}};
		var video_media_url   = '{{ campaign.video.url }}';
		var video_counter_url = '{% url 'video_counter' campaign.id %}';
	</script>
	<script src="{% static 'player/jwplayer.js' %}"></script>
	<script src="{% static 'js/video_player.js' %}"></script>
{% endblock %}
