{% extends "base.html" %}

{% load i18n   %}
{% load static %}

{% block title %}{% trans 'Video' %}{% endblock %}

{% block bodyclass %}video-page{% endblock %}

{% block css %}
	{{ block.super }}
	<style>
		body{
			background: url({{ campaign.image.url }}) no-repeat 0 0!important;
			background-size: cover!important;
		}
	</style>
{% endblock %}

{% block content %}
	<div class=" blockvideo">
		<div class="container">
			<div class="row">
				<div class="col-md-5 col-sm-8 col-xs-12 boxVideo">
					<h2>{{ campaign.brand }}</h2>
					<h3>{{ campaign.title }}<br>
						Gagnez au moins {{ campaign.cumulative_win_amount }} millimes ou directement {{ campaign.direct_win_amount }}dt si la chance vous sourit.</h3>
						<div class="col-md-7 col-sm-7 col-xs-12 block-num">
							<div class="boxStats">
								<span class="icosStats icos-money"></span>
								<div class="mr10 pt5 pull-left">
									<div class="statsTitle"> {{ campaign.total_amount_sum }} <sup>dt</sup></div>
									<div class="statsSubTitle">De recharge à gagner.</div>
								</div>
							</div>
							<div class="boxStats">
								<span class="icosStats icos-vues"></span>
								<div class="mr10 pt5 pull-left">
									<div class="statsTitle">{{ campaign.total_views }}</div>
									<div class="statsSubTitle"> Vue{{ campaign.total_views|pluralize }}.</div>
								</div>
							</div>
							<div class="boxStats">
								<span class="icosStats icos-users"></span>
								<div class="mr10 pt5 pull-left">
									<div class="statsTitle">{{ campaign.winners_total }}</div>
									<div class="statsSubTitle"> Gagnant{{ campaign.winners_total|pluralize }} déjà.</div>
								</div>
							</div>
						</div>
						<div class="col-md-4 col-sm-5 col-xs-12 ">
							<div class="Statinfos" data-dimension="150" data-text="{{ campaign.winable_percentage }}%"
								 data-info="encore à gagner" data-width="17" data-fontsize="30" data-percent="{{ campaign.winable_percentage }}"
								 data-fgcolor="rgba(255,255,255,0.5)" data-bgcolor="rgba(0,0,0,.2)">
							</div>
						</div>
						<div class="clearfix"></div>
						<div class="text-bottom">
							<p>N'oubliez pas, un tirage au sort vous permettra peut-être de gagner {{ campaign.draw_amount }}dt à la fin de la campagne.</p>
						</div>
						<div class="block-player"><a class="play" href="{% url 'video_player' campaign.id %}"></a></div>
						<div class="boxpartage">
							<ul class="list-inline">
								<li><a class="btnShare" href="#"><i class="fa fa-share-alt"></i> Partager</a></li>
								<li><a class="btnSendFriend" href="#"><i class="fa fa-envelope"></i> Envoyer à un ami</a>
								</li>
							</ul>
						</div>
				</div>
			</div>
		</div>
	</div>
{% endblock content %}

{% block extra_js %}
	<script>
		var video_already_viewed = {{ already_viewed|yesno:"true,false"}};
	</script>
	<script src="{% static 'js/video_information.js' %}"></script>
{% endblock %}
