{% extends "base.html" %}

{% load i18n   %}
{% load static %}

{% block title %}{% trans flatpage.title  %}{% endblock %}

{% block content %}
	<div class="block-pagetitle">
		<div class="container">
			<h2>{{ flatpage.title }}</h2>
		</div>
	</div>

	<div class="container">
		{{ flatpage.content }}
	</div>
{% endblock %}
