{% extends "base.html" %}

{% load i18n   %}
{% load static %}

{% block content %}
<div class="block-pagetitle">
	<div class="container">
		<h2>{% block title %}{% endblock title %}</h2>
	</div>
</div>

<div class="contactpage">
	<div class="container">
		<div class="col-sm-8 col-sm-offset-2 connexion">
			<div class="row">
				<div class="title">
					<h2>{% block message %}{% endblock %}</h2>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="clearfix"></div>
{% endblock %}
