{% extends "account/base.html" %}

{% load i18n    %}
{% load account %}

{% block head_title %}{% trans "Confirm E-mail Address" %}{% endblock %}

{% block content %}
<div class="container">
	<div class="row">
		<div class="col-xs-12">
			<h2>{% trans "Confirm E-mail Address" %}</h2>
			{% user_display email_address.user as user_display %}
			<p>{% blocktrans with email_address.email as email %}You have confirmed that <a href="mailto:{{ email }}">{{ email }}</a> is an e-mail address for user {{ user_display }}.{% endblocktrans %}</p>
		</div>
	</div>
</div>
{% endblock %}
