{% extends "account/base.html" %}

{% load i18n              %}
{% load static            %}
{% load account           %}
{% load socialaccount     %}
{% load widget_tweaks     %}
{% load crispy_forms_tags %}

{% block title %}{% trans "Connexion" %}{% endblock title%}

{% block content %}
	{% get_providers as socialaccount_providers %}
	<div class="blocksignin">
		<div class="block-overlay">
			<div class="container">
				<div class="col-sm-8 col-sm-offset-2 connexion">
					<div class="row">
						<div class="title">
							<h2>Connexion</h2>
							<p>Vous avez déja un compte ? Excellent ! Connexion ici</p>
						</div>
						<div class="col-sm-6 col-xs-12 loginbox">
							<span class="ou"> ou</span>
							<form role="form" action="{% url 'account_login' %}" method="post" data-toggle="validator">
							{% csrf_token %}
								<input type="hidden" name="next" id="id_next" value="{{ request.GET.next }}"/>
								<div class="form-group">
									<label class="icon" for="login"><i class="fa fa-envelope"></i></label>
									{% render_field form.login placeholder="E-mail" class="form-control" type="email" required="true" %}
									<div class="help-block with-errors"></div>
								</div>
								<div class="form-group">
									<label class="icon pwd" for="password"><i class="fa fa-lock "></i></label>
									{% render_field form.password placeholder="Mot de passe" class="form-control" type="password" required="true" %}
									<div class="help-block with-errors"></div>
								</div>
								<button class="btn btn-custum pull-right" type="submit">Login</button>
							</form>
						</div>
						<div class="col-sm-6 col-xs-12 socialbox">
							<a href="{% provider_login_url 'facebook' method='oauth2' %}" class="fbook">
								<span class="icon" for="name">
									<i class="fa fa-facebook"></i>
								</span>S'inscrire via facebook</a>
							<a href="{% provider_login_url 'google' %}" class="gplus">
								<span class="icon" for="name">
									<i class="fa fa-google-plus"></i>
								</span>S'inscrire via google plus</a>
						</div>
						<div class="clearfix"></div>
						<div class="bottomlogin">
							<p>Mot de passe oublié ? <a href="{% url 'account_reset_password' %}">Par ici</a></p>
							<p>Vous n'avez pas encore un compte ? <a href="{% url 'account_signup' %}">Par ici</a></p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class='notifications center-bottom' align="center"></div>
{% endblock %}


{% block extra_js %}
<script src="{% static 'js/vendor/bootstrap.min.js' %}"></script>
<script src="{% static 'js/bootstrap-notify.js'     %}"></script>
<script src="{% static 'js/validator.js'            %}"></script>

{% if form.errors %}
<script>
jQuery(function($) {
	$('.top-left').notify({
		type   : 'danger',
		message: { text: "{% trans 'invalid login or password' %}" }
	}).show();
});
</script>
{% endif %}

{% endblock %}
