{% extends "base.html" %}

{% load i18n              %}
{% load static            %}
{% load account           %}
{% load widget_tweaks     %}
{% load crispy_forms_tags %}

{% block head_title %}{% trans "Change Password" %}{% endblock %}

{% block content %}
	<div class="block-pagetitle">
		<div class="container">
			<h2>{% trans "Change Password" %}</h2>
		</div>
	</div>
	<div class="contactpage">
		<div class="container">
			<div class="col-sm-8 col-sm-offset-2 connexion">
				<div class="row">
					<form role="form" method="POST" action="./" class="password_change">
						{% csrf_token %}
						<div class="col-sm-6 col-xs-6 ">
							<div class="form-group">
								<label class="icon" for="e-mail"><i class="fa fa-envelope"></i></label>
								{% render_field form.oldpassword placeholder="Mot de passe actuel" class="form-control" type="password" %}
							</div>
						</div>
						<div class="col-sm-6 col-xs-6 ">
							<div class="form-group">
								<label class="icon" for="e-mail"><i class="fa fa-envelope"></i></label>
								{% render_field form.password1 placeholder="Nouveau mot de passe" class="form-control" type="password" %}
							</div>
						</div>
						<div class="col-sm-6 col-xs-6 ">
							<div class="form-group">
								<label class="icon" for="e-mail"><i class="fa fa-envelope"></i></label>
								{% render_field form.password2 placeholder="Nouveau mot de passe (encore)" class="form-control" type="password" %}
							</div>
						</div>
						<div class="col-sm-6 col-xs-6 ">
							<button class="btn btn-custum" type="submit">{% trans "Change Password" %}</button>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
	<div class="clearfix"></div>
{% endblock %}
