{% extends "account/base.html" %}

{% load i18n              %}
{% load static            %}
{% load account           %}
{% load widget_tweaks     %}
{% load crispy_forms_tags %}

{% block title %}{% trans "Password Reset" %}{% endblock %}

{% block css %}
{{block.super}}
<link rel="stylesheet" href="{% static 'css/bootstrap-notify.css' %}">
{% endblock %}

{% block content %}
<div class="block-pagetitle">
	<div class="container">
		<h2>Mot de passe oublié ?</h2>
	</div>
</div>
<div class="contactpage">
	<div class="container">
		<div class="col-sm-8 col-sm-offset-2 connexion">
			<div class="row">
				<div class="title">
					<h2>Indiquez votre adresse e-mail ci-dessous et nous vous enverrons un e-mail pour le réinitialiser.</h2>
				</div>
				<form role="form" method="POST" action="./" class="password_reset" data-toggle="validator">
					{% csrf_token %}
					<div class="col-sm-12 col-xs-6">
						<div class="form-group">
							<label class="icon" for="e-mail"><i class="fa fa-envelope"></i></label>
							{% render_field form.email placeholder="E-mail" class="form-control" type="email" required="true" %}
							<div class="help-block with-errors"></div>
						</div>
					</div>
					<div class="col-sm-12 col-xs-6" align="center">
						<button class="btn btn-custum" type="submit">{% trans "Reset My Password" %}</button>
					</div>
				</form>
			</div>
		</div>
	</div>
</div>
<div class="clearfix"></div>
<div class='notifications center-bottom' align="center"></div>
{% endblock %}

{% block extra_js %}
<script src="{% static 'js/vendor/bootstrap.min.js' %}"></script>
<script src="{% static 'js/bootstrap-notify.js'     %}"></script>
<script src="{% static 'js/validator.js'            %}"></script>

{% if form.errors %}
<script>
	jQuery(function($) {
		$('.top-left').notify({
			type   : 'danger',
			message: { text: "{% trans 'this email is not registred in the system' %}" }
		}).show();
		$("#id_email").focus();
	});
</script>
{% endif %}
{% endblock %}
