{% extends "account/base.html" %}

{% load i18n              %}
{% load static            %}
{% load widget_tweaks     %}
{% load crispy_forms_tags %}

{% block head_title %}{% trans "Change Password" %}{% endblock %}

{% block content %}
	<div class="block-pagetitle">
		<div class="container">
			<h2>{% if token_fail %}{% trans "Bad Token" %}{% else %}{% trans "Change Password" %}{% endif %}</h2>
		</div>
	</div>
	<div class="container">
		<div class="row">
			<div class="col-xs-12">
				<div class="contactpage">
					<div class="container">
						<div class="col-sm-8 col-sm-offset-2 connexion">
							{% if token_fail %}
								{% url 'account_reset_password' as passwd_reset_url %}
								<p>{% blocktrans %}The password reset link was invalid, possibly because it has already been used. Please request a <a href="{{ passwd_reset_url }}">new password reset</a>.{% endblocktrans %}</p>
							{% else %}
								{% if form %}
									<div class="row">
										<form role="form" method="POST" action="./">
											{% csrf_token %}
											<div class="col-sm-6 col-xs-6 ">
												<div class="form-group">
													<label class="icon" for="e-mail">
														<i class="fa fa-envelope"></i></label>
													{% render_field form.password1 placeholder="Nouveau mot de passe" class="form-control" type="password" %}
												</div>
											</div>
											<div class="col-sm-6 col-xs-6 ">
												<div class="form-group">
													<label class="icon" for="e-mail">
														<i class="fa fa-envelope"></i></label>
													{% render_field form.password2 placeholder="Nouveau mot de passe (encore)" class="form-control" type="password" %}
												</div>
											</div>
											<div class="col-sm-6 col-xs-6 ">
												<button class="btn btn-custum" type="submit">{% trans "Change Password" %}</button>
											</div>
										</form>
									</div>
								{% else %}
									<p>{% trans 'Your password is now changed.' %}</p>
								{% endif %}
							{% endif %}
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
{% endblock %}
