{% extends "account/base.html" %}

{% load i18n crispy_forms_tags %}

{% block head_title %}{% trans "Set Password" %}{% endblock %}

{% block content %}
<div class="container">
	<div class="row">
		<div class="col-md-5">
			<h2>{% trans "Set Password" %}</h2>
			<form method="POST" action="./" class="password_set">
				{% csrf_token %}
				{{ form|crispy }}
				<input type="submit" name="action" value="{% trans "Set Password" %}"/>
			</form>
		</div>
	</div>
</div>
{% endblock %}
