{% extends "account/base.html" %}

{% load i18n          %}
{% load static        %}
{% load recaptcha2    %}
{% load widget_tweaks %}

{% block title %}{% trans "Signup" %}{% endblock title %}

{% block content %}
<div class="blocksignin">
	<div class="block-overlay">
		<div class="container">
			<div class="col-sm-8 col-sm-offset-2 connexion">
				<div class="row">
					<div class="title">
						<h2>S'enregistrer en une seconde</h2>
						<p>Enregistrez vous en utilisant votre adresse mail</p>
					</div>
					<form role="form" id="signup_form" method="post"
						  action="{% url 'account_signup' %}" data-toggle="validator">
						{% csrf_token %}
						{% if redirect_field_value %}
						<input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}"/>
						{% endif %}
						<div class="col-sm-6 col-xs-12 loginbox">
							<div class="form-group">
								<label class="icon" for="gender"><i class="fa fa-gender"></i></label>
								<div class="combo-select">
									{% render_field form.gender placeholder='Gender' class='form-control' required='true' %}
								</div>
								<div class="help-block with-errors"></div>
							</div>
							<div class="form-group">
								<label class="icon" for="first_name"><i class="fa fa-name"></i></label>
								{% render_field form.first_name placeholder='Nom' class='form-control' required='true' %}
								<div class="help-block with-errors"></div>
							</div>
							<div class="form-group">
								<label class="icon" for="last_name"><i class="fa fa-name"></i></label>
								{% render_field form.last_name placeholder='Prénom' class='form-control' required='true' %}
								<div class="help-block with-errors"></div>
							</div>
							<div class="form-group" id="datebox">
								<label class="icon" for="birthday"><i class="fa fa-date"></i></label>
								{% render_field form.birthday placeholder='Date de naissance (JJ/MM/AAAA)' class='form-control' required='true' data-provide='datepicker' data-date-format='dd/mm/yyyy' data-date-language='fr'%}
								<div class="help-block with-errors"></div>
							</div>
							<div class="form-group">
								<div class="checked-option">
									<label class="custom-label" onclick="">
										<input id="confirmation_check" type="checkbox" value="2" style="position: absolute; left: -9999px;" required="true">
										J'ai lu et accepté les conditions générales d'utilisation du site Kleemablech.com</label>
								</div>
							</div>
						</div>
						<div class="col-sm-6 col-xs-12 socialbox">
							<div class="form-group">
								<label class="icon" for="email"><i class="fa fa-envelope"></i></label>
								{% render_field form.email placeholder='E-mail' class='form-control' type='email' required='true' %}
								<div class="help-block with-errors"></div>
							</div>
							<div class="form-group">
								<label class="icon pwd" for="password1"><i class="fa fa-lock "></i></label>
								{% render_field form.password1 class='form-control' type='password' data-minlength='6' required='true' autocomplete='off' %}
								<div class="help-block with-errors"></div>
							</div>
							<div class="form-group">
								<label class="icon pwd" for="password2"><i class="fa fa-lock "></i></label>
								{% render_field form.password2 class='form-control' type='password' data-match='#id_password1' data-minlength='6' required='true' data-toggle='validator' data-match-error='valeur non correspondante' %}
								<div class="help-block with-errors"></div>
							</div>
							<div class="form-group">
								<label class="icon" for="region"><i class="fa fa-region"></i></label>
								<div class="combo-select">
									{% render_field form.region class='form-control' required='true' %}
								</div>
								<div class="help-block with-errors"></div>
							</div>
							<div class="form-group">
								<button id="signup_submit" class="btn btn-custum" type="submit">Créer mon compte</button>
							</div>
						</div>
					</form>
					<div class="clearfix"></div>
					<div class="separate"><span>ou</span></div>
					<div class="bottomlogin">
						<p>Vous pouvez créer votre compte a partir de :</p>
						<ul class="social-list">
							<li>
								<a href="https://www.facebook.com/" target="_blank">
									<span class="social-icon facebook">
										<i class="fa fa-facebook"></i>
									</span>
								</a>
							</li>
							<li>
								<a href="https://plus.google.com/" target="_blank">
									<span class="social-icon gogplus">
										<i class="fa fa-google-plus"></i>
									</span>
								</a>
							</li>
						</ul>
						<p>Connexion ? <a href="{{ login_url }}">Par ici</a></p>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
{% endblock content %}

{% block extra_js %}
<script type="text/javascript" src="{% static 'js/validator.js' %}"></script>
<script type="text/javascript" src="{% static 'js/signup.js'    %}"></script>
{% endblock %}
